<footer>
	<div class="footer_inner cf">
		<div class="left_box">
			<figure><a href="/"><img src="/pc/image/common/footer_logo.png" alt="風俗求人・高収入アルバイト情報ジョイスペ"></a></figure>
			<ul class="btn_wrap">
                {% if is_visitor %}
                    <li><a href="{{ main_url }}user/login/" class="btn_style btn_green">ログイン</a></li>
                    <li><a href="{{ main_url }}user/signup/" class="btn_style btn_red">新規会員登録</a></li>
                {% endif %}
			</ul>
		</div>
		<div class="right_box">
			<dl class="nav_aruaru">
				<dt><a href="/">みんなのあるある掲示板</a></dt>
				<dd>
					<ul>
						<li><a href="/">サイトトップ</a></li>
                         {% if not is_visitor %}
						<li><a href="/my_page">マイページ</a></li>
                        {% endif %}
						<li><a href="/page_theme">お題を作る</a></li>
					</ul>
				</dd>
				<dt><a href="./">カテゴリー一覧</a></dt>
				<dd>
					<ul class="detail">
						<li><a href="/bulletin/1">男女</a></li>
						<li><a href="/bulletin/2">結婚</a></li>
						<li><a href="/bulletin/3">セックス</a></li>
						<li><a href="/bulletin/4">チャットレディ</a></li>
						<li><a href="/bulletin/5">風俗嬢</a></li>
						<li><a href="/bulletin/6">キャバ嬢</a></li>
						<li><a href="/bulletin/7">バンギャ</a></li>
						<li><a href="/bulletin/8">ジャニオタ</a></li>
						<li><a href="/bulletin/9">ホスト</a></li>
						<li><a href="/bulletin/10">パチンコ・パチスロ</a></li>
						<li><a href="/bulletin/11">芸能</a></li>
						<li><a href="/bulletin/12">その他</a></li>
					</ul>
				</dd>
			</dl>
			<dl class="nav_joyspe">
				<dt><a href="{{ main_url }}">全国の風俗求人情報</a></dt>
				<dd>
					<ul>
						<li><a href="{{ main_url }}user/jobs/hokkaido/">北海道・東北</a></li>
						<li><a href="{{ main_url }}user/jobs/kanto/">関東</a></li>
						<li><a href="{{ main_url }}user/jobs/kitakanto/">北関東</a></li>
						<li><a href="{{ main_url }}user/jobs/hokuriku/">北陸・甲信越</a></li>
						<li><a href="{{ main_url }}user/jobs/tokai/">東海</a></li>
						<li><a href="{{ main_url }}user/jobs/kansai/">関西</a></li>
						<li><a href="{{ main_url }}user/jobs/shikoku/">中国・四国</a></li>
						<li><a href="{{ main_url }}user/jobs/kyushu/">九州・沖縄</a></li>
					</ul>
				</dd>
			</dl>
		<dl class="nav_onayami">
				<dt><a href="https://onayami.joyspe.com/">女性のお悩み相談室</a></dt>
				<dd>
					<ul>
						<li><a href="https://onayami.joyspe.com/cate1">性（セックス）</a></li>
						<li><a href="https://onayami.joyspe.com/cate2">恋愛と結婚</a></li>
						<li><a href="https://onayami.joyspe.com/cate3">カラダ</a></li>
						<li><a href="https://onayami.joyspe.com/cate4">生理</a></li>
						<li><a href="https://onayami.joyspe.com/cate5">バスト（おっぱい）</a></li>
						<li><a href="https://onayami.joyspe.com/cate6">性交痛</a></li>
						<li><a href="https://onayami.joyspe.com/cate7">妊娠・出産・産後</a></li>
						<li><a href="https://onayami.joyspe.com/cate8">オナニー</a></li>
						<li><a href="https://onayami.joyspe.com/cate9">コンドーム</a></li>
						<li><a href="https://onayami.joyspe.com/cate10">男性の性</a></li>
						<li><a href="https://onayami.joyspe.com/cate11">シングルマザー</a></li>
						<li><a href="https://onayami.joyspe.com/cate12">男性に答えて欲しい</a></li>
						<li><a href="https://onayami.joyspe.com/cate13">風俗のお仕事</a></li>
						<li><a href="https://onayami.joyspe.com/cate14">チャットレディ</a></li>
					</ul>
				</dd>
			</dl>
			<ul class="footer_sitemap">
				<li><a href="/tos">利用規約</a></li>
				<li><a href="/company">会社概要</a></li>
				<li><a href="/privacy">個人情報の取扱い</a></li>
				<li><a href="/faq">よくある質問</a></li>
				<li><a href="/contact">お問い合わせ</a></li>
			</ul>
		</div>
	</div>
	<small>Copyright &copy; あるある掲示板 All Rights Reserved.</small> </footer>
<p id="page_top"><a href="body"><i class="fa fa-chevron-up"></i></a></p>
