<div id="loading" style="display:none;"><img src="/pc/image/common/gif-load.gif"></div>
<header class="header_wrap">
	<div class="header">
		<div class="header_inner cf">
			<div class="left_box">
				<h1 class="site_logo"><a href="/"><img src="/pc/image/common/logo.png" alt="あるある掲示板へ"></a></h1>
			</div>
			<div class="right_box">
				<div class="header_block"> 
					<ul class="header_account_menu btn_wrap">
                    {% if is_visitor %}
						<li><a href="{{ main_url }}user/login/" class="btn_style btn_green">ログイン</a></li>
						<li><a href="{{ main_url }}user/signup/" class="btn_style btn_red">新規会員登録</a></li>
                        <li><a href="/page_theme" class="btn_style btn_orange">お題を作る</a></li>
                    {% else %}
                        <li><a href="/page_theme" class="btn_style btn_orange">お題を作る</a></li>
                        <li><a href="javascript:void(0);" class="btn_style btn_gray" onclick="doLogout();" id="btn_logout">ログアウト</a></li>
                    {% endif %}
						
					</ul>
					<ul class="header_account_menu btn_wrap social">
						<li><a href="https://twitter.com/share?url={{home_url}}&text=あるある掲示板 ジョイスペ" target="_blank" class="btn_sns tweet">Tweet</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<nav class="header_nav">
		<div class="header_inner">
			<ul>
				<li><a class="men_women {% if active == 1 %} on {% endif %}" href="/bulletin/1">男女</a></li>
				<li><a class="marriage {% if active == 2 %} on {% endif %}" href="/bulletin/2">結婚</a></li>
				<li><a class="sex {% if active == 3 %} on {% endif %}" href="/bulletin/3">セックス</a></li>
				<li><a class="chat_lady  new_line {% if active == 4 %} on {% endif %}" href="/bulletin/4">チャット<br>レディ</a></li>
				<li><a class="take_care {% if active == 5 %} on {% endif %}" href="/bulletin/5">風俗嬢</a></li>
				<li><a class="cabaret {% if active == 6 %} on {% endif %}" href="/bulletin/6">キャバ嬢</a></li>
				<li><a class="band {% if active == 7 %} on {% endif %}" href="/bulletin/7">バンギャ</a></li>
				<li><a class="johnny {% if active == 8 %} on {% endif %}" href="/bulletin/8">ジャニオタ</a></li>
				<li><a class="host {% if active == 9 %} on {% endif %}" href="/bulletin/9">ホスト</a></li>
				<li><a class="gambling new_line {% if active == 10 %} on {% endif %}" href="/bulletin/10">パチンコ<br>
					パチスロ</a></li>
				<li><a class="entertainment {% if active == 11 %} on {% endif %}" href="/bulletin/11">芸能</a></li>
				<li><a class="others {% if active == 12 %} on {% endif %}" href="/bulletin/12">その他</a></li>
			</ul>
		</div>
	</nav>
	{% if isBreadCrumb %}
	<nav class="breadcrumb">
		<div class="header_inner">
			<ul>
			{% for entry in breadcrumb_list %}
				{% if entry.url == '' %}
				<li><a href="">{{ entry.text }}</a></li>
				{% else %}
				<li><a href="{{ entry.url }}">{{ entry.text }}</a></li>
				{% endif %}
<!--				<li><a href="{{ base_url }}">トップページ</a></li> -->
<!--				<li><a href="{{ base_url }}">次のぱんくず</a></li> -->
			{% endfor %}
			</ul>
		</div>
	</nav>
	{% endif %}		
</header>