<link rel="shortcut icon" href="/pc/image/icon/favicon.ico">
<link rel="stylesheet" href="/pc/css/reset.css">
<link rel="stylesheet" href="/pc/css/html5reset.css">
<link rel="stylesheet" href="/pc/css/adjust.css">
<link rel="stylesheet" href="/pc/css/common.css?v=20160712">
<link rel="stylesheet" href="/pc/css/component.css">
<link rel="stylesheet" href="/pc/css/sidebar.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script src="/pc/js/jquery-1.11.0.js"></script>
<script src="/pc/js/commonAll.js?v=20160712"></script>