<aside class="sidebar">
	<section class="sec sec_mypage_setting m_b_30">
		<h3 class="sec_ttl">各種設定変更</h3>
		<ul>
			<li> <a href="{{ main_url }}user/settings/basic/" class="ic ic_angle-right"><span class="sec_list_inner"><i class="fa fa-key fa-fw"></i>パスワードの変更</span></a> </li>
			<li> <a href="{{ main_url }}user/settings/" class="ic ic_angle-right"><span class="sec_list_inner"><i class="fa fa-smile-o fa-fw"></i>登録情報の変更</span></a> </li>
		</ul>
	</section>
</aside>
