<aside class="sidebar">
	<section class="sec sec_attention_list m_b_30">
		<h3 class="sec_ttl attention ic ic_eye">注目のあるある</h3>
		<ul>
			{% for post in popular %}
			<li> 
				<a href="/reaction/{{ post.id }}">
					<p class="posted_ttl">{{ post.title }}</p>
				</a> 
			</li>
			{% endfor %}
		</ul>
	</section>
	<section class="sec sec_side_banner">
		<ul>
			<!-- <li><img src="/pc/image/banner/sample_3.png" alt=""></li> -->
			<li><a href="{{main_url}}" alt="風俗求人高収入アルバイト"><img src="/sp/image/banner/sample_2.gif" alt=""></a></li>
		</ul>
	</section>
</aside>
