.sec_bbs_list .sec_inner .bbs_list .content_ttl {
	word-wrap: break-word;
}
.sec_404 .sec_ttl {
    color: #5A5A5A;
    font-weight: bold;
    padding: 0.5rem 2%;
    border-top: #B7B4B4 solid 1px;
    border-bottom: #B7B4B4 solid 1px;
    background: #FFF;
    position: relative;
    z-index: 100;
}
.page_wrap .sec_404 .sec_inner {
    padding: 0 3.125%;
    padding: 0 3.125vw;
    padding: 20px 10px;
    font-size: 13px;
}

.add {
    display: block;
    width: 100%;
    position: fixed;
    left: 0px;
    bottom: 2px;
    z-index: 9999;
    text-align: center;
    padding: 0 auto;
	text-align:center;
}
 
