.aruaru_tally_count_4 {
	font-size: 16px;
	color: #2a2c37;
}
.aruaru_tally_count_3 {
	font-size: 24px;
	font-weight: bold;
	color: #2a2c37;
}
.aruaru_tally_count_2 {
	font-size: 18px;
	font-weight: bold;
	color: #F8384A;
}
.aruaru_tally_count_1 {
	font-size: 24px;
	font-weight: bold;
	color: #F8384A;
}
.comment, .consult_question_content {
	word-wrap: break-word;
}
.sec_reaction .sec_inner .content_ttl {
	word-wrap: break-word;
}
ul.breadcrumb li:last-child{
	max-width: 100%;
	word-wrap: break-word;
}
.c_img a img{
max-width:100%;
}
.consult_question_content p img {
max-width:100%;
}
.bl_title_all, .reaction_title {
    background: #f5f5f5 none repeat scroll 0 0;
    border-radius: 3px;
    font-weight: bold;
    padding: 5px;
}
.bl_description_all, .reaction_description {
    background: #f5f5f5 none repeat scroll 0 0;
    border-radius: 3px;
    padding: 5px;
}
p.c_img {
    background: #f5f5f5 none repeat scroll 0 0;
}

.sec_reaction .sec_inner .consult_question_content blockquote .insert_source p.reaction_description{
margin-top: 0px;
}

.advertise{
	background-color: none;
    border-radius: 5px;
    margin-bottom: 5vw;
}

.advertise_inner ul li a img{
max-width:100%;
}

.advertise div.advertise_inner ul li{
text-align: center;
}


.popular{
	margin-bottom: 5vw;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3.125vw;
}
.popular .popular_inner ul li a img{
width: 100%;
}
.popular .popular_inner ul li{
padding: 10px 10px 10px 5%;
}
.popular_inner .content_ttl{
	border-bottom: 1px solid #ccc;
	font-size: 3.6875vw;
	font-weight: bold;
}
.popular_inner ul li a p{
font-size: 3.6875vw;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}
