<section class="sec sec_banner">
	{% if top_advert_info.ad_flag %}
	<div class="sec_inner">
		<ul>
			<li>
			{% if top_advert_info.ad_url != '' %}
			<a alt="" rel="nofollow" href="{{ top_advert_info.ad_url }}">
			{% endif %}
			{% if top_advert_info.ad_type == 0 %}
			<img alt="" src="{{ main_url}}{{ top_advert_info.ad_image }}">
			{% else %}
			{{ top_advert_info.ad_text|raw }}
			{% endif %}
			{% if top_advert_info.ad_url != '' %}
			</a>
			{% endif %}
			</li>
		</ul>
	</div>
	{% endif %}
</section>