<section class="sec sec_support">
	<h2 class="sec_ttl">サポート</h2>
	<ul class="support_menu">
		<li><a href="/tos">利用規約</a></li>
		<li><a href="/company">会社概要</a></li>
		<li><a href="/privacy">個人情報保護方針</a></li>
		<li><a href="/guideline">禁止事項</a></li>
		<li><a href="/faq">よくある質問</a></li>
		<li><a href="/contact">お問い合わせ</a></li>
	</ul>
</section>

<footer>
	<small>&copy;あるある掲示板</small>
</footer>
