<div id="loading" style="display:none;"><img src="/pc/image/common/gif-load.gif"></div>
<header class="header">
	<div class="left_box">
		<h1><a href="/"><img src="/sp/image/common/logo.png" alt="あるある掲示板へ"></a></h1>
	</div>
	<div class="right_box">
		<nav class="user_menu">
			<ul>
                {% if is_visitor %}
				<li class="regist_menu"><a href="{{ main_url}}user/signup/">
					<p class="fa fa-pencil-square-o"></p>
					<p><span>新規登録</span></p></a>
				</li>
				<li class="login_menu"><a href="{{ main_url}}user/login/">
					<p class="fa fa-lock"></p>
					<p><span>ログイン</span></p></a>
				</li>
                {% else %}
                <li class="sign_out_menu"><a href="javascript:void(0);" onclick="doLogout('{{ main_url }}')" id="btn_logout">
					<p class="fa fa-sign-out"></p>
					<p><span>ログアウト</span></p></a>
				</li>
                {% endif %}
				<li class="side_menu"><a href="#sidr" id="simple-menu">
					<p class="fa fa-bars"></p>
					<p><span>メニュー</span></p>
				</a></li>
			</ul>
		</nav>
	</div>
</header>
{% if isBreadCrumb %}		
<ul class="breadcrumb">
	{% for entry in breadcrumb_list %}
		{% if entry.url == '' %}
			<li><a href="">{{ entry.text }}</a></li>
		{% else %}
			<li><a href="{{ entry.url }}">{{ entry.text }}</a></li>
		{% endif %}
	{% endfor %}
</ul>
{% endif %}
<div id="sidr" style="display:none;">
	<ul>
		<li><a href="/">ホーム</a></li>
		{% if not is_visitor %}
			<li><a href="/my_page">マイページ</a></li>
		{% endif %}
		<li><a href="/page_theme">あるあるを投稿する</a></li>
		{% if user_can_point %}
			<li><a href="{{ main_url }}user/bonus/bonus_list">ボーナス確認</a></li>
			<li><a href="{{ main_url }}user/misc/more_point1">多くのボーナスを獲得するには</a></li>
		{% endif %}
		<li><a href="{{ main_url }}user/settings">設定</a></li>
		<li><a href="/contact">FAQ/お問合せ</a></li>
		<li><a href="{{ main_url }}">高収入求人ホームへ</a></li>
		<li><a href="https://onayami.joyspe.com/">女性のお悩み相談室へ</a></li>
	</ul>
</div>