<link rel="shortcut icon" href="/pc/image/icon/favicon.ico">
<link rel="apple-touch-icon" sizes="16x16" href="/sp/image/icon/favicon16.png" />
<link rel="apple-touch-icon" sizes="32x32" href="/sp/image/icon/favicon32.png" />
<link rel="apple-touch-icon" sizes="48x48" href="/sp/image/icon/favicon48.png" />
<link rel="stylesheet" href="/sp/css/reset.css">
<link rel="stylesheet" href="/sp/css/html5reset.css">
<link rel="stylesheet" href="/sp/css/common.css?v=20160712">
<link rel="stylesheet" href="/sp/css/category.css">
<link rel="stylesheet" href="/sp/css/font-awesome.min.css">
<link rel="stylesheet" href="/sp/css/component.css">
<script src="/sp/js/jquery-1.11.0.js"></script>
<script src="/pc/js/commonAll.js?v=20160712"></script>