<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
<title>お問い合わせ</title>
{% include 'inc/link.html' %}
</head>
<body>
<div class="page_wrap page_404">
	{% include 'inc/header.html' with {'is_visitor': is_visitor } %}
	<section class="sec sec_404">
		<h2 class="sec_ttl">ページが見つかません。</h2>
		<div class="sec_inner">
			<p>ページは削除されたか、移動されたか、名前が変更されたか、または一時的に利用できない可能性があります。</p>
		</div>
	</section>
	{% include 'inc/footer.html' %}
</div>
{% include 'inc/script.html' %}
</body>
</html>
