{% if is_comment %}
<div class="response_comment_list comment_area">
	<div class="sec_inner">
		<div class="comment">
			<div class="comment_p">
			{% if comment.up_image != '' %}
			<p class=""><img src="{{ comment.up_image }}" ></p>
			{% endif %}
			{% if colorSwitch == 1 %}
				{% if comment.rank > 80 %}
				<p class="aruaru_tally_count_1">{{ comment.message|raw|nl2br }}</p>
				{% elseif comment.rank > 50 %}
				<p class="aruaru_tally_count_2">{{ comment.message|raw|nl2br }}</p>
				{% elseif comment.rank > 5 %}
				<p class="aruaru_tally_count_3">{{ comment.message|raw|nl2br }}</p>
				{% else %}
				<p class="aruaru_tally_count_4">{{ comment.message|raw|nl2br }}</p>
				{% endif %}
			{% else %}
			<p>{{ comment.message|raw|nl2br }}</p>
			{% endif %}
			</div>
			<div class="response_comment_date">
				<p class="user_name">{{ comment.owner_nick_name }}</p>
				<p class="post_date">{{ comment.time_ago }}</p>
			</div>
		</div>
		<ul class="btn_wrap evaluation_wrap">
			<li><p class="count">{{ comment.like_count }}</p><a href="#" class="btn_style react_btn" data-react="yes" data-cid="{{ comment.id }}" data-pid="{{ comment.post_id }}"><img src="/sp/image/btn/agree_btn.png"></a></li>
			<li><p class="count">{{ comment.dislike_count }}</p><a href="#" class="btn_style react_btn" data-react="no" data-cid="{{ comment.id }}" data-pid="{{ comment.post_id }}"><img src="/sp/image/btn/not_agree_btn.png"></a></li>
			<li class="twitter_btn"><a href="https://twitter.com/share?via=aruaru&url={{ twitter_share_url }}%23reaction_comment_{{ comment.id }}" class="btn_style ic ic_twitter"><img src="/sp/image/icon/icon_twitter_s.png"></a> </li>
		</ul>
	</div>
</div>
{% endif %}


{% if is_reply %}
<div class="comment_reply">
	<div class="response_comment_date">
		<p class="user_name"><strong>{{ comment.owner_nick_name }}</strong></p>
		<p class="post_date">{{ comment.time_ago }}</p>
	</div>
	<div class="sec_inner">
		<div class="comment">
			<p>{{ comment.message|nl2br }}</p>
		</div>
	</div>
</div>
{% endif %}

