{% if content == 'comments' %}
{% for post in posts %}
<li class="bbs_list">
	<a href="/reaction/{{post.id}}">
		<ul class="tags">
			<li class="tag_{{ post.big_cate_slug }}">{{ post.big_cate_name }}</li>
			<li class="length"><img src="/sp/image/common/total_agree.png"><span> {{ post.like_count }}</span>件</li>
		</ul>
		<h3 class="content_ttl">{{ post.title }}</h3>
		<ul class="bbs_stutas">
			{% if post.last_comment_time|length %}
				{% set time_ago = post.time_ago|split(' ') %}
				<li class="{% if post.time_ago < 1440 %}comment{% endif %}">最新コメント：<span>{{ time_ago[0] }}</span>{% if post.time_ago > 1440 %} {% endif %}{{ time_ago[1] }}</li>
			{% endif %}
		</ul>
	</a>
</li>
{% endfor %}
{% endif %}

{% if content == 'posts' %}
{% for post in posts %}
<li class="bbs_list">
	<a href="/reaction/{{post.id}}">
		<ul class="tags">
			<li class="tag_{{ post.big_cate_slug }}">{{ post.big_cate_name }}</li>
			<li class="length"><img src="/sp/image/common/total_agree.png"><span> {{ post.like_count }}</span>件</li>
		</ul>
		<h3 class="content_ttl">{{ post.title }}</h3>
		<ul class="bbs_stutas">
			{% if post.last_comment_time|length %}
				{% set time_ago = post.time_ago|split(' ') %}
				<li class="{% if post.time_ago < 1440 %}comment{% endif %}">最新コメント：<span>{{ time_ago[0] }}</span>{% if post.time_ago > 1440 %} {% endif %}{{ time_ago[1] }}</li>
			{% else %}
			<li class="comment">&nbsp;</li>
			{% endif %}
		</ul>
	</a>
</li>
{% endfor %}
{% endif %}

{% if content == 'popular' %}
{% for post in  posts %}
<li class="bbs_list">
	<a href="/reaction/{{post.id}}">
		<ul class="tags">
			<li class="tag_{{ post.big_cate_slug }}">{{ post.big_cate_name }}</li>
			<li class="length"><img src="/sp/image/common/total_agree.png"><span> {{ post.like_count }}</span>件</li>
		</ul>
		<h3 class="content_ttl">{{ post.title }}</h3>
		<ul class="bbs_stutas">
			{% if post.last_comment_time|length %}
				{% set time_ago = post.time_ago|split(' ') %}
				<li class="{% if post.time_ago < 1440 %}comment{% endif %}">最新コメント：<span>{{ time_ago[0] }}</span>{% if post.time_ago > 1440 %} {% endif %}{{ time_ago[1] }}</li>
			{% else %}
			<li class="comment"><span>&nbsp;</span></li>
			{% endif %}
		</ul>
	</a>
</li>
{% endfor %}
{% endif %}