<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
<title>{{ title }}</title>
<meta name="description" content="{{ description }}">
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
{% include 'inc/link.html' %}
</head>
<body>
<div class="page_wrap page_category_detail">
	{% include 'inc/header.html' with { 'active': cat.big_category_id, 'is_visitor': is_visitor} %}
	<section class="sec sec_bbs_list">
		<h2 class="sec_ttl"><strong>カテゴリー：</strong><a href="/bulletin/{{cat.big_category_id}}">{{ cat.big_cate_name }}</a><span>{{cat.jp_name}}</span></h2>
		<ul class="sec_bbs_tabs tab_menu" id="tab_menu">
			<li class="tab_new_comment {% if latest_comment|length > 0 %}current{% endif %}" data-content="comments" data-initcount="{{latest_comment|length }}">最新コメント</li>
			<li class="tab_new_arrivals {% if latest_comment|length <= 0 %}current{% endif %}" data-content="posts" data-initcount="{{latest_post|length }}">新着あるある</li>
			<li class="tab_new_attention {% if latest_comment|length <= 0 %}current{% endif %}" data-content="popular" data-initcount="{{popular|length }}">注目あるある</li>
		</ul>
		<div class="sec_inner">
			<ul class="bbs_list_wrap tab_content content_new_comment content_1" data-content="comments" data-initcount="{{latest_comment|length }}" {% if latest_comment|length > 0 %}style="display: block;"{% endif %}>
				{% for post in latest_comment %}
				<li class="bbs_list">
					<a href="/reaction/{{post.id}}">
						<ul class="tags">
							<li class="tag_{{ post.big_cate_slug }}">{{ post.big_cate_name }}</li>
							<li class="length"><img src="/sp/image/common/total_agree.png"><span> {{ post.like_count }}</span>件</li>
						</ul>
						<h3 class="content_ttl">{{ post.title }}</h3>
						<ul class="bbs_stutas">
							{% if post.time_ago|length %}
								{% set time_ago = post.time_ago|split(' ') %}
								<li class="{% if post.time_ago < 1440 %}comment{% endif %}">最新コメント：<span>{{ time_ago[0] }}</span>{% if post.time_ago > 1440 %} {% endif %}{{ time_ago[1] }}</li>
							{% endif %}		
						</ul>
					</a>
				</li>
				{% endfor %}
			</ul>

			<ul class="bbs_list_wrap tab_content content_new_arrivals content_2" data-content="posts" data-initcount="{{latest_post|length }}" {% if latest_comment|length <= 0 %}style="display: block;"{% endif %}>
				{% for post in latest_post %}
				<li class="bbs_list">
					<a href="/reaction/{{post.id}}">
						<ul class="tags">
							<li class="tag_{{ post.big_cate_slug }}">{{ post.big_cate_name }}</li>
							<li class="length"><img src="/sp/image/common/total_agree.png"><span> {{ post.like_count }}</span>件</li>
						</ul>
						<h3 class="content_ttl">{{ post.title }}</h3>
						<ul class="bbs_stutas">
							{% if post.last_comment_time|length %}
								{% set time_ago = post.time_ago|split(' ') %}
								<li class="{% if post.time_ago < 1440 %}comment{% endif %}">最新コメント：<span>{{ time_ago[0] }}</span>{% if post.time_ago > 1440 %} {% endif %}{{ time_ago[1] }}</li>
							{% else %}
							<li>&nbsp;</li>
							{% endif %}		
						</ul>
					</a>
				</li>
				{% endfor %}
			</ul>

			<ul class="bbs_list_wrap tab_content tab_new_attention content_3 hide" data-content="popular" data-initcount="{{popular|length }}" {% if latest_comment|length <= 0 %}style="display: block;"{% endif %}>
				{% for post in  popular %}
				<li class="bbs_list">
					<a href="/reaction/{{post.id}}">
						<ul class="tags">
							<li class="tag_{{ post.big_cate_slug }}">{{ post.big_cate_name }}</li>
							<li class="length"><img src="/sp/image/common/total_agree.png"><span> {{ post.like_count }}</span>件</li>
						</ul>
						<h3 class="content_ttl">{{ post.title }}</h3>
						<ul class="bbs_stutas">
							{% if post.last_comment_time|length %}
								{% set time_ago = post.time_ago|split(' ') %}
								<li class="{% if post.time_ago < 1440 %}comment{% endif %}">最新コメント：<span>{{ time_ago[0] }}</span>{% if post.time_ago > 1440 %} {% endif %}{{ time_ago[1] }}</li>
							{% else %}
							<li class="comment"><span>&nbsp;</span></li>
							{% endif %}
						</ul>
					</a>
				</li>
				{% endfor %}
			</ul>

		</div>
	</section>
	{% include 'inc/footer_banner.html' %}
	{% include 'inc/footer.html' %}
</div>
{% include 'inc/script.html' %}

<!-- add script for pagination -->
<script src="/sp/js/pagination.js"></script>

</body>
</html>
