<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
<title>会社概要</title>
{% include 'inc/link.html' %}
</head>
<body>
<div class="page_wrap page_company">
	{% include 'inc/header.html' with {'is_visitor': is_visitor } %}

	<section class="sec sec_company">
		<h2 class="sec_ttl">会社概要</h2>
		<div class="sec_inner">
			<dl>
				<dt>運営会社</dt>
				<dd><p>ジョイスペ事務局</p></dd>
			</dl>
			<dl>
				<dt>お問い合わせ先</dt>
				<dd><p>info@joyspe.com</p></dd>
			</dl>
			<dl>
				<dt>営業日：平日</dt>
				<dd><p>営業時間：12:00～18:00</p></dd>
			</dl>
			<dl>
				<dt>健全宣言</dt>
				<dd><p>当サイトは利用者の皆さんに安心し求人情報を探していただくよう厳正なる審査の元求人広告を掲載しております。<br>
				よって違法な求人広告を掲載しないよう徹底しております。<br>
				また、過剰な表現によりユーザーにとって不利益となるような表現は見つけ次第修正の対象としております。</p></dd>
			</dl>
		</div>
	</section>

	{% include 'inc/footer.html' %}
</div>
{% include 'inc/script.html' %}
</body>
</html>
