<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
<title>あるある掲示板 | ジョイスペ</title>
<meta name="description" content="女性の日常生活で起こる「あるある」が満載の掲示板！男女あるある、セックスあるある、ジャニーズあるある、バンギャあるある、キャバ嬢あるある、風俗嬢あるある等様々なジャンルのあるあるを公開！">
<Meta name = "google-site-verification" content = "M1RShnBM0E5JPw5PkHrsns41CKOYUEWhNuhEzSB1uUc" />
{% include 'inc/link.html' %}
<style>
.sec_keyword_search .sec_ttl {
    background: #3765a1 none repeat scroll 0 0;
    color: #ffffff;
    font-size: 5vw;
    font-weight: bold;
    height: 9.375vw;
    line-height: 9.375vw;
    padding: 0 3.125vw;
}

.sec_keyword_search input{
width: 80%;
display: inline-block;
font-size: 2.2rem;
margin:2vw;
margin-right: 0;
padding: 8px;
border: 1px solid #555;
}

.sec_keyword_search button{
font-size: 3.0rem;
background-color: #fff;
border: medium none;
width: 10%;
}
</style>
</head>
<body>
<div class="page_wrap page_index">
	{% include 'inc/header.html' with {'is_visitor': is_visitor } %}
	<section class="sec sec_top_creating">
		<div class="sec_inner">
			<h2 class="sec_ttl">女子の<span>あるある</span>ネタで共感し合おう！</h2>
			<ul class="btn_wrap">
				<li> <a class="btn_style btn_yellow" href="/page_theme">お題を作る</a> </li>
			</ul>
		</div>
	</section>
	<section class="sec sec_keyword_search">
		<h2 class="sec_ttl">キーワード検索</h2>
		<input type="text" name="keyword_search">
		<button id="search_keyword_btn">
		<i class="fa fa-search"></i>
		</button>
	</section>
	<section class="sec sec_category">
		<h2 class="sec_ttl">カテゴリーから探す</h2>
		<ul class="category_list">
			<li class="cate_men_women"><a href="bulletin/1">
				<p>男女</p>
				</a></li>
			<li class="cate_marriage"><a href="bulletin/2">
				<p>結婚</p>
				</a></li>
			<li class="cate_sex"><a href="bulletin/3">
				<p>セックス</p>
				</a></li>
			<li class="cate_chat_lady"><a href="bulletin/4">
				<p>チャットレディ</p>
				</a></li>
			<li class="cate_take_care"><a href="bulletin/5">
				<p>風俗嬢</p>
				</a></li>
			<li class="cate_cabaret"><a href="bulletin/6">
				<p>キャバ嬢</p>
				</a></li>
			<li class="cate_band"><a href="bulletin/7">
				<p>バンギャ</p>
				</a></li>
			<li class="cate_johnny"><a href="bulletin/8">
				<p>ジャニオタ</p>
				</a></li>
			<li class="cate_host"><a href="bulletin/9">
				<p>ホスト</p>
				</a></li>
			<li class="cate_gambling"><a href="bulletin/10">
				<p>パチンコ/スロット</p>
				</a></li>
			<li class="cate_entertainment"><a href="bulletin/11">
				<p>芸能</p>
				</a></li>
			<li class="cate_others"><a href="bulletin/12">
				<p>その他</p>
				</a></li>
		</ul>
	</section>

	<section class="sec sec_banner">
	{% if top_advert_info.ad_flag %}
		<div class="sec_inner">
			<ul>
				<li>
				{% if top_advert_info.ad_url != '' %}
				<a alt="" rel="nofollow" href="{{ top_advert_info.ad_url }}">
				{% endif %}
				{% if top_advert_info.ad_type == 0 %}
				<img alt="" src="{{ main_url}}{{ top_advert_info.ad_image }}">
				{% else %}
				{{ top_advert_info.ad_text|raw }}
				{% endif %}
				{% if top_advert_info.ad_url != '' %}
				</a>
				{% endif %}
			{#
				<a alt="風俗求人高収入アルバイト" href="{{main_url}}">
				<img alt="" src="/sp/image/banner/sample_2.gif">
				</a>
			#}
				</li>
			</ul>
		</div>
	{% endif %}
	</section>

	<section class="sec sec_bbs_list">
		<h2 class="sec_ttl ic ic_comments">あるあるネタ一覧</h2>
		<ul class="sec_bbs_tabs tab_menu" id="tab_menu">
			<li class="tab_new_comment current">最新コメント</li>
			<li class="tab_new_arrivals">新着あるある</li>
			<li class="tab_new_attention">注目あるある</li>
		</ul>
		<div class="sec_inner">
			<ul class="bbs_list_wrap tab_content content_new_comment content_1">
				{% for post in latest_comment %}
				<li class="bbs_list">
					<a href="/reaction/{{ post.id }}">
						<ul class="tags">
							<li class="tag_{{ post.big_cate_slug }}">{{ post.big_cate_name }}</li>
							<li class="length"><img src="/sp/image/common/total_agree.png"><span> {{ post.like_count }}</span>件</li>
						</ul>
						<h3 class="content_ttl">{{ post.title }}</h3>
						<ul class="bbs_stutas">
							{% if post.time_ago|length  %}
								{% set time_ago = post.time_ago|split(' ') %}
								<li class="{% if post.time_ago < 1440 %}comment{% endif %}">最新コメント：<span>{{ time_ago[0] }}</span>{% if post.time_ago > 1440 %} {% endif %}{{ time_ago[1] }}</li>
							{% endif %}
						</ul>
					</a>
				</li>
				{% endfor %}
			</ul>


			<ul class="bbs_list_wrap tab_content content_new_arrivals content_2">
				{% for post in latest_post %}
				<li class="bbs_list">
					<a href="/reaction/{{ post.id }}">
					<ul class="tags cf">
						<li class="tag_{{ post.big_cate_slug }}">{{ post.big_cate_name }}</li>
						<li class="length"><img src="/sp/image/common/total_agree.png"><span> {{ post.like_count }}</span>件</li>
					</ul>
					<h3 class="content_ttl">{{ post.title }}</h3>
					<ul class="bbs_stutas">
						{% if post.last_comment_time|length %}
							{% set time_ago = post.time_ago|split(' ') %}
							<li class="{% if post.time_ago < 1440 %}comment{% endif %}">最新コメント：<span>{{ time_ago[0] }}</span>{% if post.time_ago > 1440 %} {% endif %}{{ time_ago[1] }}</li>
						{% else %}
						<li class="comment"><span>&nbsp;</span></li>
						{% endif %}
					</ul>
					</a>
				</li>
				{% endfor %}
			</ul>

			<ul class="bbs_list_wrap tab_content tab_new_attention content_3">
				{% for post in popular %}
				<li class="bbs_list"> <a href="/reaction/{{ post.id }}">
					<ul class="tags cf">
						<li class="tag_{{ post.big_cate_slug }}">{{ post.big_cate_name }}</li>
						<li class="length"><img src="/sp/image/common/total_agree.png"><span> {{ post.like_count }}</span>件</li>
					</ul>
					<h3 class="content_ttl">{{ post.title }}</h3>
					<ul class="bbs_stutas">
						{% if post.last_comment_time|length %}
							{% set time_ago = post.comment_time_ago|split(' ') %}
						<li class="{% if post.comment_time_ago < 1440 %}comment{% endif %}">最新コメント：<span>{{ time_ago[0] }}</span>{% if post.time_ago > 1440 %} {% endif %}{{ time_ago[1] }}</li>
						{% endif %}
					</ul>
					</a>
				</li>
				{% endfor %}
			</ul>

		</div>
	</section>

    {% if is_visitor %}
<div class="add">
<a href="http://af-next.com/link.php?id=N0003036&adwares=A0002446"><img src="https://s3-ap-northeast-1.amazonaws.com/image-af-next-com/file/image/A0002446/aaba6e47140a05324260bcb9bb1da4c2.jpg" border="0"></a>
</div>
    {% endif %}

	{% include 'inc/footer.html' %}
</div>
{% include 'inc/script.html' %}
<script>
$('#search_keyword_btn').on('click', function() {
	var text = $('input[name=keyword_search]').val();
	window.location.href = '/keyword?text='+text; // 通常の遷移
});
</script>
</body>
</html>
