<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
<title>{{ title }}</title>
<meta name="description" content="{{ description }}">
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
{% include 'inc/link.html' %}
<style>
.sec_keyword_search .sec_ttl {
    background: #3765a1 none repeat scroll 0 0;
    color: #ffffff;
    font-size: 5vw;
    font-weight: bold;
    height: 9.375vw;
    line-height: 9.375vw;
    padding: 0 3.125vw;
}

.sec_keyword_search input{
width: 80%;
display: inline-block;
font-size: 2.5rem;
margin:2vw;
margin-right: 0;
padding: 8px;
border: 1px solid #555;
}

.sec_keyword_search button{
font-size: 3.0rem;
background-color: #fff;
border: medium none;
width: 10%;
}

.content_message li{
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}
</style>
</head>
<body>
<div class="page_wrap page_category">
	{% include 'inc/header.html' with { 'active': bulletin.big_category_id, 'is_visitor': is_visitor } %}
	<section class="sec sec_keyword_search">
		<h2 class="sec_ttl">キーワード検索</h2>
		<input type="text" name="keyword_search">
		<button id="search_keyword_btn">
		<i class="fa fa-search"></i>
		</button>
	</section>
	<section class="sec sec_bbs_list">
		<h2 class="sec_ttl"><strong>検索：</strong>{{ search_word }}</h2>
		
		<ul class="category_detail_list">
			{% for cat in categorys %}
			<li><a href="/category/{{ cat.id }}">{{ cat.jp_name }}</a></li>
			{% endfor %}
		</ul>
		
		<div class="sec_inner">

			<ul class="bbs_list_wrap tab_content content_new_comment content_1" data-content="comments" data-initcount="{{latest_comment|length }}" style="display: block;">
			{% if keyword_comment|length > 0 %}
				{% for post in keyword_comment %}
				<li class="bbs_list">
					<a href="/reaction/{{post.id}}">
						<ul class="tags">
							<li class="tag_{{ post.big_cate_slug }}">{{ post.big_cate_name }}</li>
						</ul>
						<h3 class="content_ttl">{{ post.title }}</h3>
						<ul class="content_message">
							<li>{{ post.message|raw|nl2br }}</li>
						</ul>
					</a>
				</li>
				{% endfor %}
			{% else %}
				<li class="bbs_list">
					<ul>
						<li>みつかりませんでした。</li>
					</ul>
				</li>
			{% endif %}
			</ul>

		</div>

	</section>

	{% include 'inc/footer_banner.html' %}
	{% include 'inc/footer.html' %}
</div>
{% include 'inc/script.html' %}
<script>
$('#search_keyword_btn').on('click', function() {
	var text = $('input[name=keyword_search]').val();
	window.location.href = '/keyword?text='+text; // 通常の遷移
});
</script>
</body>
</html>