{% for key, entry in  latest_post %}
	<li class="bbs_list">
		<a href="./reaction.html">
			<ul class="tags">
				<li class="tag_men_women">{{ entry.big_cate_name }}</li>
			</ul>
			<h3 class="content_ttl">{{ entry.title }}</h3>
			<ul class="bbs_stutas">
				{% if post.last_comment_time|length %}
					{% set time_ago = post.time_ago|split(' ') %}
					<li class="{% if post.time_ago < 1440 %}comment{% endif %}">最新コメント：<span>{{ time_ago[0] }}</span>{% if post.time_ago > 1440 %} {% endif %}{{ time_ago[1] }}</li>
				{% else %}
				<li>&nbsp;</li>
				{% endif %}
				<li class="length">総あるある数：<span>{{ entry.like_count }}</span>件</li>
			</ul>
		</a>
	</li>
{% endfor %}