{% for comment in comments %}
<div class="response_comment_list comment_area">
	<div class="sec_inner" id="reaction_comment_{{ comment.id }}">
		<div class="comment">
			<div class="comment_p">
			{% if comment.up_image != '' %}
			<p class=""><a href="{{ comment.up_image }}"><img src="{{ comment.up_image }}" ></a></p>
			{% endif %}
			{% if colorSwitch == 1 %}
				{% if comment.rank > 80 %}
				<p class="aruaru_tally_count_1">{{ comment.message|raw|nl2br }}</p>
				{% elseif comment.rank > 50 %}
				<p class="aruaru_tally_count_2">{{ comment.message|raw|nl2br }}</p>
				{% elseif comment.rank > 5 %}
				<p class="aruaru_tally_count_3">{{ comment.message|raw|nl2br }}</p>
				{% else %}
				<p class="aruaru_tally_count_4">{{ comment.message|raw|nl2br }}</p>
				{% endif %}
			{% else %}
			<p>{{ comment.message|raw|nl2br }}</p>
			{% endif %}
			</div>
			<div class="response_comment_date">
				<p class="user_name">{{ comment.owner_nick_name }}</p>
				<p class="post_date">{{ comment.time_ago}}</p>
			</div>
		</div>
		<ul class="btn_wrap evaluation_wrap">
			<li><p class="count">{{ comment.like_count }}</p><a href="" class="btn_style react_btn" data-react="yes" data-cid="{{ comment.id }}" data-pid="{{ post.id }}"><img src="/sp/image/btn/agree_btn.png"></a></li>
			<li><p class="count">{{ comment.dislike_count }}</p><a href="" class="btn_style react_btn" data-react="no" data-cid="{{ comment.id }}" data-pid="{{ post.id }}"><img src="/sp/image/btn/not_agree_btn.png"></a></li>
			<li class="twitter_btn"><a href="https://twitter.com/share?via=aruaru&url={{ twitter_share_url }}%23reaction_comment_{{ comment.id }}&text={{ comment.truncated_message }}" class="btn_style ic ic_twitter"><img src="/sp/image/icon/icon_twitter_s.png"></a> </li>
		</ul>

		{% for comment_reply in comment.reply %}
		<div class="comment_reply">
			<div class="response_comment_date">
				<p class="user_name"><strong>{{ comment_reply['owner_nick_name'] }}</strong></p>
				<p class="post_date">{{ comment_reply['time_ago'] }}</p>
			</div>
			<div class="sec_inner">
				<div class="comment">
			<p>{{ comment_reply['message']|nl2br }}</p>
				</div>
			</div>
		</div>
		{% endfor %}

		<div class="comment_reply_input">
			<a href="" class="t_link open_comment_reply" id="open_comment_reply">このコメントに返信する▼</a>
			<form action="" class="validate comment_reply_form comment_form" id="comment_reply_form" data-pid="{{ comment.post_id }}" data-cid="{{ comment.id }}">
				<h3 class="content_ttl">返信コメント</h3>
				<p class="error comment s_error" style="display:none;"></p>
				<textarea name="consult_message" placeholder="返信コメントを入力してください" maxlength="300"></textarea>
				<ul class="btn_wrap">
					<li>
						<button type="submit" class="btn_style btn_green">送信する</button>
					</li>
				</ul>
			</form>
		</div>

	</div>
</div>
	{% if popular and comment.index > 0 and ((comment.index + 1)% 10) == 0 %}
	<div class="popular">
		<div class="popular_inner">
			<h3 class="content_ttl">よく読まれている人気の記事</h3>
			<ul>
			{% for post in popular|slice(0,3) %}
			<li> 
				<a href="/reaction/{{ post.id }}">
					<p class="posted_ttl">{{ post.title }}</p>
				</a> 
			</li>
			{% endfor %}
			</ul>
		</div>
	</div>
	{% endif %}

	{% if ((comment.index + 1) % advert_info.ad_interval) == 0 %}
	{% if advert_info.ad_flag == 1 %}
	<div class="advertise">
		<div class="advertise_inner">
			<ul>
				<li>
					{% if advert_info.ad_url != '' %}
					<a alt="" rel="nofollow" href="{{ advert_info.ad_url }}">
					{% endif %}
					{% if advert_info.ad_type == 0 %}
					<img alt="" src="{{ main_url}}{{ advert_info.ad_image }}">
					{% else %}
					{{ advert_info.ad_text|raw }}
					{% endif %}
					{% if advert_info.ad_url != '' %}
					</a>
					{% endif %}
				</li>
			</ul>
		</div>
	</div>
	{% endif %}
	{% endif %}

{% endfor %}