{% if content == 'posts' %}
{% for post in moreposts %}
<li class="bbs_list">
	<a href="/reaction/{{ post.id }}">
		<ul class="tags">
			<li class="tag_{{ post.big_cate_slug }}">{{ post.big_cate_name }}</li>
		</ul>
		<h3 class="content_ttl">{{ post.title }}</h3>
		<ul class="bbs_stutas">
			{% if post.last_comment_time|length %}
				{% set time_ago = post.time_ago|split(' ') %}
				<li class="{% if post.time_ago < 1440 %}comment{% endif %}">最新コメント：<span>{{ time_ago[0] }} </span>{{ time_ago[1] }}</li>
			{% else %}
			<li class="comment">&nbsp;</li>
			{% endif %}
			<li class="length">総あるある数：<span>{{ post.like_count }}</span>件</li>
		</ul>
	</a>
</li>
{% endfor %}
{% endif %}

{% if content == 'comments' %}
{% for post in moreposts %}
<li class="bbs_list">
	<a href="/reaction/{{ post.id }}#reaction_comment_{{ post.commentid }}">
		<ul class="tags">
			<li class="tag_{{ post.big_cate_slug }}">{{ post.big_cate_name }}</li>
		</ul>
		<h3 class="content_ttl">{{ post.title }}</h3>
		<ul class="bbs_stutas">
			{% if post.last_comment_time|length %}
				{% set time_ago = post.time_ago|split(' ') %}
				<li class="{% if post.time_ago < 1440 %}comment{% endif %}">最新コメント：<span>{{ time_ago[0] }} </span>{{ time_ago[1] }}</li>
			{% else %}
			<li class="comment">&nbsp;</li>
			{% endif %}
			<li class="length">総あるある数：<span>{{ post.like_count }}</span>件</li>
		</ul>
	</a>
</li>
{% endfor %}
{% endif %}