<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
<title>{{ title }}</title>
{% include 'inc/link.html' %}
</head>
<body>
<div class="page_wrap page_mypage">
	{% include 'inc/header.html' with {'is_visitor': is_visitor } %}
<section class="sec sec_mypage sec_bbs_list">
		<h2 class="sec_ttl">マイページ</h2>
		<ul class="sec_bbs_tabs tab_menu" id="tab_menu">
			<li class="tab_new_comment current" data-content="posts" data-initcount="{{latest_post|length }}">{{ tab_1_title }}</li>
			<li class="tab_new_arrivals" data-content="comments" data-initcount="{{latest_comment|length }}">コメント</li>
		</ul>
		<div class="sec_inner">
			<div class="bbs_list_wrap tab_content content_new_comment content_1 content_bottom posts" data-content="posts" data-initcount="{{latest_post|length }}">
				{% if latest_post|length < 1 %}
				<div class="search_found not_found cf">
					<p>投稿したお題はありません。</p>
					<ul class="btn_wrap">
						<li><a href="/page_theme" class="btn_style btn_green">お題を作る</a></li>
					</ul>
				</div>
				{% else %}
				<ul class="content_list consult_list" data-content="posts" data-initcount="{{latest_post|length }}">
					{% for post in latest_post %}
					<li class="bbs_list">
						<a href="/reaction/{{ post.id }}">
							<ul class="tags">
								<li class="tag_{{ post.big_cate_slug }}">{{ post.big_cate_name }}</li>
							</ul>
							<h3 class="content_ttl">{{ post.title }}</h3>
							<ul class="bbs_stutas">
								{% if post.last_comment_time|length %}
									{% set time_ago = post.time_ago|split(' ') %}
									<li class="{% if post.time_ago < 1440 %}comment{% endif %}">最新コメント：<span>{{ time_ago[0] }} </span>{{ time_ago[1] }}</li>
								{% else %}
								<li class="comment">&nbsp;</li>
								{% endif %}
								<li class="length">総あるある数：<span>{{ post.like_count }}</span>件</li>
							</ul>
						</a>
					</li>
					{% endfor %}
				</ul>
				<ul class="pager_wrap"></ul>
				{% endif %}
			</div>

			<div class="bbs_list_wrap tab_content content_new_arrivals content_2 hide content_bottom comments"  data-content="comments" data-initcount="{{latest_comment|length }}">
				{% if latest_comment|length < 1 %}
				<div class="search_found not_found cf">
					<p>投稿したコメントはありません。</p>
					<ul class="btn_wrap">
						<li><a href="/page_theme" class="btn_style btn_green">お題を作る</a></li>
					</ul>
				</div>
				{% else %}
				<ul class="content_list consult_list"  data-content="comments" data-initcount="{{latest_comment|length }}">
					{% for post in latest_comment %}
					<li class="bbs_list">
						<a href="/reaction/{{ post.id }}#reaction_comment_{{ post.commentid }}">
							<ul class="tags">
								<li class="tag_{{ post.big_cate_slug }}">{{ post.big_cate_name }}</li>
							</ul>
							<h3 class="content_ttl">{{ post.title }}</h3>
							<ul class="bbs_stutas">
								{% if post.last_comment_time|length %}
									{% set time_ago = post.time_ago|split(' ') %}
									<li class="{% if post.time_ago < 1440 %}comment{% endif %}">最新コメント：<span>{{ time_ago[0] }} </span>{{ time_ago[1] }}</li>
								{% else %}
								<li class="comment">&nbsp;</li>
								{% endif %}
								<li class="length">総あるある数：<span>{{ post.like_count }}</span>件</li>
							</ul>
						</a>
					</li>
					{% endfor %}
				</ul>
				<ul class="pager_wrap"></ul>
				{% endif %}
			</div>
		</div>
	</section>

	{% if bonusData %}              
	<section class="sec sec_pt_rate">
		<h2 class="sec_ttl">ポイントレート</h2>
		<div class="sec_inner">
			<table>
				<tr>
					<th style="width:50%"></th>
					<td>レート</td>
					<td>獲得</td>
				</tr>
				<tr>
					<th>スレッド立て</th>
					<td>{{pointSettings.thread_bonus}}</td>
					<td>{{ bonusData.thread_points }}</td>
				</tr>
				<tr>
					<th>書き込み</th>
					<td>{{pointSettings.comment_bonus}}</td>
					<td>{{ bonusData.comment_points }}</td>
				</tr>
				<tr>
					<th>あるある累計</th>
					<td>{{pointSettings.like_points_multiply_by}}</td>
					<td>{{ bonusData.thread_like_points }}</td>
				</tr>
				<tr>
					<th>あるある獲得</th>
					<td>{{pointSettings.comment_like_bonus}}</td>
					<td>{{ bonusData.comment_like_points }}</td>
				</tr>
				<tr>
					<th>対象コメント数</th>
					<td>{{pointSettings.max_comment_has_bonus}}</td>
					<td></td>
				</tr>
			</table>
		</div>
	</section>
	{% endif %}
	{% include 'inc/footer.html' %}
</div>
{% include 'inc/script.html' %}

<!-- add script for pagination -->
<script src="/pc/js/pagination.js"></script>

</body>
</html>
