<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
<title>お悩み相談</title>
{% include 'inc/link.html' %}
</head>
<body>
<div class="page_wrap page_theme">
	{% include 'inc/header.html' with {'is_visitor': is_visitor } %}
	<section class="sec sec_theme">
		<form action="" method="post" class="question_form validate">
			<h2 class="sec_ttl">お題を作る</h2>
			<div class="sec_inner">
				<dl class="list_nickname">
					<dt>ニックネーム</dt>
					<dd>
						<p>{{ nick_name }}</p>
						<p class="t_right"><a href="{{ main_url }}user/settings" class="t_link">ニックネームの変更</a></p>
					</dd>
				</dl>
				<dl class="list_category">
					<dt class="ic_required">大カテゴリー</dt>
					<dd>
						{% if error.big_cate_id  %} <p class="s_error">{{ error.big_cate_id }}</p> {% endif %}
						<select name="big_cate_id" id="bbs_big_categorys">
							<option value="">選択してください</option>
							{% for key, bulletin in bulletins %}
							<option value="{{ bulletin.id }}" {% if bulletin.id == values.big_cate_id %} selected="selected" {% endif %} >{{ bulletin.jp_name }}</option>
							{% endfor %}
						</select>
					</dd>
				</dl>
				<dl class="list_category_detail">
					<dt class="ic_required">小カテゴリー</dt>
					<dd>
						{% if error.cate_id  %} <p class="s_error">{{ error.cate_id }}</p> {% endif %}
						<select name="cate_id" id="bbs_categorys">
							<option value="">選択してください</option>
						</select>
						<input type="hidden" id="h_category">
					</dd>
				</dl>
				<dl class="list_ttl">
					<dt class="ic_required">お題</dt>
					<dd>
						{% if error.title  %} <p class="s_error">{{ error.title }}</p> {% endif %}
						<p><input type="text" name="title" placeholder="お題を入力してください。" maxlength="30" value="{{ values.title }}"></p>
						{% if error.qcl  %} <p class="s_error">{{ error.qcl }}</p> {% endif %}
						<p><select name="qcl" class="question_ttl_list">
							<option value="">選択してください</option>
							<option value="1"{% if values.qcl == 1 %} selected="selected" {% endif %}>あるある</option>
							<option value="2"{% if values.qcl == 2 %} selected="selected" {% endif %}>にありがちなこと</option>
							<option value="3"{% if values.qcl == 3 %} selected="selected" {% endif %}>でありがちなこと</option>
							<option value="4"{% if values.qcl == 4 %} selected="selected" {% endif %}>にしかわからないこと</option>
							<option value="5"{% if values.qcl == 5 %} selected="selected" {% endif %}>(なし)</option>
						</select></p>
					</dd>
				</dl>
				<dl class="list_content">
					{% if values.image_file_name != '' %}
					<dt>画像</dt>
					<dd>
						<p><img src="/uploads/temp/{{ values.image_file_name }}"></p>
					</dd>
					<input type="hidden" name="userfile" value="{{ values.image_file_name }}" />
					{% endif %}
					<dt class="ic_required">本文</dt>
					<dd>
						{% if error.message  %} <p class="s_error">{{ error.message }}</p> {% endif %}
						<textarea name="message" id="" placeholder="本文を入力してください。" maxlength="500">{{ values.message }}</textarea>
					</dd>
				</dl>
				<dl class="input_image">
					<dt class="">画像</dt>
					<dd class="cf ui-count_form">
						<input id="upload_img" type="file" value="" name="userfile">
						<input id="image_file_name" type="hidden" value="" name="image_file_name">
						<p class="input_desc">※3Mbyte以内</p>
					</dd>
				</dl>
				<ul class="btn_wrap">
					<li><button type="submit" class="btn_style btn_green">入力内容の確認</button></li>
				</ul>
			</div>
			<input type="hidden" name="confirm" value="1" />
		</form>
	</section>
	{% include 'inc/footer.html' %}
</div>
{% include 'inc/script.html' %}
<script src="/pc/js/page_theme.js?v=20160629"></script>
<script type="text/javascript">

$(document).ready(function(){

	// set selected category
	{% if values.big_cate_id %} 
		getCategory({{ values.big_cate_id }}{% if values.cate_id %},{{ values.cate_id }}{% endif %});
	{% endif %}

	//load category based on selected big category
	$("#bbs_big_categorys").on('change', function(){
		 getCategory($(this).val());
	});

	function getCategory(bid_val, cat_val){
		var opt = '<option value="">選択してください</option>';
		$("#bbs_categorys").html(opt);

		var url = "/category/menu_list";
		var params = { bid: bid_val};
		doAjaxRequest(url, params, "JSON", function(data){
			$.each(data, function(i, category){
				selctd = (cat_val!=null && cat_val == category['id'])? 'selected=selected':'';
				opt += '<option value="'+category['id']+'"'+selctd+'>'+category['jp_name']+'</option>';
			});
			$("#bbs_categorys").html(opt);
		});
	}

	$('#bbs_categorys').change(function(){
		$('#h_category').val($(this).val());
	});
	if ($('#bbs_big_categorys').val()!='' && $('#h_category').val()!='') {
		getCategory($('#bbs_big_categorys').val(), $('#h_category').val());
	}

});
</script>
</body>
</html>
