{% if pagination.lastpage > 1  and pagination.page <= pagination.lastpage%}
<ul class="pager_wrap" data-tab="1">

	{% if pagination.page > 1 %}
	<li><a class="pager_style pagination" data-page="{{ pagination.prev }}" onclick="">前へ</a></li>
	{% endif %}

	{% if pagination.lastpage <=  pagination.maxpage %} <!-- no need to break -->
		{% for i in 1..pagination.lastpage %}
		<li><a class="pager_style  pagination {% if i == pagination.page %}current{% endif %}" data-page="{% if i != pagination.page %}{{ i }}{% endif %}" onclick="">{{ i }}</a></li>
		{% endfor %}
	{% else %} <!-- need to break -->

		{% if pagination.page <=  3 %} <!-- show the beginning  pages  -->

			{% if pagination.page ==  1 %}  {% set maxpage = pagination.maxpage + 1 %} <!-- show 1 more page since prev is hidden  -->
			{% else %} {% set maxpage = pagination.maxpage %} {% endif %}

			{% for i in 1..maxpage %}
			<li><a class="pager_style pagination {% if i == pagination.page %}current{% endif %}" data-page="{% if i != pagination.page %}{{ i }}{% endif %}" onclick="">{{ i }}</a></li>
			{% endfor %}

			{% if pagination.lastpage > 4 %}
			<li><a class="pager_style pagination" data-page="{{ maxpage + 1 }}" onclick="">...</a></li> 
			{% endif %}

		{% else %} <!-- show the mid and last pages  -->

			{% set lastfour = pagination.lastpage - 3 %}

			{% if lastfour <  pagination.page %}  <!-- show last page  -->

					{% set prevgroup = lastfour - 1 %}
					{% if pagination.lastpage == pagination.page and prevgroup > 0 %}
						<li><a class="pager_style pagination" data-page="{{ lastfour - 1 }}" onclick="">...</a></li> 
					{% endif %}

					{% for i in lastfour..pagination.lastpage %}
					<li><a class="pager_style pagination {% if i == pagination.page %}current{% endif %}" data-page="{% if i != pagination.page %}{{ i }}{% endif %}" onclick="">{{ i }}</a></li>
					{% endfor %}

			{% else %} <!-- show mid page  -->
				{% for i in pagination.prev..pagination.next %}
				<li><a class="pager_style pagination {% if i == pagination.page %}current{% endif %}" data-page="{% if i != pagination.page %}{{ i }}{% endif %}" onclick="">{{ i }}</a></li>
				{% endfor %}
				<li><a class="pager_style pagination" data-page="{{ pagination.next + 1 }}" onclick="">...</a></li> 
			{% endif %}
		{% endif %}

	{% endif %}

	{% if pagination.page !=  pagination.lastpage %}
	<li><a class="pager_style pagination" data-page="{{ pagination.next }}" onclick="">次へ</a></li>
	{% endif %}

</ul>
{% endif %}


