<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
<title>{{ title }}</title>
<meta name="description" content="{{ meta_desc }}">
{% include 'inc/link.html' %}
<script src="/pc/js/reaction.js?v=20160627"></script>
<script src="/pc/js/jquery.cookie.js"></script>
<link rel="stylesheet" href="/sp/css/reaction.css?v=20160718">
<style>
.consult_comment #ap_message div p img{
width: 100%;

}
.comment .comment_p p img{
width: 100%;
}

#reaction_confirm .sec_inner .comment .comment_p{
padding: 0 3.125vw;
}

#reaction_confirm .sec_confirm_area{
	padding: 3.125vw;
}
#reaction_confirm .sec_inner{
	background: #fff none repeat scroll 0 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 3.125vw;
}
.reaction_comment_error{
text-align: center;	
color: #F00;
}
</style>
</head>
<body>
<div class="page_wrap page_reaction">
	{% include 'inc/header.html' with {'active': post.big_cate_id, 'is_visitor': is_visitor } %}
	<section class="sec sec_reaction">
		<h2 class="sec_ttl"><strong>{{post.big_cate_name}}</strong><span>{{post.cate_name}}</span></h2>
		<div class="sec_inner">
			<h3 class="content_ttl">{{ post.title }}</h3>
			<div class="sec_desc">
				<p class="user_name">{{ owner.nick_name }}</p>
				<p class="post_date">{{ post.create_date_sp }}</p>
				<ul class="bbs_stutas">
					{% if post.last_comment_time|length %}												
						{% if post.comment_time_ago > 1440 %}
							<li class="comment">最新コメント：{{ post.comment_time_ago }}</li>
						{% else %}
							{% set time_ago = post.comment_time_ago|split(' ') %}
							<li class="comment">最新コメント：<span>{{ time_ago[0] }}</span>{{ time_ago[1]}}</li>
						{% endif %}
					{% else %}
						<li class="comment">&nbsp;</li>
					{% endif %}
					<li class="length"><img src="/sp/image/common/total_agree.png"><span class="comment_like_count">{{ post.comment_like_count }}</span>件</li>
				</ul>
				<span style="display:none;" class="comment_count">{{ post.comment_count }}</span>
			</div>
			<div class="consult_question_content">
				{% if post.up_image != null %}
				<p><img src="{{ post.up_image }}"></p>
				{% endif %}
				<p>{{ post.message|raw|nl2br }}</p>
			</div>
		</div>
		<ul class="btn_wrap evaluation_wrap main_user">
			<li><p class="count">{{ post.like_count }}</p><a href="#" class="btn_style react_btn" data-react="yes" data-pid="{{ post.id }}"><img src="/sp/image/btn/agree_btn.png"></a></li>
			<li><p class="count">{{ post.dislike_count }}</p><a href="#" class="btn_style react_btn" data-react="no" data-pid="{{ post.id }}"><img src="/sp/image/btn/not_agree_btn.png"></a></li>
			<li class="twitter_btn"><a href="https://twitter.com/share?text={{ post.title }} {{twitter_share_url}} {{ twitter_share_text }}&url={{twitter_share_url}} {{ twitter_share_text }}" class="btn_style ic ic_twitter"><img src="/sp/image/icon/icon_twitter_s.png"></a> </li>
		</ul>
	</section>
	<section class="sec sec_response_comment sec_consult_answer sec_consult_answer_list">

		<div id="guideline">
			<p class="sentence">※投稿をすることによって自身や第三者へ不利益が発生し損害が発生した場合は書き込みを行った本人が責任を負うものとし、当社は一切の責任を放棄いたします。</p>
			<p class="modal_close"><i class="fa fa-times-circle-o"></i></p>
			<dl>
				<dt>【注意事項】</dt>
				<dd>・自分以外の第三者の不利益となる書き込み</dd>
				<dd>・目的のあるなし関わらず、当社以外のサービスを宣伝目的とした投稿</dd>
				<dd>・出会いと目的とした書き込み</dd>
				<dd>・18歳未満が書き込む行為</dd>
				<dd>・無意味な文字列を書き込む行為</dd>
				<dd>・犯罪を助長する行為</dd>
				<dd>・自殺をほのめかしたり助長する行為</dd>
			</dl>
		</div>

		{% for comment in comments %}
		<div class="response_comment_list comment_area">
			<div class="sec_inner" id="reaction_comment_{{ comment.id }}">
				<div class="comment">
					<div class="comment_p">
					{% if comment.up_image != '' %}
					<p class=""><a href="{{ comment.up_image }}"><img src="{{ comment.up_image }}" ></a></p>
					{% endif %}
					{% if colorSwitch == 1 %}
						{% if comment.rank > 80 %}
						<p class="aruaru_tally_count_1">{{ comment.message|raw|nl2br }}</p>
						{% elseif comment.rank > 50 %}
						<p class="aruaru_tally_count_2">{{ comment.message|raw|nl2br }}</p>
						{% elseif comment.rank > 5 %}
						<p class="aruaru_tally_count_3">{{ comment.message|raw|nl2br }}</p>
						{% else %}
						<p class="aruaru_tally_count_4">{{ comment.message|raw|nl2br }}</p>
						{% endif %}
					{% else %}
					<p>{{ comment.message|raw|nl2br }}</p>
					{% endif %}
					</div>
					<div class="response_comment_date">
						<p class="user_name">{{ comment.owner_nick_name }}</p>
						<p class="post_date">{{ comment.time_ago}}</p>
					</div>
				</div>
				<ul class="btn_wrap evaluation_wrap">
					<li><p class="count">{{ comment.like_count }}</p><a href="" class="btn_style react_btn" data-react="yes" data-cid="{{ comment.id }}" data-pid="{{ post.id }}"><img src="/sp/image/btn/agree_btn.png"></a></li>
					<li><p class="count">{{ comment.dislike_count }}</p><a href="" class="btn_style react_btn" data-react="no" data-cid="{{ comment.id }}" data-pid="{{ post.id }}"><img src="/sp/image/btn/not_agree_btn.png"></a></li>
					<li class="twitter_btn"><a href="https://twitter.com/share?text={{ post.title }} {{twitter_share_url}}%23reaction_comment_{{ comment.id }} {{ comment.truncated_message }}&url={{twitter_share_url}}%23reaction_comment_{{ comment.id }} {{ comment.truncated_message }}" class="btn_style ic ic_twitter"><img src="/sp/image/icon/icon_twitter_s.png"></a> </li>
				</ul>

				{% for comment_reply in comment.reply %}
				<div class="comment_reply">
					<div class="response_comment_date">
						<p class="user_name"><strong>{{ comment_reply['owner_nick_name'] }}</strong></p>
						<p class="post_date">{{ comment_reply['time_ago'] }}</p>
					</div>
					<div class="sec_inner">
						<div class="comment">
					<p>{{ comment_reply['message']|nl2br }}</p>
						</div>
					</div>
				</div>
				{% endfor %}

				<div class="comment_reply_input">
					<a href="" class="t_link open_comment_reply" id="open_comment_reply">このコメントに返信する▼</a>
					<form action="" class="validate comment_reply_form comment_form" id="comment_reply_form" data-pid="{{ comment.post_id }}" data-cid="{{ comment.id }}">
						<h3 class="content_ttl">返信コメント</h3>
						<p class="error comment s_error" style="display:none;"></p>
						<textarea name="consult_message" placeholder="返信コメントを入力してください" maxlength="300"></textarea>
						<ul class="btn_wrap">
							<li>
								<button type="submit" class="btn_style btn_green">送信する</button>
							</li>
						</ul>
					</form>
				</div>

			</div>
		</div>
		{% if popular and comment.index > 0 and ((comment.index + 1)% 10) == 0 %}
		<div class="popular">
			<div class="popular_inner">
				<h3 class="content_ttl">よく読まれている人気の記事</h3>
				<ul>
				{% for post in popular|slice(0,3) %}
				<li> 
					<a href="/reaction/{{ post.id }}">
						<p class="posted_ttl">{{ post.title }}</p>
					</a> 
				</li>
				{% endfor %}
				</ul>
			</div>
		</div>
		{% endif %}

		{% if ((comment.index + 1) % advert_info.ad_interval) == 0 %}
		{% if advert_info.ad_flag == 1 %}
		<div class="advertise">
			<div class="advertise_inner">
				<ul>
					<li>
						{% if advert_info.ad_url != '' %}
						<a alt="" rel="nofollow" href="{{ advert_info.ad_url }}">
						{% endif %}
						{% if advert_info.ad_type == 0 %}
						<img alt="" src="{{ main_url}}{{ advert_info.ad_image }}">
						{% else %}
						{{ advert_info.ad_text|raw }}
						{% endif %}
						{% if advert_info.ad_url != '' %}
						</a>
						{% endif %}
					</li>
				</ul>
			</div>
		</div>
		{% endif %}
		{% endif %}

		{% endfor %}
	</section>


	<div class="more_comment" data-pid="{{ post.id }}" style="display:none;">
		<ul class="btn_wrap">
			<li><a href="#" class="btn_other">もっと見る</a></li>
		</ul>
	</div>



	<section class="sec_post_comment">

		<div id="reaction_confirm" class="comment_reply_input cf"  style="display:none">
			<h2 class="sec_ttl">入力内容の確認</h2>
			<p class="reaction_comment_error"></p>
			<form id="reaction_confirm_form" method="post" class="comment_form_send" data-pid="{{ post.id }}" enctype="multipart/form-data">
			<div class="sec_confirm_area">
				<div class="sec_inner" id="">
					<div class="comment">
						<div class="comment_p">
							<script>
								var img_select_array = [];
							</script>
							<div class="consult_comment">
								<p id="ap_image" class=""><img id="up_image" src="" ></p>
								<p id="ap_message" class="aruaru_tally_count_4"></p>
								<input type="hidden" name="message_all" value="">
								<input type="hidden" name="bl_max" value="">
								<input type="hidden" name="pid" value="">
								<input type="hidden" name="upload_image_file" value="">
							</div>
						</div>
					</div>
				</div>
			</div>
			</form>
			<ul class="btn_wrap send">
				<li class="send_btn">
					<button id="form_back" class="btn_style btn_green">戻る</button>
				</li>
				<li class="send_btn">
					<button id="btn" class="submit_comment btn_style btn_green" type="submit">投稿する</button>
				</li>
			</u>
		</div>

		<form method="post" action="/reaction/ajaxCommentConfirm" class="comment_confirm_form" data-pid="{{ post.id }}" enctype="multipart/form-data">
<!--		<form action="" id="comment_form_sp" class="comment_form" data-pid="{{ post.id }}"> -->
			<div id="reaction_input_form">
				<h2 class="sec_ttl">このお題にコメントする</h2>
				<div class="sec_inner">
					<p class="error consult s_error" style="display:none;"></p>
					<textarea name="consult_message" placeholder="ログインしなくても書き込みできるよ！&#13;&#10;URLを入れると引用ができるよ！" maxlength="300"></textarea>
					<ul class="notice">
						<li>※全角300文字以内<br><span>画像アップロード</span>
						<input id="upload_img" type="file" value="" name="userfile">
						<input id="image_file_name" type="hidden" value="" name="image_file_name">
						</li>
					</ul>
					<ul class="btn_wrap">
						<li>
							<button id="" type="submit" class="btn_style btn_green">確認する</button>
						</li>

					</ul>
					<ul class="caution">
						<li>※投稿時の注意事項は<a rel="leanModal" href="#guideline" class="t_link">コチラ</a>から確認できます</li>
					</ul>
				</div>
			</div>
		</form>
	</section>

	{% include 'inc/footer_banner.html' %}
<!--	<div class="more_comment" data-pid="{{ post.id }}" style="displa:none"></div>  -->
	{% include 'inc/footer.html' %}
</div>
{% include 'inc/script.html' %}
<script type="text/javascript">
	$(document).on("click","#btn", function(){
        $('#reaction_confirm_form').submit();
    });
</script>
<script type="text/javascript">
	$(window).scroll(function() {
	   if($(window).scrollTop() + $(window).height() > $(document).height() - 500) {
	       $('.more_comment').trigger("click");
	   }
	});
</script>
</body>
</html>