<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
<title>お悩み相談</title>
{% include 'inc/link.html' %}
<link rel="stylesheet" href="/sp/css/theme_conf.css">
</head>
<body>
<div class="page_wrap page_theme_conf">
	{% include 'inc/header.html' with {'is_visitor': is_visitor } %}
	<section class="sec sec_theme_conf">
		<form method="post" action="" class="question_conf_form validate" onsubmit="document.getElementById('theme_sub_btn').disabled=true;">
			<h2 class="sec_ttl">入力内容の確認</h2>
			<div class="sec_inner">
				<div class="input_form">
					<dl>
						<dt>ニックネーム</dt>
						<dd>
							<p>{{ values.user_nickname }}</p>
						</dd>
					</dl>
					<dl>
						<dt>大カテゴリー</dt>
						<dd>
							<p>{{ values.big_cate_name }}</p>
						</dd>
					</dl>
					<dl>
						<dt>小カテゴリー</dt>
						<dd>
							<p>{{ values.cate_name }}</p>
						</dd>
					</dl>
					<dl>
						<dt>お題</dt>
						<dd>
							<p>{{ values.title }} {{ values.qclval }}</p>
						</dd>
					</dl>
					<style>
					.image_change_btn a{display: inline-block;}
					</style>
					<form id="theme_conf_form" method="post" action="" class="question_conf_form validate" onsubmit="document.getElementById('theme_sub_btn').disabled=true;">
					<dl>
						{% if values.image_file_name != '' %}
						<dt>画像</dt>
						<dd>
							<p><img src="/uploads/temp/{{ values.image_file_name }}"></p>
						</dd>
						<input type="hidden" name="userfile" value="{{ values.image_file_name }}" />
						{% endif %}
						<dt>本文</dt>
						<dd>
							<script>
								var img_select_array = [];
							</script>
							<p>{{ values.message_next|raw }}</p>
						</dd>
					</dl>
					<input type="hidden" name="big_cate_id" value="{{ values.big_cate_id }}" />
					<input type="hidden" name="cate_id" value="{{ values.cate_id }}" />
					<input type="hidden" name="title" value="{{ values.title }}" />
					<input type="hidden" name="message" value="{{ values.message_prev }}" />
					<input type="hidden" name="go_message" value="{{ values.message_next }}" />
					<input type="hidden" name="message_all" value="{{ values.message_all }}" />
					<input type="hidden" name="bl_max" value="{{ values.bl_max }}" />
					<input type="hidden" name="qcl" value="{{ values.qcl }}" />
					<input type="hidden" name="save" value="1" />
					</form>
					<ul class="btn_wrap">
						<li> <a href="#" id="theme_form_back_to_prev" class="btn_style btn_gray-o">戻る</a> </li>
						<li>
							<button id="theme_sub_btn" type="submit" class="btn_style btn_green">投稿する</button>
						</li>
					</ul>
				</div>
			</div>
	</section>
	{% include 'inc/footer.html' %}
</div>
{% include 'inc/script.html' %}
<script type="text/javascript">
	$(document).on("click","#theme_sub_btn", function(){
        $('#theme_conf_form').submit();
    });

	$("#theme_form_back_to_prev_pc").click(function(){
		$("input[name='save']").val("0");
		$("#theme_conf_form").submit();
	})
</script>
</body>
</html>
