<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
<title>お悩み相談</title>
{% include 'inc/link.html' %}
</head>
<body>
<div class="page_wrap page_theme_comp">
	{% include 'inc/header.html' with {'is_visitor': is_visitor } %}
	<section class="sec sec_theme_comp">
		<h2 class="sec_ttl">相談内容の投稿完了</h2>
		<div class="sec_inner">
			<h3 class="content_ttl">投稿が完了しました。</h3>
			<ul class="btn_wrap">
				<li><a href="/my_page" class="btn_style btn_gray-o">マイページへ</a></li>
				<li><a href="/reaction/{{ pid }}" class="btn_style btn_green">投稿した記事へ</a></li>
			</ul>
		</div>
	</section>
	{% include 'inc/footer.html' %}
</div>
{% include 'inc/script.html' %}
</body>
</html>
