@charset "utf-8";
*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	list-style:none;
}
html {
	font-family: Helvetica, Arial, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Verdana, sans-serif;
	font-size: 62.5%;
}
body {
	color: #2a2c37;
	background-color: #eff4fa;
	font-size: 14px;
	font-size: 1.4rem;
}
/* adjust */
input,textarea,select,button{
	font-family: Helvetica, Arial, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Verdana, sans-serif;
	line-height:1;
}
input {
	margin: 0;
	padding: 0;
	position: relative;
	top: -1px;
}
.hide {
	display: none;
}
/* ------------ link ------------ */
a {
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
	display:block;
	color: #2a2c37;
}
.t_link {
	color: #5d9cec;
	text-decoration: underline;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
#page_top {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
#page_top a {
    display: block;
    background: #7D7D8B;
    text-decoration: none;
    color: #fff;
    width: 60px;
    height: 60px;
    padding: 15px 0;
    text-align: center;
    border-radius: 50%;
}
#page_top a:hover {
    text-decoration: none;
    background: #999;
}
/* ------------ validate ------------ */
.validate p.error, p.s_error {
    color: #ef4f5a;
    font-weight: bold;
    margin: 0 0 10px 0;
}
/* ------------ loading ------------ */
#loading{
width: 90px;
height: 90px;
padding: 20px;
background: none;
opacity: 0.5;
border-radius: 15px;
position: fixed;
left: 50%;
top: 50%;
display: none;
}
#loading img{
margin-left: -40px;
margin-top: -40px;
}
/* ------------ button ------------ */
.btn_wrap {
	width: 100%;
	margin: 0 auto;
}
.btn_wrap button {
	border: none;
}
.btn_wrap li {
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
}
.btn_wrap .btn_style {
	font-weight:bold;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    position: relative;
    text-align: center;
	cursor: pointer;
}
.btn_wrap .btn_sns {
	font-size: 1.3rem;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}
.btn_wrap .btn_style.btn_green {
	background: #1abc9c;
	box-shadow: 0 2px 0 0 #0a705c,
				0 1px 0 3px #ffffff;
}
.btn_wrap .btn_style.btn_green_no_b{
	background: #1abc9c;
	box-shadow: 0 2px 0  #0a705c;
}
.btn_wrap .btn_style.btn_green:hover {
	background: #48c9b0;
	box-shadow: 0 2px 0 0 #3b8d7d,
				0 1px 0 3px #ffffff;
}
.btn_wrap .btn_style.btn_orange {
	background:#f39c12;
	box-shadow: 0 2px 0 0 #a66703,
				0 1px 0 3px #ffffff;
}
.btn_wrap .btn_style.btn_orange.reacted,
.btn_wrap .btn_style.btn_orange:hover {
	background:#f5b041;
	box-shadow: 0 2px 0 0 #b88535,
				0 1px 0 3px #ffffff;
}
.btn_wrap .btn_style.btn_orange-o {
	color:#fb6e52;
	border:solid 2px #fb6e52;
}
.btn_wrap .btn_style.btn_red {
	background: #f8384a;
	box-shadow: 0 2px 0 0 #ab1f2d,
				0 1px 0 3px #ffffff;
}
.btn_wrap .btn_style.btn_red.reacted
.btn_wrap .btn_style.btn_red:hover{
	background-color:#f9606e;
	box-shadow: 0 2px 0 0 #bc4c57,
				0 1px 0 3px #ffffff;
}
.btn_wrap .btn_style.btn_gray {
	background: #695e59;
    box-shadow: 0 2px 0 0 #42403F, 
                0 1px 0 3px #ffffff;
}
.btn_wrap .btn_style.btn_gray:hover{
	background: #7B706B;
    box-shadow: 0 2px 0 0 #585553, 
                0 1px 0 3px #ffffff;
}
.btn_wrap .btn_style.btn_gray-o {
    color: #372e2a;
    border: solid 1px #999999;
}
.btn_wrap .btn_sns.tweet {
    background-color: #1b95e0;
    border: 2px solid #FFFFFF;
    background-image: url(../image/icon/icon_tweet.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 7px;
	padding: 0 8px 0 0;
}
.btn_wrap .btn_sns.tweet:hover {
    background-color: #49aae6;
}
.btn_wrap .btn_style.btn_blue {
	background: #2bc1e0;
}
.btn_wrap .btn_other{
	width:150px;
	height:45px;
	line-height: 2.5;
	color:#2a2c37;
	font-size:16px;
	font-size:1.6rem;
	font-weight:bold;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
}
.btn_wrap .btn_other {
	background-color:#ffffff;
	border:solid 2px #999999;
	box-shadow:0 2px 0 #cccccc;
}
.btn_wrap .creating {
    width: 180px;
    height: 45px;
	font-size: 16px;
    font-size: 1.6rem;
    color: #ffffff;
    font-weight: bold;
    line-height: 2.7;
    border-radius: 4px;
    background: #f5b041;
    box-shadow: 0 2px 0 #a66703;
	text-decoration: none;
	cursor: pointer;
	padding: 0 10px;
}
.more_comment {
    text-align: center;
    margin-bottom: 20px;
}
/* ------------ pager ------------ */
.pager_wrap {
	font-size: 0;
	text-align: center;
}
.pager_wrap li {
	display: inline-block;
	margin: 0 5px;
}
.pager_style {
	color: #FFF;
	width: 40px;
	height: 40px;
	line-height: 2.9;
	border-radius: 5px;
	background: #5d9cec;
	text-align: center;
	text-decoration: none;
}
.pager_style.current {
	color: #555;
	background:none;
}

.pagination {
	cursor: pointer;
}
.current {
	cursor: default !important;
}
/* ------------ icon ------------ */
.ic {
}
.ic:before {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1;
	font-family: FontAwesome;
	margin: 0 5px;
}
.ic.ic_eye:before {
	width: 22px;
    height: 13px;
    content: "";
    background: url(../image/icon/icon_eye.png);
    background-repeat: no-repeat;
    display: inline-block;
	margin: 0 10px 0 15px;
}
.ic.ic_new:before {
	width:30px;
	display: inline-block;
	content: "NEW";
    color: #ffffff;
	text-align:center;
    background-color: #f8384a;
    border-radius: 15px;
    font-size: 10px;
    font-size: 1.0rem;
	padding: 2px 0;
    position: relative;
    top: -1px;
}
.ic.ic_comment:before {
	width:20px;
	display: inline-block;
    content: "\f075";
    font-size: 16px;
    font-size: 1.6rem;
    color: #f39c12;
	text-align:center;
}
.fa.fa-chevron-up{
    font-size: 30px;
	position: relative;
    top: -2px;
}
/* ------------ basic_bg ------------ */
.page_wrap .content_inner.basic_bg {
	background-color:#ffffff;
	border: 1px solid #DBE5F1;
	border-radius:5px;
	box-shadow:1px 1px 3px #cccccc;
	padding: 30px;
}
.page_wrap .basic_bg .sec_ttl {
    border-bottom: #3765a1 solid 2px;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 0 0 15px;
    margin: 0 auto 15px auto;
}
/* ------------ modal ------------ */
.modal_close{
	display: inline-block;
    vertical-align: top;
	font-size: 30px;
    font-size: 3.0rem;
	color: #50546E;
    cursor: pointer;
	position: relative;
    top: -10px;
}
#lean_overlay{
    display: none;
    position: fixed; 
    z-index:100; 
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
}
#guideline{
    width: 780px;
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 4px #ffffff;
    display: none;
    border: 4px solid #50546E;
	border-radius: 5px;
    padding: 15px 20px 30px 30px;
	
}
/*------------------------------>>
	common
<<------------------------------*/
.disable {
	cursor: default;
	pointer-events : none;
}
/* mypage adjust */

.btn_checkbox input[type=checkbox] {
	pointer-events : none;
}
.header {
    border-bottom: 2px solid #3765a1;
}
.header_inner {
	position: relative;
	width: 1060px;
	margin: 0 auto;
}
.page_wrap .sec {
	line-height: 1.5;
}
.page_wrap.page_index .sec_site_notice {
	border-radius: 5px;
	background: #f5f5f5;
	padding: 15px;
	line-height: 1.5;
}
/*------------------------------>>
	header
<<------------------------------*/
.header_wrap {
	width: 100%;
	font-size: 15px;
	font-size: 1.5rem;
	border-top:2px solid #3765a1;
	background-color: #5d9cec;
}
.header_wrap .header .left_box {
	float: left;
}
.header_wrap .header .right_box {
	float: right;
	text-align: right;
}
.header_wrap .header .header_inner {
	padding: 20px 0 18px;
	position: relative;
}
.header_wrap .site_logo a:hover{
	opacity:0.8;
}
.header_wrap .header .right_box .header_banner_area,
.header_wrap .header .right_box .header_site_ability {
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
	line-height: 1.5;
}
.header_wrap .header .right_box .header_banner_area li {
	display: inline-block;
}
.header_wrap .header .right_box .header_banner_area li + li {
	margin-left: 10px;
}
.header_wrap .header .right_box .header_site_ability li {
	margin-bottom: 5px;
}
.header_wrap .header .right_box .header_site_ability li span {
	color: #fb6e52;
	font-weight: bold;
}
.header_wrap .header .right_box .header_user_menu,
.header_wrap .header .right_box .header_account_menu {
	display: inline-block;
	vertical-align: bottom;
	margin: 0 10px 0 0;
	line-height: 1.5;
}
.header_wrap .header .right_box .header_user_menu li {
	display: inline-block;
}
.header_wrap .header .right_box .header_user_menu li a {
	color: #372e2a;
	text-decoration: none;
}
.header_wrap .header .right_box .header_user_menu li a:hover {
	opacity: 0.8;
	text-decoration: underline;
}
.header_wrap .header .right_box .header_account_menu {
	width: auto;
}
.header_wrap .header .right_box .header_account_menu li {
	margin: 0;
}
.header_wrap .header .right_box .header_account_menu li + li {
	margin-left: 10px;
}
.header_wrap .header .right_box .header_account_menu li .btn_style {
	width: 116px;
	height: 37px;
    line-height: 2.5;
}
.header_wrap .header .right_box .header_account_menu li .btn_sns{
	width: 73px;
    height: 28px;
    line-height: 1.9;
	position: relative;
    top: 3px;
}
.header_wrap .header_nav {
	color: #fff;
	width: 100%;
	height: 54px;
    background: #2a2c37;
	border-bottom: 2px solid #cccccc;
}
.header_wrap .header_nav .header_inner ul {
	display:table;
	width:100%;
}
.header_wrap .header_nav .header_inner ul li {
	display:table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
    font-size: 1.4rem;
	font-weight: bold;
}
.header_wrap .header_nav .header_inner ul li{
	width: 107px;
}
.header_wrap .header_nav .header_inner ul li a{
	color: #fff;
	padding: 19px 0;
	text-decoration: none;
}
.header_wrap .header_nav .header_inner ul li a.new_line {
	padding: 12px 0;
}
/*------------------------------*/

/*------------------------------>>
	header_inner hover & on
<<------------------------------*/
.header_wrap .header_nav .header_inner ul li .men_women:hover,
.header_wrap .header_nav .header_inner ul li .men_women.on{
	background-color:#ff3451;
}
.header_wrap .header_nav .header_inner ul li .marriage:hover,
.header_wrap .header_nav .header_inner ul li .marriage.on{
	background-color:#ff34ab;
}
.header_wrap .header_nav .header_inner ul li .sex:hover,
.header_wrap .header_nav .header_inner ul li .sex.on{
	background-color:#e934ff;
}
.header_wrap .header_nav .header_inner ul li .chat_lady:hover,
.header_wrap .header_nav .header_inner ul li .chat_lady.on{
	background-color:#b034ff;
}
.header_wrap .header_nav .header_inner ul li .take_care:hover,
.header_wrap .header_nav .header_inner ul li .take_care.on{
	background-color:#5a34ff;
}
.header_wrap .header_nav .header_inner ul li .cabaret:hover,
.header_wrap .header_nav .header_inner ul li .cabaret.on{
	background-color:#3477ff;
}
.header_wrap .header_nav .header_inner ul li .band:hover,
.header_wrap .header_nav .header_inner ul li .band.on{
	background-color:#25bae5;
}
.header_wrap .header_nav .header_inner ul li .johnny:hover,
.header_wrap .header_nav .header_inner ul li .johnny.on{
	background-color:#0fcfa9;
}
.header_wrap .header_nav .header_inner ul li .host:hover,
.header_wrap .header_nav .header_inner ul li .host.on{
	background-color:#9bcf0f;
}
.header_wrap .header_nav .header_inner ul li .gambling:hover,
.header_wrap .header_nav .header_inner ul li .gambling.on{
	background-color:#e6c614;
}
.header_wrap .header_nav .header_inner ul li .pachinko:hover,
.header_wrap .header_nav .header_inner ul li .pachinko.on{
	background-color:#e6c614;
}
.header_wrap .header_nav .header_inner ul li .entertainment:hover,
.header_wrap .header_nav .header_inner ul li .entertainment.on{
	background-color:#ff6600;
}
.header_wrap .header_nav .header_inner ul li .others:hover,
.header_wrap .header_nav .header_inner ul li .others.on{
	background-color:#cccccc;
}

/*------------------------------*/

/*------------------------------>>
	breadcrumb_list
<<------------------------------*/
.header_wrap .breadcrumb {
	background:#ffffff;
}
.header_wrap .breadcrumb .header_inner ul {
	padding: 9px 0;
}
.header_wrap .breadcrumb .header_inner ul li {
	display: inline-block;
	padding: 0 10px;
	position:relative;
}
.header_wrap .breadcrumb .header_inner ul li + li:before{
	content:"\f105";
	font-family:FontAwesome;
	display:inline-block;
	position:absolute;
	color:#5d9cec;
	left:-5px;
	font-size:16px;
	font-size:1.6rem;
	font-weight: bold;
}
.header_wrap .breadcrumb .header_inner ul li a {
	color: #5d9cec;
	text-decoration:underline;
}
.header_wrap .breadcrumb .header_inner ul li:last-child a {
	color:#372e2a;
	pointer-events: none;
	text-decoration:none;
}
/*------------------------------*/

/*------------------------------>>
	sec_attention_list
<<------------------------------*/
.sec_attention_list {
	border: 1px solid #3765a1;
	line-height: 1.5;
	border-radius: 5px 5px 0 0;
	background-color: #ffffff;
}
.sec_attention_list .sec_ttl {
	color:#ffffff;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
	background-color: #3765a1;
	padding: 15px 0;
	border-bottom: solid 1px #ddd;
}
.sec_attention_list .sec_ttl.attention img {
    margin: 0 10px;
}
.sec_attention_list ul{
	width: 100%;
	padding: 0 5px;
}
.sec_attention_list ul li {
    border-bottom: 1px solid #c1cddd;
    margin: 0 auto;
}
.sec_attention_list ul li:last-child{
	border:none;
}
.sec_attention_list ul li a{
	text-decoration: none;
    padding: 15px 10px;
	margin:0 auto;
}
.sec_attention_list ul li a:hover {
	opacity: 0.8;
}
.sec_attention_list ul .sec_list_box {
	width: 280px;
}
.sec_attention_list ul li .posted_ttl {
	font-weight:bold;
}
.sec_side_banner ul li {
	margin-bottom: 15px;
}
.sec_side_banner ul li img {
	max-width: 100%;
}
.sec_mypage_setting {
	border: 1px solid #cccccc;
	line-height: 1.5;
	border-radius: 5px 5px 0 0;
}
.sec_mypage_setting .sec_ttl {
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
	background-color: #f4f4f4;
	padding: 15px;
	border-bottom: solid 1px #cccccc;
	border-radius: 5px 5px 0 0;
}
.sec_mypage_setting ul li {
    background-color: #ffffff;
}
.sec_mypage_setting ul li a {
	padding: 0 5px 0 5px;
	text-decoration: none;
	position: relative;
}
.sec_mypage_setting ul li a:before {
	position: absolute;
	font-size: 24px;
	top: 50%;
	right: 10px;
	margin-top: -12px;
	color: #ccc;
}
.sec_mypage_setting ul li a:hover {
	opacity: 0.8;
}
.sec_mypage_setting ul li a .sec_list_inner {
	display: block;
	border-bottom: groove 1px #999999;
	padding: 15px 30px 15px 10px;
	padding-bottom: 15px;
}
.sec_mypage_setting ul li:last-child a .sec_list_inner {
	border: none;
}
.sec_mypage_setting ul li .posted_data {
	font-size: 12px;
	font-size: 1.2rem;
	color: #999999;
}
.sec_mypage_setting ul li .posted_ttl {
	font-weight:bold;
}
/*------------------------------*/
/*------------------------------>>
	main_content
<<------------------------------*/
.page_wrap .content_wrap {
	width: 1060px;
	margin: 0 auto;
	padding: 30px 0 50px;
}
.page_wrap .content_wrap .content {
	width: 750px;
	float: left;
}
.page_wrap .content_wrap .sidebar {
	width: 280px;
	float: right;
}
/*------------------------------*/

/*------------------------------>>
	category_color
<<------------------------------*/
.cate.men_women {
	background-color:#ff3451;
}
.cate.marriage {
	background-color:#ff34ab;
}
.cate.sex {
	background-color:#e934ff;
}
.cate.chat_lady {
	background-color:#b034ff;
}
.cate.take_care {
	background-color:#5a34ff;
}
.cate.cabaret {
	background-color:#3477ff;
}
.cate.band {
	background-color:#25bae5;
}
.cate.johnny {
	background-color:#0fcfa9;
}
.cate.host {
	background-color:#9bcf0f;
}
.cate.gambling {
	background-color:#e6c614;
}
.cate.entertainment {
	background-color:#ff6600;
}
.cate.others {
	background-color:#cccccc;
}

/*------------------------------*/

/*------------------------------>>
	footer
<<------------------------------*/
footer {
	width: 100%;
	background-color: #2a2c37;
}
footer .footer_inner {
	color: #fff;
	width: 1060px;
	margin: 0 auto;
	padding: 25px 0;
	display: table;
}
footer .footer_inner .left_box {
	padding-right: 30px;
	display: table-cell;
}
footer .footer_inner .right_box {
	font-size: 15px;
	font-size: 1.5rem;
	vertical-align: top;
	display: table-cell;
}
footer .footer_inner .right_box dl + dl{
	border-top: dashed 1px #fff;
	padding-top:20px;
}
footer .footer_inner .right_box dl dt a {
	color: #ff0d59;
	text-decoration: none;
}
footer .footer_inner .right_box dl.nav_aruaru dt a{
	color:#5d9cec;
}
footer .footer_inner .right_box dl.nav_onayami dt a{
	color:#F65800;
}
footer .footer_inner .right_box dl.nav_joyspe dt a {
	color: #ff0d59;
	text-decoration: none;
}
footer .footer_inner .right_box dl dd ul {
	margin-bottom: 20px;
}
footer .footer_inner .left_box figure{
	text-align:center;
	margin-bottom:20px;
}
footer .footer_inner .left_box .btn_wrap{
	font-size:0;
}
footer .footer_inner .left_box .btn_wrap .btn_style{
	width:120px;
	height:35px;
	font-size: 14px;
    font-size: 1.4rem;
	line-height: 2.5;
}
footer .footer_inner .right_box ul {
	width: 735px;
	padding: 10px 0 0;
	margin-bottom: 10px;
	line-height:2;
}
footer .footer_inner .right_box .detail li,
footer .footer_inner .right_box ul.footer_sitemap li{
	font-size: 13px;
    font-size: 1.3rem;
}
footer .footer_inner .right_box ul.footer_sitemap {
	border-top: dashed 1px #fff;
}
footer .footer_inner .right_box ul li {
	display: inline-block;
}

footer .footer_inner .right_box ul li:after{
	content:"|";
	padding: 0 6px;
}
footer .footer_inner .right_box ul li:last-child:after{
	content:none;
}
footer .footer_inner .right_box ul li a{
	display: inline-block;
	color:#ffffff;
	text-decoration:none;
}
footer .footer_inner .right_box ul li a:hover {
	opacity: 0.8;
	color: #F48A94;
	text-decoration: underline;
}
footer small {
	width:100%;
	color:#fff;
	padding:10px 0;
	background:#16171f;
	font-size: 12px;
	font-size: 1.2rem;
	text-align:center;
	display:block;
}
/*------------------------------*/
