@charset "utf-8";
/*------------------------------>>
	sec_top_creating
<<------------------------------*/
.page_wrap.page_index .sec_top_creating .sec_inner {
	position: relative;
    background: #ffffff;
    border: 1px solid #3765a1;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 0 #3765a1;
}
.page_wrap.page_index .sec_top_creating .sec_inner:after, 
.page_wrap.page_index .sec_top_creating .sec_inner:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.page_wrap.page_index .sec_top_creating .sec_inner:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #ffffff;
	border-width: 30px;
	margin-left: -30px;
}
.page_wrap.page_index .sec_top_creating .sec_inner:before {
	border-bottom-color: #3765a1;
    border-width: 31px;
    margin-left: -31px;
}
.page_wrap.page_index .sec_top_creating .sec_ttl {
	font-size: 24px;
	font-size: 2.4rem;
	font-weight: bold;
	text-align: center;
}
.page_wrap.page_index .sec_block.new_creating {
    text-align: center;
}
.page_wrap.page_index .sec_top_creating .sec_ttl span{
    font-size: 32px;
    font-size: 3.2rem;
    color: #5d9cec;
	margin: 0 10px;
}
/*------------------------------*/

/*------------------------------>>
	sec_bbs_list
<<------------------------------*/
.page_wrap.page_index .sec_bbs_list {
	border: 1px solid #3765a1;
	border-radius: 5px;
}
.page_wrap.page_index .sec_bbs_list .sec_inner {
	background-color: #ffffff;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.page_wrap.page_index .sec_bbs_list .sec_box_category{
	font-size:12px;
	font-size:1.2rem;
	color:#ffffff;
	font-weight: bold;
	padding: 2px 4px;
}
.page_wrap.page_index .sec_bbs_list .sec_ttl.new_comment{
	color: #ffffff;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
	padding: 15px;
	background-color: #3765a1;
}
.page_wrap.page_index .sec_bbs_list .sec_inner ul{
	padding: 0 10px 0 15px;
}
.page_wrap.page_index .sec_bbs_list .sec_inner .comment_list{
    border-bottom: 1px solid #c1cddd;
    width: 100%;
    margin: 0 auto;
}
.page_wrap.page_index .sec_bbs_list .sec_inner .comment_list:last-child{
	border:none;
}
.page_wrap.page_index .sec_bbs_list .sec_inner .comment_box{
	text-decoration:none;
	padding: 10px 0 5px 0;
}
.page_wrap.page_index .sec_bbs_list .sec_inner .comment_box:hover{
	opacity:0.8;
}
.page_wrap.page_index .sec_bbs_list .sec_inner .comment_box_inner{
	display: table;
    width: 100%;
}
.page_wrap.page_index .sec_bbs_list .sec_inner .comment_box dl{
	max-width: 500px;
	display: table-cell;
}
.page_wrap.page_index .sec_bbs_list .sec_inner .sec_box_ttl {
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: bold;
	padding: 10px 0;
}
.page_wrap.page_index .sec_bbs_list .sec_inner .comment_box ul{
    display: table-cell;
	min-width: 230px;
    text-align: right;
    vertical-align: middle;
    padding: 0 5px 0 0;
}
.page_wrap.page_index .sec_bbs_list .sec_inner .comment_box ul li p{
	display:inline-block;
}
.page_wrap.page_index .sec_bbs_list .sec_inner .comment_box ul .count_text{
	font-size: 14px;
	font-size:1.4rem;
	font-weight: bold;
	margin: 0 4px;
}
.page_wrap.page_index .sec_bbs_list .sec_inner .comment_box ul .count_text.red{
	color:#f8384a;
}
.page_wrap.page_index .sec_bbs_list .sec_inner .comment_box ul .count_text.orange{
	color:#f39c12;
}
.page_wrap.page_index .sec_bbs_list .sec_inner .comment_box ul .fix_text{
	font-size: 12px;
	font-size:1.2rem;
}
/*------------------------------*/

/*------------------------------>>
	sec_new_post_bbs
<<------------------------------*/
.page_wrap.page_index .sec_new_post_bbs {
	border: 1px solid #3765a1;
	border-radius: 5px;
}
.page_wrap.page_index .sec_new_post_bbs .sec_inner {
	background-color: #ffffff;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.page_wrap.page_index .sec_new_post_bbs .sec_box_category{
	font-size:12px;
	font-size:1.2rem;
	color:#ffffff;
	font-weight: bold;
	padding: 2px 4px;
}
.page_wrap.page_index .sec_new_post_bbs.new_post{
	border: 1px solid #5d9cec;
	border-radius: 5px;
}
.page_wrap.page_index .sec_new_post_bbs {
	border: 1px solid #5d9cec;
	border-radius: 5px;
}
.page_wrap.page_index .sec_new_post_bbs .sec_ttl {
	color: #ffffff;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
	padding: 15px;
	background-color: #5d9cec;
}
.page_wrap.page_index .sec_new_post_bbs .sec_ttl.new_comment{
	background-color: #3765a1;
}
.page_wrap.page_index .sec_new_post_bbs .sec_inner ul {
    padding: 0 10px 0 15px;
}
.page_wrap.page_index .sec_new_post_bbs .sec_inner .comment_list{
    border-bottom: 1px solid #c1cddd;
    width: 100%;
    margin: 0 auto;
}
.page_wrap.page_index .sec_new_post_bbs .sec_inner .comment_box{
	text-decoration:none;
	padding: 10px 0 5px 0;
}
.page_wrap.page_index .sec_new_post_bbs .sec_inner .comment_box:hover{
	opacity:0.8;
}
.page_wrap.page_index .sec_new_post_bbs .sec_inner .comment_box_inner{
	display: table;
    width: 100%;
}
.page_wrap.page_index .sec_new_post_bbs .sec_inner .comment_box dl{
	max-width:500px;
	display: table-cell;
}
.page_wrap.page_index .sec_new_post_bbs .sec_inner .comment_box .sec_box_ttl {
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: bold;
	padding: 10px 0 0 0;
}
.page_wrap.page_index .sec_new_post_bbs .sec_inner .comment_box ul{
    display: table-cell;
	min-width: 230px;
    text-align: right;
    vertical-align: middle;
    padding: 0 5px 0 0;
}
.page_wrap.page_index .sec_new_post_bbs .sec_inner .comment_box ul li p{
	display:inline-block;
}
.page_wrap.page_index .sec_new_post_bbs .sec_inner .comment_box ul .count_text{
	font-size: 14px;
	font-size:1.4rem;
	font-weight: bold;
	margin: 0 4px;
}
.page_wrap.page_index .sec_new_post_bbs .sec_inner .comment_box ul .count_text.red{
	color:#f8384a;
}
.page_wrap.page_index .sec_new_post_bbs .sec_inner .comment_box ul .count_text.orange{
	color:#f39c12;
}
.page_wrap.page_index .sec_new_post_bbs .sec_inner .comment_box ul .fix_text{
	font-size: 12px;
	font-size:1.2rem;
}
.page_wrap.page_index .sec_new_post_bbs .sec_inner .comment_box ul .fix_text{
}
.page_wrap.page_index .sec_new_post_bbs .more_comment {
	padding: 15px 0;
	background-color: #ffffff;
	border-radius: 0 0 5px 5px;
}
.page_wrap.page_index .sec_new_post_bbs .create_consultation .btn_wrap {
	text-align: center;
}
.page_wrap.page_index .sec_new_post_bbs .create_consultation .btn_wrap .btn_style {
	width: 200px;
	height: 45px;
	line-height: 2.8;
	font-size: 18px;
	font-size: 1.8rem;
}
/*------------------------------*/

/*------------------------------>>
	sec_category_broader
<<------------------------------*/
.content_wrap .content .sec_category_broader .sec_block.category_broader_wrap{
	padding: 0 0 20px 0;
    margin-top: -5px;
}
.content_wrap .content .sec_category_broader .sec_block.category_broader_wrap .category{
	font-size:18px;
	font-size:1.8rem;
	font-weight:bold;
	margin: 0 10px 5px 0;
}
.content_wrap .content .sec_category_broader .sec_block.category_broader_wrap .category_detail li{
	display:inline-block;
	font-size:16px;
	font-size:1.6rem;
}
.content_wrap .content .sec_category_broader .sec_block.category_broader_wrap .category_detail li a{
	display:inline-block;
}
.content_wrap .content .sec_category_broader .sec_block.category_broader_wrap .category_detail li + li:before{
	content:"|";
	padding: 0 10px;
    position: relative;
    top: -3px;
}
/*------------------------------*/

/*------------------------------>>
	page_category_broader
<<------------------------------*/
.page_wrap.page_category_broader .sec_bbs_list_detail {
	border: 1px solid #3765a1;
	border-radius: 5px;
}
.page_wrap.page_category_broader .sec_bbs_list_detail .sec_inner {
	background-color: #ffffff;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.page_wrap.page_category_broader .sec_bbs_list_detail .sec_box_category.cate{
	font-size:12px;
	font-size:1.2rem;
	color:#ffffff;
	padding: 2px 4px;
}
.page_wrap.page_category_broader .sec_bbs_list_detail .sec_ttl.new_comment{
	color: #ffffff;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
	padding: 15px;
	background-color: #3765a1;
}
.page_wrap.page_category_broader .sec_bbs_list_detail .sec_inner .comment_list{
    border-bottom: 1px solid #c1cddd;
    width: 725px;
    margin: 0 auto;
}
.page_wrap.page_category_broader .sec_bbs_list_detail .sec_inner .comment_list:last-child{
	border:none;
}
.page_wrap.page_category_broader .sec_bbs_list_detail .sec_inner .comment_box{
	text-decoration:none;
	padding: 10px 10px 5px 5px;
}
.page_wrap.page_category_broader .sec_bbs_list_detail .sec_inner .comment_box:hover{
	opacity:0.8;
}
.page_wrap.page_category_broader .sec_bbs_list_detail .sec_inner .comment_box_inner{
	display: table;
    width: 100%;
}
.page_wrap.page_category_broader .sec_bbs_list_detail .sec_inner .comment_box dl{
	max-width:500px;
	display: table-cell;
}
.page_wrap.page_category_broader .sec_bbs_list_detail .sec_inner .sec_box_ttl {
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: bold;
	padding: 5px 0;
}
.page_wrap.page_category_broader .sec_bbs_list_detail .sec_inner .comment_box ul{
    display: table-cell;
	min-width: 230px;
    text-align: right;
    vertical-align: middle;
    padding: 0 5px 0 0;
}
.page_wrap.page_category_broader .sec_bbs_list_detail .sec_inner .comment_box ul p{
	display:inline-block;
}
.page_wrap.page_category_broader .sec_bbs_list_detail .sec_inner .comment_box ul .count_text{
	font-size: 14px;
	font-size:1.4rem;
	font-weight: bold;
	margin: 0 4px;
}
.page_wrap.page_category_broader .sec_bbs_list_detail .sec_inner .comment_box ul .count_text.red{
	color:#f8384a;
}
.page_wrap.page_category_broader .sec_bbs_list_detail .sec_inner .comment_box ul .count_text.orange{
	color:#f39c12;
}
.page_wrap.page_category_broader .sec_bbs_list_detail .sec_inner .comment_box ul .fix_text{
	font-size: 12px;
	font-size:1.2rem;
}
.page_wrap.page_category_broader .sec_bbs_list_detail .sec_inner .comment_box ul .fix_text{
}
.page_wrap.page_category_broader .sec_bbs_list_detail .sec_inner .comment_box ul .fa.fa-comment{
    width: 20px;
	font-size: 16px;
    font-size: 1.6rem;
    color: #f39c12;
    text-align: center;
    margin: 0 6px 0 0;
}
/*------------------------------*/
/*------------------------------*/
.page_wrap.page_category_broader .sec_new_post_bbs_detail {
	border: 1px solid #3765a1;
	border-radius: 5px;
}
.page_wrap.page_category_broader .sec_new_post_bbs_detail .sec_inner {
	background-color: #ffffff;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.page_wrap.page_category_broader .sec_new_post_bbs_detail .sec_box_category.cate{
	font-size:12px;
	font-size:1.2rem;
	color:#ffffff;
	padding: 2px 4px;
}
.page_wrap.page_category_broader .sec_new_post_bbs_detail.new_post{
	border: 1px solid #5d9cec;
	border-radius: 5px;
}
.page_wrap.page_category_broader .sec_new_post_bbs_detail {
	border: 1px solid #5d9cec;
	border-radius: 5px;
}
.page_wrap.page_category_broader .sec_new_post_bbs_detail .sec_ttl {
	color: #ffffff;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
	padding: 15px;
	background-color: #5d9cec;
}
.page_wrap.page_category_broader .sec_new_post_bbs_detail .sec_ttl.new_comment{
	background-color: #3765a1;
}
.page_wrap.page_category_broader .sec_new_post_bbs_detail .sec_ttl.new_bbs{
	background-color: #5d9cec;
}
.page_wrap.page_category_broader .sec_new_post_bbs_detail .sec_inner .comment_list{
    border-bottom: 1px solid #c1cddd;
    width: 725px;
    margin: 0 auto;
}
.page_wrap.page_category_broader .sec_new_post_bbs_detail .sec_inner .comment_list:last-child{
	border:none;
}
.page_wrap.page_category_broader .sec_new_post_bbs_detail .sec_inner .comment_box{
	text-decoration:none;
	padding: 10px 10px 5px 5px;
}
.page_wrap.page_category_broader .sec_new_post_bbs_detail .sec_inner .comment_box:hover{
	opacity:0.8;
}
.page_wrap.page_category_broader .sec_new_post_bbs_detail .sec_inner .comment_box_inner{
	display: table;
    width: 100%;
}
.page_wrap.page_category_broader .sec_new_post_bbs_detail .sec_inner .comment_box .sec_box_ttl {
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: bold;
	padding: 5px 0;
}
.page_wrap.page_category_broader .sec_new_post_bbs_detail .sec_inner .comment_box ul{
    display: table-cell;
	min-width: 230px;
    text-align: right;
    vertical-align: middle;
    padding: 0 5px 0 0;
}
.page_wrap.page_category_broader .sec_new_post_bbs_detail .sec_inner .comment_box ul p{
	display:inline-block;
}
.page_wrap.page_category_broader .sec_bbs_list .sec_inner .comment_box ul li p{
	display:inline-block;
}
.page_wrap.page_category_broader .sec_new_post_bbs_detail .sec_inner .comment_box ul .count_text{
	font-size: 14px;
	font-size:1.4rem;
	font-weight: bold;
	margin: 0 4px;
}
.page_wrap.page_category_broader .sec_new_post_bbs_detail .sec_inner .comment_box ul .count_text.red{
	color:#f8384a;
}
.page_wrap.page_category_broader .sec_new_post_bbs_detail .sec_inner .comment_box ul .count_text.orange{
	color:#f39c12;
}
.page_wrap.page_category_broader .sec_new_post_bbs_detail .sec_inner .comment_box ul .fix_text{
	font-size: 12px;
	font-size:1.2rem;
}
.page_wrap.page_category_broader .sec_new_post_bbs_detail .more_comment {
    width: 725px;
    border-top: 1px solid #c1cddd;
	padding: 15px 0;
}
.page_wrap.page_category_broader .sec_new_post_bbs_detail .create_consultation .btn_wrap {
	text-align: center;
}
/*------------------------------*/

/*------------------------------>>
	page_category_detail
<<------------------------------*/
.page_wrap.page_category_detail .content_wrap .content .sec_category_detail .sec_block.category_detail_wrap{
	padding: 0 0 20px 0;
    margin-top: -5px;
}
.page_wrap.page_category_detail .content_wrap .content .sec_category_detail .sec_block.category_detail_wrap .category{
	display:inline-block;
	vertical-align: bottom;
	font-size:18px;
	font-size:1.8rem;
	font-weight:bold;
	margin: 0 10px 0 0;
}
.page_wrap.page_category_detail .content_wrap .content .sec_category_detail .sec_block.category_detail_wrap .category_detail{
	display:inline-block;
	font-size:16px;
	font-size:1.6rem;
}
.page_wrap.page_category_detail .sec_bbs_list {
	border: 1px solid #3765a1;
	border-radius: 5px;
}
.page_wrap.page_category_detail .sec_bbs_list .sec_inner {
	background-color: #ffffff;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.page_wrap.page_category_detail .sec_bbs_list .sec_box_category.cate{
	font-size:12px;
	font-size:1.2rem;
	color:#3765a1;
	padding: 2px 4px;
}
.page_wrap.page_category_detail .sec_bbs_list .sec_ttl.new_comment{
	color: #ffffff;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
	padding: 15px;
	background-color: #3765a1;
}
.page_wrap.page_category_detail .sec_bbs_list .sec_inner .comment_list{
    border-bottom: 1px solid #c1cddd;
    width: 725px;
    margin: 0 auto;
}
.page_wrap.page_category_detail .sec_bbs_list .sec_inner .comment_list:last-child{
	border:none;
}
.page_wrap.page_category_detail .sec_bbs_list .sec_inner .comment_box{
	text-decoration:none;
	padding: 10px 10px 5px 5px;
}
.page_wrap.page_category_detail .sec_bbs_list .sec_inner .comment_box:hover{
	opacity:0.8;
}
.page_wrap.page_category_detail .sec_bbs_list .sec_inner .comment_box_inner{
	display: table;
    width: 100%;
}
.page_wrap.page_category_detail .sec_bbs_list .sec_inner .sec_box_ttl {
	max-width: 500px;
	display: table-cell;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: bold;
	padding: 8px 0 5px 0;
	word-wrap: break-word;
}
.page_wrap.page_category_detail .sec_bbs_list .sec_inner .comment_box ul{
    display: table-cell;
	min-width: 230px;
    text-align: right;
    vertical-align: middle;
    padding: 0 5px 0 0;
}
.page_wrap.page_category_detail .sec_bbs_list .sec_inner .comment_box ul li p{
	display:inline-block;
}
.page_wrap.page_category_detail .sec_bbs_list .sec_inner .comment_box ul .count_text{
	font-size: 14px;
	font-size:1.4rem;
	font-weight: bold;
	margin: 0 4px;
}
.page_wrap.page_category_detail .sec_bbs_list .sec_inner .comment_box ul .count_text.red{
	color:#f8384a;
}
.page_wrap.page_category_detail .sec_bbs_list .sec_inner .comment_box ul .count_text.orange{
	color:#f39c12;
}
.page_wrap.page_category_detail .sec_bbs_list .sec_inner .comment_box ul .fix_text{
	font-size: 12px;
	font-size:1.2rem;
}
.page_wrap.page_category_detail .sec_bbs_list .sec_inner .comment_box ul .fix_text{
}
/*------------------------------*/
/*------------------------------*/
.page_wrap.page_category_detail .sec_new_post_bbs {
	border: 1px solid #3765a1;
	border-radius: 5px;
}
.page_wrap.page_category_detail .sec_new_post_bbs .sec_inner {
	background-color: #ffffff;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.page_wrap.page_category_detail .sec_new_post_bbs .sec_box_category.cate{
	font-size:12px;
	font-size:1.2rem;
	color:#3765a1;
	padding: 2px 4px;
}
.page_wrap.page_category_detail .sec_new_post_bbs.new_post{
	border: 1px solid #5d9cec;
	border-radius: 5px;
}
.page_wrap.page_category_detail .sec_new_post_bbs {
	border: 1px solid #5d9cec;
	border-radius: 5px;
}
.page_wrap.page_category_detail .sec_new_post_bbs .sec_ttl {
	color: #ffffff;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
	padding: 15px;
	background-color: #5d9cec;
}
.page_wrap.page_category_detail .sec_new_post_bbs .sec_ttl.new_comment{
	background-color: #3765a1;
}
.page_wrap.page_category_detail .sec_new_post_bbs .sec_ttl.new_bbs{
	background-color: #5d9cec;
}
.page_wrap.page_category_detail .sec_new_post_bbs .sec_inner .comment_list{
    border-bottom: 1px solid #c1cddd;
    width: 725px;
    margin: 0 auto;
}
.page_wrap.page_category_detail .sec_new_post_bbs .sec_inner .comment_box{
	text-decoration:none;
	padding: 10px 10px 5px 5px;
}
.page_wrap.page_category_detail .sec_new_post_bbs .sec_inner .comment_box .comment_box_inner {
    display: table;
    width: 100%;
}
.page_wrap.page_category_detail .sec_new_post_bbs .sec_inner .comment_box .comment_box_inner > div{
	max-width: 500px;
	display:table-cell;
}
.page_wrap.page_category_detail .sec_new_post_bbs .sec_inner .comment_box:hover{
	opacity:0.8;
}
.page_wrap.page_category_broader .sec_new_post_bbs .sec_inner .comment_box_inner{
	display: table;
    width: 100%;
}
.page_wrap.page_category_detail .sec_new_post_bbs .sec_inner .comment_box .sec_box_ttl {
	max-width: 500px;
	display: table-cell;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: bold;
	padding: 8px 0 5px 0;
	word-wrap: break-word;
}
.page_wrap.page_category_detail .sec_new_post_bbs .sec_inner .comment_box ul{
    display: table-cell;
	min-width: 230px;
    text-align: right;
    vertical-align: middle;
    padding: 0 5px 0 0;
}
.page_wrap.page_category_detail .sec_new_post_bbs .sec_inner .comment_box ul li p{
	display:inline-block;
}
.page_wrap.page_category_detail .sec_new_post_bbs .sec_inner .comment_box ul .count_text{
	font-size: 14px;
	font-size:1.4rem;
	font-weight: bold;
	margin: 0 4px;
}
.page_wrap.page_category_detail .sec_new_post_bbs .sec_inner .comment_box ul .count_text.red{
	color:#f8384a;
}
.page_wrap.page_category_detail .sec_new_post_bbs .sec_inner .comment_box ul .count_text.orange{
	color:#f39c12;
}
.page_wrap.page_category_detail .sec_new_post_bbs .sec_inner .comment_box ul .fix_text{
	font-size: 12px;
	font-size:1.2rem;
}
.page_wrap.page_category_detail .sec_new_post_bbs .more_comment {
	padding: 15px 0;
	background-color: #ffffff;
    border-radius: 0 0 5px 5px;
}
.page_wrap.page_category_detail .sec_new_post_bbs .create_consultation .btn_wrap {
	text-align: center;
}
/*------------------------------*/

/*------------------------------>>
	page_theme
<<------------------------------*/
.page_wrap.page_theme .content_wrap .sec_theme {
	line-height: 1.5;
}
.page_wrap.page_theme .content_wrap .sec_theme .sec_ttl {
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
	border-bottom: 1px solid #cccccc;
	margin: 0 auto 20px;
	padding: 0 0 10px;
}
.page_wrap.page_theme .content_wrap .sec_theme .input_form {
	padding: 0 0 0 25px;
}
.page_wrap.page_theme .content_wrap .sec_theme .input_form dl {
	width:1010px;
	padding-bottom: 20px;
}
.page_wrap.page_theme .content_wrap .sec_theme .input_form dl + dl {
	border-top: solid 1px #ccc;
	padding: 20px 0;
}
.page_wrap.page_theme .content_wrap .sec_theme .input_form dl dt {
	font-size: 16px;
    font-size: 1.6rem;
	font-weight: bold;
	margin-bottom: 20px;
}
.page_wrap.page_theme .content_wrap .sec_theme .input_form dl .required:after {
    content: "必須";
	font-size:12px;
	font-size:1.2rem;
	color:#ffffff;
	background-color:#ff0000;
	border-radius:3px;
	padding:2px 4px;
	margin: 0 0 0 5px;
}
.page_wrap.page_theme .content_wrap .sec_theme .input_form dl.input_nickname dd p{
	display:inline-block;
	margin-right:20px;
}
.page_wrap.page_theme .content_wrap .sec_theme .input_form dl dd select,
.page_wrap.page_theme .content_wrap .sec_theme .input_form ul li select {
	width: 200px;
	padding: 10px;
	border-radius: 5px;
}
.page_wrap.page_theme .content_wrap .sec_theme .input_form dl.input_category_detail dd label + label {
	margin: 0 10px;
}
.page_wrap.page_theme .content_wrap .sec_theme .input_form .input_ttl dd input{
	width: 800px;
    display: inline-block;
    font-size: 16px;
    font-size: 1.6rem;
    border-radius: 5px;
    border: solid 1px #ccc;
    padding: 10px;
	margin: 0 0 10px 0;
}
.page_wrap.page_theme .content_wrap .sec_theme .input_form .input_category_list{
	display:inline-block;
	position: relative;
    top: -2px;
}
.page_wrap.page_theme .content_wrap .sec_theme .input_form .input_ttl {
    display: inline-block;
    vertical-align: middle;
}
.page_wrap.page_theme .content_wrap .sec_theme .input_form .input_ttl .ttl_form {
    display: inline-block;
    vertical-align: top;
    width: 805px;
}
.page_wrap.page_theme .content_wrap .sec_theme .input_form dl.input_content dd textarea {
	width: 100%;
	min-height:160px;
	padding: 10px;
	border-radius: 5px;
	border: solid 1px #ccc;
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 10px;
	-webkit-box-shadow: 2px 2px 2px 0px #ccc inset;
    box-shadow: 2px 2px 2px 0px #ccc inset;
}
.page_wrap.page_theme .content_wrap .sec_theme .input_form dl.input_ttl dd .input_count,
.page_wrap.page_theme .content_wrap .sec_theme .input_form dl.input_content dd .input_count {
	border: solid 1px #ccc;
	background: #f5f5f5;
	padding: 2px 10px;
	display: inline-block;
	border-radius: 5px;
	float: right;
}
.page_wrap.page_theme .content_wrap .sec_theme .input_form dl.input_ttl dd .input_desc,
.page_wrap.page_theme .content_wrap .sec_theme .input_form dl.input_content dd .input_desc {
	font-size: 14px;
	float: left;
	color:#999999;
}
.page_wrap.page_theme .content_wrap .sec_theme .input_form .btn_wrap {
	border-top: solid 1px #ccc;
	text-align: center;
	padding-top: 30px;
}
.page_wrap.page_theme .content_wrap .sec_theme .input_form .btn_wrap li .btn_style {
	width: 200px;
	height: 50px;
	line-height: 1.5;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
}
/*------------------------------*/

/*------------------------------>>
	page_theme_conf
<<------------------------------*/
.page_wrap.page_theme_conf .content_wrap .sec_theme_conf {
	line-height: 1.5;
}
.page_wrap.page_theme_conf .content_wrap .sec_theme_conf .sec_ttl {
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
	border-bottom: 1px solid #cccccc;
	margin: 0 auto 20px;
	padding: 0 0 10px;
}
.page_wrap.page_theme_conf .content_wrap .sec_theme_conf .input_form {
	padding: 0 0 0 25px;
}
.page_wrap.page_theme_conf .content_wrap .sec_theme_conf .input_form dl {
	width: 1010px;
    padding-bottom: 20px;
}
.page_wrap.page_theme_conf .content_wrap .sec_theme_conf .input_form dl + dl {
	border-top: solid 1px #ccc;
	padding: 20px 0;
}
.page_wrap.page_theme_conf .content_wrap .sec_theme_conf .input_form dl dt {
	font-size: 16px;
    font-size: 1.6rem;
	font-weight: bold;
	margin-bottom: 20px;
}
.page_wrap.page_theme_conf .content_wrap .sec_theme_conf .input_form dl dd {
	padding: 0 14px;
}
.page_wrap.page_theme_conf .content_wrap .sec_theme_conf .input_form dl dd p + p{
	margin-top:20px;
}
.page_wrap.page_theme_conf .content_wrap .sec_theme_conf .btn_wrap {
	border-top: solid 1px #ccc;
	text-align: center;
	padding-top: 30px;
}
.page_wrap.page_theme_conf .content_wrap .sec_theme_conf .btn_wrap .btn_style{
	width: 200px;
	height: 50px;
	line-height: 2.8;
	font-size: 18px;
	font-size: 1.8rem;
}
/*------------------------------*/

/*------------------------------>>
	page_theme_comp
<<------------------------------*/
.page_wrap.page_theme_comp .content_wrap .sec_theme_comp .sec_ttl {
	padding: 0 0 10px;
	margin: 0 auto 40px;
	border-bottom: #cccccc solid 2px;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
}
.page_wrap.page_theme_comp .content_wrap .sec_theme_comp .sec_desc {
	margin-bottom: 30px;

	text-align: center;
	font-size: 16px;
	font-size: 1.6rem;
}
.page_wrap.page_theme_comp .content_wrap .sec_theme_comp .content_ttl {
	    font-size: 28px;
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: #cccccc solid 2px;
}
.page_wrap.page_theme_comp .content_wrap .sec_theme_comp .caution ul {
	padding: 20px 0;
	list-style: decimal;
	padding-left: 2em;
}
.page_wrap.page_theme_comp .content_wrap .sec_theme_comp .btn_wrap {
	border-top: solid 1px #ccc;
	text-align: center;
	padding-top: 30px;
}
.page_wrap.page_theme_comp .content_wrap .sec_theme_comp .btn_wrap .btn_style{
	width: 200px;
	height: 50px;
	line-height: 2.7;
	font-size: 18px;
	font-size: 1.8rem;
}
/*------------------------------*/

/*------------------------------>>
	page_reaction
<<------------------------------*/
.page_wrap.page_reaction .sec_consult_question .content_inner {
    background-color: #ffffff;
    padding: 15px 25px 25px 25px;
    border: 1px solid #3765a1;
    border-radius: 5px;
}
.page_wrap.page_reaction .content_wrap .content .sec_category_detail .sec_block.category_detail_wrap{
	padding: 0 0 20px 0;
    margin-top: -5px;
}
.page_wrap.page_reaction .content_wrap .content .sec_category_detail .sec_block.category_detail_wrap .category{
	display:inline-block;
	vertical-align: bottom;
	font-size:18px;
	font-size:1.8rem;
	font-weight:bold;
	margin: 0 10px 0 0;
}
.page_wrap.page_reaction .content_wrap .content .sec_category_detail .sec_block.category_detail_wrap .category_detail{
	display:inline-block;
	font-size:16px;
	font-size:1.6rem;
}
.page_wrap.page_reaction .content_inner .theme_info dt {
	float: left;
}
.page_wrap.page_reaction .content_inner .theme_info .user_name {
    font-size: 16px;
    font-size: 1.6rem;
}
.page_wrap.page_reaction .content_inner .theme_info dd {
	float: right;
}
.page_wrap.page_reaction .content_inner .theme_info .post_date {
	color: #999999;
	font-size:12px;
	font-size:1.2rem;
	text-align: right;
}
.page_wrap.page_reaction .content_inner .theme_info .post_date:before {
	content:"投稿日時：";
}
.page_wrap.page_reaction .content_inner .theme_info .post_date span {
    margin: 0 0 0 5px;
}
.page_wrap.page_reaction .sec_consult_question .content_inner .theme_info ul .count_text{
	font-size: 14px;
	font-size:1.4rem;
	font-weight: bold;
}
.page_wrap.page_reaction .sec_consult_question .content_inner .theme_info ul .count_text.red{
	color:#f8384a;
	margin: 0 20px 0 4px;
}
.page_wrap.page_reaction .sec_consult_question .content_inner .theme_info ul .count_text.orange{
	color:#f39c12;
}
.page_wrap.page_reaction .sec_consult_question .content_inner .theme_info ul .fix_text{
	font-size: 12px;
	font-size:1.2rem;
}
.page_wrap.page_reaction .sec_consult_question .content_ttl{
	font-size: 24px;
    font-size: 2.4rem;
    font-weight: bold;
	line-height: 1.4;
    margin: 0 0 30px 0;
}
.page_wrap.page_reaction .consult_question_content,
.page_wrap.page_reaction .consult_comment{
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.6;
    margin: 0 0 30px 0;
}
.page_wrap.page_reaction .history_comment{
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.6;
	background-color:#f5f5f5;
	border:1px solid #a9a9a9;
	border-radius:5px;
	padding: 15px;
}
/*------------------------------*/

/*---------- page_reaction btn_area ----------*/
.page_wrap.page_reaction .btn_wrap.specific{
	width: 510px;
	display: inline-block;
    vertical-align: bottom;
}
.page_wrap.page_reaction .btn_wrap.send{
	display: inline-block;
	width: 628px;
    text-align: right;
	margin: 0 0 30px 0;
}
.page_wrap.page_reaction .btn_wrap.send .send_btn,
.page_wrap.page_reaction .btn_wrap.re_send .send_btn{
	margin:0;
}
.page_wrap.page_reaction .btn_wrap.send .btn_style.btn_green_no_b,
.page_wrap.page_reaction .btn_wrap.re_send .btn_style.btn_green_no_b{
    width: 110px;
    height: 35px;
	font-weight: normal;
    font-size: 16px;
    font-size: 1.6rem;
}
.page_wrap.page_reaction .btn_wrap.re_send{
	display: inline-block;
    width: 575px;
    text-align: right;
    margin: 0 0 30px 0;
}
.page_wrap.page_reaction .btn_wrap.specific.social{
	width: 180px;
	display: inline-block;
    vertical-align: bottom;
}
.page_wrap.page_reaction .btn_wrap.specific li {
	display: inline-block;
    vertical-align: top;
    margin: 0;/*not_delete*/
}
.page_wrap.page_reaction .btn_wrap.specific > li {
    margin-right: 7px;
}
.page_wrap.page_reaction .btn_wrap.specific.social > li{
	width: 100%;
	margin: 0 0 -10px 0;
}
.page_wrap.page_reaction .btn_wrap.specific li a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.page_wrap.page_reaction .btn_wrap.specific li .btn_style {
    width: 180px;
    height: 45px;
    line-height: 2.7;
	font-size: 1.6rem;
    font-size: 16px;
}
.page_wrap.page_reaction .btn_wrap.specific li .btn_style.btn_red,
.page_wrap.page_reaction .btn_wrap.specific li .btn_style.btn_orange{
    display: inline-block;
	margin: 0 7px 0 0;
}
.page_wrap.page_reaction .btn_wrap.specific li .count {
	display: inline-block;
    min-width: 55px;
    position: relative;
    background: #ffffff;
    text-align: center;
    border: 1px solid #2a2c37;
    border-radius: 3px;
    padding: 10px 5px;
}
.page_wrap.page_reaction .btn_wrap.specific li .count:after,
.page_wrap.page_reaction .btn_wrap.specific li .count:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.page_wrap.page_reaction .btn_wrap.specific li .count:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 5px;
	margin-top: -5px;
}
.page_wrap.page_reaction .btn_wrap.specific li .count:before {
	border-color: rgba(42, 44, 55, 0);
	border-right-color: #2a2c37;
	border-width: 7px;
	margin-top: -7px;
}
.page_wrap.page_reaction .btn_wrap.specific.social li .recommend{
	display:inline-block;
	margin: 0 2px 0 0;
}
.page_wrap.page_reaction .btn_wrap.specific li .btn_sns {
/*	display: inline-block;
    width: 73px;
    height: 28px;
    line-height: 1.9;
	text-align: right;*/
	background-color: #FFF;
}

.page_wrap.page_reaction .btn_wrap.specific.social li .btn_sns.tweet img{
width: 50px;
}
.page_wrap.page_reaction .btn_wrap.specific.social li a.btn_sns.tweet{

}
/*------------------------------*/
.page_wrap.page_reaction .content_wrap .sec_consult_answer .content_inner .theme_info{
	margin:0 0 15px 0;
}
.page_wrap.page_reaction .content_wrap .sec_consult_answer .reply a{
	color:#5d9cec;
	font-size: 16px;
    font-size: 1.6rem;
}
.page_wrap.page_reaction .content_wrap .sec_consult_answer .comment_reply_input .content_ttl{
	font-size: 16px;
    font-size: 1.6rem;
    margin: 0 0 15px 0;
    background-color: #2a2c37;
    color: #ffffff;
    font-weight: bold;
    padding: 7px 15px;
}
.page_wrap.page_reaction .content_wrap .sec_consult_answer .comment_reply_input .content_ttl.re_comment{
	background-color: #3765a1;
}
.page_wrap.page_reaction .content_wrap .sec_consult_answer .comment_reply_input .content_ttl .comment_user_name{
	font-size:14px;
	font-size:1.4rem;
	font-weight:normal;
	float: right;
}
.page_wrap.page_reaction .content_wrap .sec_consult_answer .comment_reply_input textarea{
	width:100%;
	min-height: 150px;
	border-radius:5px;
	-webkit-box-shadow: 2px 2px 2px 0px #ccc inset;
	box-shadow: 2px 2px 2px 0px #ccc inset;
	padding:15px;
	margin-bottom:5px;
	font-size:16px;
	font-size:1.6rem;
}
.page_wrap.page_reaction .content_wrap .sec_consult_answer .comment_reply_input .input_desc{
	display: inline-block;
	font-size: 14px;
	font-size:1.4rem;
    float: left;
    color: #999999;
}
.page_wrap.page_reaction .content_wrap .sec_consult_answer .comment_reply_input .btn_wrap.content{
	text-align: right;
    float: right;
	margin: 0 0 20px 0;
}
.page_wrap.page_reaction .content_wrap .sec_consult_answer .guideline{
	border:1px solid #a9a9a9;
	padding:15px;
	margin: 0 0 30px 0;
}
.page_wrap.page_reaction .content_wrap .sec_consult_answer .guideline.reply{
	background-color:#eff4fa;
}
.page_wrap.page_reaction .content_wrap .sec_consult_answer .guideline ul li a{
	display: inline-block;
	color:#5d9cec;
}
.page_wrap.page_reaction .content_wrap .sec_consult_answer .content_inner {
    background-color: #ffffff;
    padding: 20px 25px;
    border: 1px solid #3765a1;
    border-radius: 5px;
	margin: 0 0 30px 0;
}
.page_wrap.page_reaction .content_wrap .sec_consult_answer .comment_area .content_inner .theme_info .user_name {
    font-size: 16px;
    font-size: 1.6rem;
}
.page_wrap.page_reaction .content_wrap .sec_consult_answer .comment_area .content_inner .theme_info .user_name.history_area {
    font-size: 14px;
    font-size: 1.4rem;
}
.page_wrap.page_reaction .content_wrap .sec_consult_answer .comment_reply_input textarea {
    width: 100%;
    min-height: 150px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 2px 0px #ccc inset;
    box-shadow: 2px 2px 2px 0px #ccc inset;
    padding: 15px;
    margin-bottom: 5px;
    font-size: 16px;
    font-size: 1.6rem;
}
.page_wrap.page_reaction .content_wrap .sec_consult_answer #guideline .sentence{
    display: inline-block;
	width: 675px;
    padding: 10px;
	margin: 0 15px 0 0;
 	vertical-align: middle;
}
.page_wrap.page_reaction .content_wrap .sec_consult_answer #guideline dt{
	font-weight:bold;
}

/*------------------------------>>
	sec_mypage
<<------------------------------*/
.page_wrap.page_mypage .content_wrap .sec_mypage .mypage_box {
	background-color:#ffffff;
	border:1px solid #cccccc;
	border-radius:5px;
	box-shadow: 1px 1px 3px #dddddd;
	padding: 0 0 30px 0;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .sec_ttl {
    width: 690px;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
    border-bottom: #3765a1 solid 2px;
	padding: 25px 10px 10px 10px;
    margin: 0 auto 30px auto;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_menu {
	width: 690px;
    margin: 0 auto;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_menu li {
	color:#fff;
	background:#372e2a;
	display: inline-block;
	font-size: 16px;
	font-size: 1.6rem;
	height: 50px;
	line-height: 3;
	width:180px;
	border-radius: 5px 5px 0 0;
	border-top: solid 1px #372e2a;
	border-left: solid 1px #372e2a;
	border-right: solid 1px #372e2a;
	text-align:center;
	cursor: pointer;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_menu li a{
    color:#fff;  
    text-decoration:none;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_menu li.current {
	color:#372e2a;
	font-weight: bold;
	position: relative;
	z-index: 5;
	background:#fff;
	top: 1px;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_menu li.current a{
   color:#372e2a; 
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_menu li + li {
	margin-left: 2px;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content {
	width: 690px;
	border: solid 1px #372e2a;
	padding: 0 0 20px 0;
	margin: 0 auto;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .search_found .left_box{
	float:left;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .search_found.not_found {
	padding: 20px;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .search_found.not_found .btn_wrap {
	text-align: right;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .search_found.not_found .btn_wrap.right_box li {
    text-align: center;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .content_bottom .pager_wrap li {
	font-size:14px;
	font-size:1.4rem;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .consult_list li .box_wrap a{
	width: 100%;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .consult_list li .left_box {
	text-align: center;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .post_box {
	text-decoration: none;
}
.page_wrap.page_mypage .content_wrap .post_list .post_box_inner dl {
    padding: 20px;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content  .content_category{
	font-size:12px;
	font-size:1.2rem;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .consult_list .post_date {
	color: #999999;
	font-size:12px;
	font-size:1.2rem;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .consult_list .post_date span {
    margin: 0 0 0 5px;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .content_bottom{
	padding:0 20px;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .content_bottom .btn_wrap {
    width: auto;
    float: left;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .content_bottom .btn_wrap li {
    margin: 0;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .content_bottom .btn_wrap li .btn_style {
    width: 210px;
    height: 40px;
    line-height: 40px;
	
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .content_bottom .pager_wrap {
    text-align: right;
    float: right;
}
.page_wrap.page_mypage .sec_mypage .sec_inner {
	background-color: #ffffff;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.page_wrap.page_mypage .sec_mypage .mypage_box .box_wrap{
	width:100%;
	display:table;
    border-bottom: 1px solid #c1cddd;
}
.page_wrap.page_mypage .sec_mypage .mypage_box .box_wrap:first-child{
    border-top: 1px solid #c1cddd;
}
.page_wrap.page_mypage .sec_mypage .mypage_box .box_wrap .left_box,
.page_wrap.page_mypage .sec_mypage .mypage_box .box_wrap .right_box{
	display:table-cell;
	vertical-align:middle;
}
.page_wrap.page_mypage .sec_mypage .mypage_box .box_wrap .left_box{
	width: 40px;
	text-align: center;
	position: relative;
}
.page_wrap.page_mypage .sec_mypage .mypage_box .box_wrap .left_box input[type=checkbox]{
	width: 18px;
	height: 18px;
}
.page_wrap.page_mypage .sec_mypage .mypage_box .box_wrap .right_box a{
	padding:10px 0;
	text-decoration:none;
	width:100%;
	display:table;
}
.page_wrap.page_mypage .sec_mypage .mypage_box .box_wrap .right_box .reaction_content,
.page_wrap.page_mypage .sec_mypage .mypage_box .box_wrap .right_box .reaction_list_date{
	display:table-cell;
	vertical-align: middle;
}
.page_wrap.page_mypage .sec_mypage .mypage_box .box_wrap .right_box .reaction_content{
	max-width: 1px;
    overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 75%;
}
.page_wrap.page_mypage .sec_mypage .mypage_box .box_wrap .right_box .reaction_content .sec_box_ttl{
	font-size: 16px; 16px;
    font-size: 1.6rem;
    font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 5px 0;
}
.page_wrap.page_mypage .sec_mypage .mypage_box .box_wrap .right_box .reaction_list_date{
	text-align: right;
	padding: 0 5px 0 0;
}
.page_wrap.page_mypage .sec_mypage .mypage_box .box_wrap .right_box .reaction_list_date .fix_text{
    font-size: 12px;
    font-size: 1.2rem;
}
.page_wrap.page_mypage .sec_mypage .mypage_box .box_wrap .right_box .reaction_list_date .count_text{
    color: #f39c12;
	font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0 4px;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .reaction_content .cate{
	font-size:12px;
	font-size:1.2rem;
	color:#ffffff;
	font-weight: bold;
	padding: 2px 4px;
	margin:0 5px 0 0;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .category_detail{
	font-size:12px;
	font-size:1.2rem;
	font-weight: normal;
}
.page_wrap.page_mypage .sec_mypage .mypage_box .post_box_box_inner ul{
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    padding: 0 5px 0 0;
}
.page_wrap.page_mypage .sec_mypage .mypage_box .post_box_box_inner ul li {
    text-align: right;
}
.page_wrap.page_mypage .sec_mypage .mypage_box .post_box_box_inner ul li:before{
	width:30px;
	display: inline-block;
	text-align:center;
	margin: 0 5px 0 0;
}
.page_wrap.page_mypage .sec_mypage .mypage_box .post_box_box_inner ul .count_text{
	font-size: 14px;
	font-size:1.4rem;
	font-weight: bold;
	margin: 0 4px;
}
.page_wrap.page_mypage .sec_mypage .mypage_box .post_box_box_inner ul .count_text.red{
	color:#f8384a;
}
.page_wrap.page_mypage .sec_mypage .mypage_box .post_box_box_inner ul .count_text.orange{
	color:#f39c12;
}
.page_wrap.page_mypage .sec_mypage .mypage_box .post_box_box_inner ul .fix_text{
	font-size: 12px;
	font-size:1.2rem;
}
.page_wrap.page_mypage .sec_mypage .mypage_box .post_box_box_inner ul .total:before{
	font-family:FontAwesome;
	content:"\f075";
	width: 20px;
    font-size: 16px;
    font-size: 1.6rem;
    color: #f39c12;
    text-align: center;
    margin: 0 6px 0 0;
}
/*------------------------------*/

/*------------------------------>>
	page_tos
<<------------------------------*/
.page_wrap.page_tos .content_wrap .sec_tos {
	line-height: 1.5;
}
.page_wrap.page_tos .content_wrap .sec_tos .sec_desc {
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
}
.page_wrap.page_tos .content_wrap .sec_tos dl {
	line-height: 1.5;
	padding: 20px 0;
}
.page_wrap.page_tos .content_wrap .sec_tos dl + dl {
	border-top: 1px solid #eee;
}
.page_wrap.page_tos .content_wrap .sec_tos dl dt {
	font-weight: bold;
	font-size: 18px;
	font-size: 1.8rem;
	margin-bottom: 10px;
}
.page_wrap.page_tos .content_wrap .sec_tos dl dd {
	padding-left: 1rem;
	font-size: 16px;
	font-size: 1.6rem;
}
.page_wrap.page_tos .content_wrap .sec_tos dl dd ul {
	list-style: decimal;
}
/*------------------------------*/

/*------------------------------>>
	page_company
<<------------------------------*/
.page_wrap.page_company .content_wrap .sec_company {
	line-height: 1.5;
}
.page_wrap.page_company .content_wrap .sec_company dl {
	line-height: 1.5;
	padding: 20px 0;
}
.page_wrap.page_company .content_wrap .sec_company dl + dl {
	border-top: 1px solid #EEEEEE;
	padding: 20px 0;
}
.page_wrap.page_company .content_wrap .sec_company dl dt {
	font-weight: bold;
	font-size: 18px;
	font-size: 1.8rem;
	margin-bottom: 10px;
}
.page_wrap.page_company .content_wrap .sec_company dl dd {
	padding-left: 1rem;
	font-size: 16px;
	font-size: 1.6rem;
}
/*------------------------------*/

/*------------------------------>>
	page_privacy
<<------------------------------*/
.page_wrap.page_privacy .content_wrap .sec_privacy {
	line-height: 1.5;
}
.page_wrap.page_privacy .content_wrap .sec_privacy .sec_desc {
    padding: 15px 0;
}
.page_wrap.page_privacy .content_wrap .sec_privacy dl {
	padding: 20px 0;
}
.page_wrap.page_privacy .content_wrap .sec_privacy dl + dl {
	border-top: 1px solid #EEEEEE;
}
.page_wrap.page_privacy .content_wrap .sec_privacy dl dt {
	font-weight: bold;
	font-size: 18px;
	font-size: 1.8rem;
	margin-bottom: 10px;
}
.page_wrap.page_privacy .content_wrap .sec_privacy dl dd {
	padding-left: 1rem;
	font-size: 16px;
	font-size: 1.6rem;
}
/*------------------------------*/

/*------------------------------>>
	page_guideline
<<------------------------------*/
.page_wrap.page_guideline .content_wrap .sec_guideline {
	line-height: 1.5;
}
.page_wrap.page_guideline .content_wrap .sec_guideline .sec_desc {
    padding: 15px 25px;
}
.page_wrap.page_guideline .content_wrap .sec_guideline dl {
	padding: 20px 20px 20px 25px;
}
.page_wrap.page_privacy .content_wrap .sec_privacy dl + dl {
	border-top: 1px solid #EEEEEE;
}
.page_wrap.page_guideline .content_wrap .sec_guideline dl dt {
	font-weight: bold;
	font-size: 16px;
    font-size: 1.6rem;
	margin-bottom: 10px;
}
.page_wrap.page_guideline .content_wrap .sec_guideline dl dd {
	padding-left: 1rem;
	font-size: 16px;
	font-size: 1.6rem;
}
.page_wrap.page_guideline .content_wrap .sec_guideline dl dd ul {
	padding-left: 1.5rem;
	list-style: decimal;
}
/*------------------------------*/

/*------------------------------>>
	page_contact
<<------------------------------*/
.page_wrap.page_contact .content_wrap .sec_contact {
	line-height: 1.5;
}
.page_wrap.page_contact .content_wrap .sec_contact .contact_form dl {
	margin-bottom: 20px;
}
.page_wrap.page_contact .content_wrap .sec_contact .contact_form dl dt {
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: bold;
	padding: 10px 0;
}
.page_wrap.page_contact .content_wrap .sec_contact .contact_form dl dt:after {
	content: "必須";
	color: #ffffff;
	background: #ef4f5a;
	font-size: 12px;
	font-size: 1.2rem;
	margin: 0 5px;
	padding: 4px 8px;
	border-radius: 5px;
	position: relative;
	top: -1px;
}
.page_wrap.page_contact .content_wrap .sec_contact .contact_form dl dd input[type="text"],
.page_wrap.page_contact .content_wrap .sec_contact .contact_form dl dd input[type="email"] {
	width: 100%;
    display: block;
	padding: 10px;
	font-size: 16px;
	font-size: 1.6rem;
	border: 1px solid #cccccc;
	border-radius: 5px;
	margin: 0 auto;
}
.page_wrap.page_contact .content_wrap .sec_contact .contact_form dl dd textarea {
	width: 100%;
    display: block;
	min-height: 160px;
	padding: 10px;
	font-size: 16px;
	font-size: 1.6rem;
	border: 1px solid #cccccc;
	border-radius: 5px;
	margin:0 auto;
	-webkit-box-shadow: 2px 2px 2px 0px #ccc inset;
    box-shadow: 2px 2px 2px 0px #ccc inset;
}
.page_wrap.page_contact .content_wrap .sec_contact .btn_wrap {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 30px;
}
.page_wrap.page_contact .content_wrap .sec_contact .btn_wrap_contact li {
	display: inline-block;
	margin: 0 10px;
}
.page_wrap.page_contact .content_wrap .sec_contact .btn_wrap .btn_style.btn_green {
	width: 300px;
	height: 50px;
	line-height: 1.8;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
}
.page_wrap.page_contact .content_wrap .sec_contact .sec_notice {
	border-top: solid 1px #ccc;
    margin: 0 auto;
    padding: 30px 0;
}
.page_wrap.page_contact .content_wrap .sec_contact .sec_notice dl dt,
.page_wrap.page_contact .content_wrap .sec_contact .sec_notice dl dd {
	display: inline-block;
}
.page_wrap.page_contact .content_wrap .sec_contact .sec_notice dl dt {
	font-weight: bold;
}
.page_wrap.page_contact .content_wrap .sec_contact .sec_notice .content_ttl {
	font-weight: bold;
	margin-bottom: 5px;
}
.page_wrap.page_contact .content_wrap .sec_contact .sec_notice .domain input {
	font-size: 16px;
	font-size: 1.6rem;
	padding: 5px;
	border: solid 1px #ccc;
	border-radius: 5px;
}
/*------------------------------*/

/*------------------------------>>
	page_contact_comp
<<------------------------------*/
.page_wrap.page_contact_comp .content_wrap .sec_contact_comp .sec_ttl{
    padding: 0 0 10px;
    margin: 0 auto 40px;
    border-bottom: #3765a1 solid 2px;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
}	
.page_wrap.page_contact_comp .content_wrap .sec_contact_comp .sec_desc {
    font-size: 28px;
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 40px;
	border-bottom: #3765a1 solid 2px;
}
.page_wrap.page_contact_comp .content_wrap .sec_contact_comp .sec_notice {
    padding: 0 60px;
}
.page_wrap.page_contact_comp .content_wrap .sec_contact_comp .sec_notice dl dt,
.page_wrap.page_contact_comp .content_wrap .sec_contact_comp .sec_notice dl dd {
	display: inline-block;
}
.page_wrap.page_contact_comp .content_wrap .sec_contact_comp .sec_notice dl dt {
	font-weight: bold;
}
.page_wrap.page_contact_comp .content_wrap .sec_contact_comp .sec_notice .content_ttl {
	font-weight: bold;
	margin-bottom: 5px;
}
.page_wrap.page_contact_comp .content_wrap .sec_contact_comp .sec_notice .domain input {
	font-size: 16px;
	font-size: 1.6rem;
	padding: 5px;
	border: solid 1px #ccc;
	border-radius: 5px;
}
.page_wrap.page_contact_comp .content_wrap .sec_contact_comp .btn_wrap {
	width: 100%;
	margin: 30px auto;
	text-align: center;
	border-top: solid 1px #ccc;
	padding: 30px 0 15px 0;
}
.page_wrap.page_contact_comp .content_wrap .sec_contact_comp .btn_wrap_contact li {
	display: inline-block;
	margin: 0 10px;
}
.page_wrap.page_contact_comp .content_wrap .sec_contact_comp .btn_wrap .btn_style.btn_green {
	width: 300px;
	height: 50px;
	line-height: 2.8;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
}
/*------------------------------*/

/*------------------------------>>
	page_faq
<<------------------------------*/
.page_wrap.page_faq .content_wrap .sec_faq dl {
	padding: 20px 0;
}
.page_wrap.page_faq .content_wrap .sec_faq dl + dl {
	border-top: 1px solid #ccc;
}
.page_wrap.page_faq .content_wrap .sec_faq dl dt {
	color: #372e2a;
	font-weight: bold;
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 20px;
}
.page_wrap.page_faq .content_wrap .sec_faq dl dt,
.page_wrap.page_faq .content_wrap .sec_faq dl dd {
	position: relative;
}
.page_wrap.page_faq .content_wrap .sec_faq dl dt:before,
.page_wrap.page_faq .content_wrap .sec_faq dl dd:before {
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px;
	width: 20px;
	height: 30px;
	content: "";
	background-size: contain;
	background-repeat: no-repeat;
}
.page_wrap.page_faq .content_wrap .sec_faq dl dt:before {
	background-image: url(../image/faq/faq_q.png);
}
.page_wrap.page_faq .content_wrap .sec_faq dl dd:before {
	background-image: url(../image/faq/faq_a.png);
	position: absolute;
	left: 0px;
}
.page_wrap.page_faq .content_wrap .sec_faq dl dd {
	line-height: 1.5;
	font-size: 16px;
	font-size: 1.6rem;
	position: relative;
	padding-left: 40px;
}
/*------------------------------*/

/*-----------------------------------------------*/
/*	section--404
/*-----------------------------------------------*/
.sec_404 .area_404{
	background:#F3F1F1;
	padding:40px 40px;
	position:relative;
	border-radius:5px;
}
.sec_404 .area_404:before{
	content:"\f002";
	font-family:font-awsome;
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	font-size:7em;
	color:#B4AEAE;
	position:absolute;
	top:20px;
	right:100px;
}
.sec_404 .area_404:after{
	content: "？";
	font-size: 50px;
	color: #B4AEAE;
	position: absolute;
	top: 54px;
	right: 126px;
	font-weight: bold;
}
.sec_404 .sub_ttl_404{
	color:#707070;
	font-size:28px;
	font-size:2.8rem;
	font-weight:bold;
	text-align:center;
	margin-bottom:20px;
}
.sec_404 .ttl_404{
	text-align:center;
	font-size:28px;
	font-size:2.8rem;
	font-weight:bold;
	margin-bottom:20px;
}
.sec_404 .desc_404{
	font-size:16px;
	font-size:1.6rem;
	text-align:center;
	line-height:1.5;
}
.btn_wrap .top_link{
	height:35px;
	line-height:35px;
}
.btn_wrap .top_link a{
	padding:0 20px;
}
.page_wrap .content_wrap .sec_404 .btn_wrap {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}
.page_wrap .content_wrap .sec_404 .btn_wrap .btn_style.btn_green {
    width: 300px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
}