.page_wrap.page_theme .content_wrap .sec_theme .input_form .input_ttl dd input{
	width: 770px;
}
.page_wrap.page_theme .content_wrap .sec_theme .input_form .input_ttl .ttl_form {
	width: 770px;
    margin-right: 5px;
}
.page_wrap.page_theme .content_wrap .sec_theme .input_form ul li select.thema-tail {
	width: 225px;
}