.aruaru_tally_count_4 {
	font-size: 16px;
	color: #2a2c37;
}
.aruaru_tally_count_3 {
	font-size: 24px;
	font-weight: bold;
	color: #2a2c37;
}
.aruaru_tally_count_2 {
	font-size: 18px;
	font-weight: bold;
	color: #F8384A;
}
.aruaru_tally_count_1 {
	font-size: 24px;
	font-weight: bold;
	color: #F8384A;
}
.consult_comment, .history_comment, .consult_question_content {
	word-wrap: break-word;
}

.btn_wrap .btn_style.btn_red:hover {
	background-color: #f87581;
}

.bl_title_all,.reaction_title{
	font-weight:bold;
	background: #f5f5f5;
	padding: 5px;
	border-radius: 3px;
}

#ap_message{


}

.consult_question_content p img{
	max-width: 100%;
}

.bl_description_all,.reaction_description{
	font-size: 14px;
	padding: 5px;
	background: #f5f5f5;
	border-radius: 3px;
}

p.c_img{
	background: #f5f5f5;

}

p.c_img a img{
    max-width:100%;

}