<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>お問い合わせ</title>
{% include 'inc/link.html' %}
</head>
<body>
<div class="page_wrap page_404">
	{% include 'inc/header.html' %}
	<div class="content_wrap cf">
		<div class="content_inner basic_bg">
			<section class="sec sec_404">
				<div class="area_404">
					<h3 class="ttl_404">お探しのページは見つかりません。</h3>
					<p class="sub_ttl_404">404 Not Found</p>
					<p class="desc_404">お探しのページは一時的にアクセスができない状況にあるか、移動もしくは削除された可能性があります。<br>
					また、URL、ファイル名にタイプミスがないか再度ご確認ください。</p>
					<ul class="btn_wrap m_t_30">
						<li class="top_link"><a href="/" class="btn_style btn_green">トップページへ</a></li>
					</ul>
				</div>			
			</section>
		</div>
	</div>
	{% include 'inc/footer.html' %}
</div>
{% include 'inc/script.html' %}
</body>
</html>
