{% if is_comment %}
<div class="content_inner new_comments comment_area">
	<dl class="theme_info cf">
		<dt>
			<p class="user_name">{{ comment.owner_nick_name }}</p>
		</dt>
		<dd>
			<ul>
				<li class="post_date">{{ comment.time_ago }}</li>
			</ul>
		</dd>
	</dl>
	<div class="consult_comment">
		{% if comment.up_image != '' %}
		<p class=""><img src="{{ comment.up_image }}" ></p>
		{% endif %}
		{% if colorSwitch == 1 %}
			{% if comment.rank > 80 %}
			<p class="aruaru_tally_count_1">{{ comment.message|raw|nl2br }}</p>
			{% elseif comment.rank > 50 %}
			<p class="aruaru_tally_count_2">{{ comment.message|raw|nl2br }}</p>
			{% elseif comment.rank > 5 %}
			<p class="aruaru_tally_count_3">{{ comment.message|raw|nl2br }}</p>
			{% else %}
			<p class="aruaru_tally_count_4">{{ comment.message|raw|nl2br }}</p>
			{% endif %}
		{% else %}
		<p>{{ comment.message|raw|nl2br }}</p>
		{% endif %}
	</div>
	<div class="btn_area cf m_b_20">
		<ul class="btn_wrap specific">
			<li> <a href="#" class="btn_style btn_red react_btn" data-react="yes" data-cid="{{ comment.id }}" data-pid="{{ comment.post_id }}"><img src="/pc/image/btn/agree_btn.png"></a>
				<p class="count yes">{{ comment.like_count }}</p>
			</li>
			<li> <a href="#" class="btn_style btn_orange react_btn" data-react="no" data-cid="{{ comment.id }}" data-pid="{{ comment.post_id }}"><img src="/pc/image/btn/not_agree_btn.png"></a>
				<p class="count no">{{ comment.dislike_count }}</p>
			</li>
		</ul>
		<ul class="btn_wrap specific social">
			<li>
				<a href="https://twitter.com/share?text={{ post.title }} {{twitter_share_url}}%23reaction_comment_{{ comment.id }} {{ comment.truncated_message }}&url={{twitter_share_url}}%23reaction_comment_{{ comment.id }} {{ comment.truncated_message }}" target="_blank" class="btn_sns tweet">Tweet</a> 
		</ul>
	</div>
</div>
{% endif %}

{% if is_reply %}
<div class="history_comment">
	<dl class="theme_info cf">
		<dt>
			<p class="user_name history_area">{{ comment.owner_nick_name }}</p>
		</dt>
		<dd>
			<ul>
				<li class="post_date">{{ comment.time_ago }}</li>
			</ul>
		</dd>
	</dl>
	<p>{{ comment.message|nl2br }}</p>
</div>
{% endif %}