<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>回答を入力</title>
{% include 'inc/link.html' %}
</head>
<body>
<div class="page_wrap page_answer">
	{% include 'inc/header.html' with {'is_visitor': is_visitor } %}
	<div class="content_wrap cf">
		<div class="content">
			<section class="sec sec_consult_question m_b_40">
				<div class="content_inner">
					<h2 class="sec_ttl ic ic_sex"><strong>性（セックス）</strong><span>セックス中・後のカラダの悩み</span></h2>
					<h3 class="content_ttl">AIHでの転院について</h3>
					<p class="sec_desc"> <span class="user_name">相談者：ニックネーム</span> <span class="post_date">2016年02月05日16時45分</span> </p>
					<div class="consult_question_content">
						<p>みなさま初めましてm(_ _)m<br>
						いつも参考にさせていただいております。</p>
						<p>初めて質問させていただきますが、お力をお借りできればと思っています。</p>
						<p>不妊2年半<br>
						半年のタイミング指導から前回初めてAIHをしましたが、人工授精してから体温が上がったのは3日後で、全くタイミングがあっていなかったなと思います。いつも見ていただいている普通のレディースクリニックの為、不妊外来への転院を考えています。</p>
						<p>4回ほどしてダメならもう体外受精にステップアップするつもりです。人工授精はあまり技術は関係なく、排卵日の見極めが大事だと見ました。転院したことで妊娠されたなどご存知でしたら、お話お聞きしたいです。また、東京でおすすめの病院などあればお聞きし
						たいです。</p>
						<p>知識が浅い為、失礼などありましたらすみません！よろしくお願い致しますm(_ _)m</p>
					</div>
				</div>
			</section>
			<section class="sec sec_answer m_b_30">
				<div class="content_inner">
					<form method="post" action="./answer_conf" class="answer_form validate ui-count_form">
						<h2 class="sec_ttl">回答の入力</h2>
						<div class="input_form">
							<dl class="input_nickname">
								<dt class="ic_required">ニックネーム</dt>
								<dd>
									<p>匿名さん</p>
									<p><a href="./" class="t_link">ニックネームの変更</a></p>
								</dd>
							</dl>
							<dl class="input_content">
								<dt class="ic_required">回答内容</dt>
								<dd class="cf ui-count_form">
									<textarea placeholder="相談内容を入力してください。" name="answer_message" class="ui-count_input" maxlength="1000"></textarea>
									<p class="input_desc">※全角30文字～1000文字</p>
									<p class="input_count">1000</p>
								</dd>
							</dl>
							<ul class="btn_wrap">
								<li>
									<button type="submit" class="btn_style btn_green">入力内容の確認へ</button>
								</li>
							</ul>
						</div>
					</form>
				</div>
			</section>
		</div>
		{% include 'inc/sidebar.html' %}
	</div>
	{% include 'inc/footer.html' %}
</div>
{% include 'inc/script.html' %}
</body>
</html>
