<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>回答内容の確認</title>
{% include 'inc/link.html' %}
</head>

<body>
<div class="page_wrap page_answer_conf">
	{% include 'inc/header.html' with {'is_visitor': is_visitor } %}
	<div class="content_wrap cf">
		<div class="content">

			<section class="sec sec_answer_conf">
				<div class="content_inner">
					<form action="./answer_comp" method="post" class="answer_conf_form">
						<h2 class="sec_ttl">入力内容の確認</h2>
						<div class="input_form">
							<dl class="input_nickname">
								<dt>ニックネーム</dt>
								<dd>
									<p>匿名さん</p>
								</dd>
							</dl>
							<dl class="input_content">
								<dt>回答内容</dt>
								<dd>
									<p>は◯メディカルでAIHしたことあります。<br>
が、特に18ヶ月待つような特色はありませんでした。普通ですよ。<br>
私は3カ所でAIHした事がありますが、不妊治療専門と書かれている病院ならばどこでも大して変わらないです。<br>
休診日が少ない方がいいかな？くらいです。<br>
AIHのために遠くまで行かず、今住んでいる所の一番近くの不妊治療専門の病院へ行かれるといいと思いますよ。<br>
浦和にあるAIHも得意な病院にも行きましたが、そこでの指導はAIH当日と翌日にもタイミングを取って！という主人には過酷なものでしたのでやめました。<br>
AIHってその程度なので、あまり期待できるものではないです。<br>
ちなみに私は20代からの不妊でAIH5回で妊娠できず、自然妊娠はしたものの流産。顕微授精で34歳で出産しました。<p>

<p>ステップアップを望むならばある程度有名な病院に行く方がいいと思いますが。<br>
各地区で有名な病院がありますよね。そういった所に片っ端から電話をしてみてとりあえず体外受精の説明会だけ行ってみるとか。<br>
千駄ヶ谷のは◯メディカル、恵比寿のファティリティ◯リニック東京、木場公園の◯場公園クリニック、高輪の京野◯ートクリニック等、ホームページがある病院もあるので見てみては？</p>
								</dd>
							</dl>
							<ul class="btn_wrap">
								<li> <a href="#" onclick="javascript:window.history.back(-1);return false;" class="btn_style btn_gray-o">戻る</a> </li>
								<li>
									<button type="submit" class="btn_style btn_green">回答する</button>
								</li>
							</ul>
						</div>
					</form>
				</div>
			</section>
		</div>
		{% include 'inc/sidebar.html' %}
	</div>
	{% include 'inc/footer.html' %}
</div>
{% include 'inc/script.html' %}
</body>
</html>