<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{ title }}</title>
<meta name="description" content="{{ description }}">
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
{% include 'inc/link.html' %}
</head>

<body>
<div class="page_wrap page_category_broader">
	{% include 'inc/header.html' with { 'active': bulletin.big_category_id, 'is_visitor': is_visitor } %}
	<div class="block content_block_1">
		<div class="content_wrap cf">
			<div class="content">
				<section class="sec sec_category_broader">
					<div class="sec_inner">
						<div class="sec_block category_broader_wrap">
							<dl>
								<dt class="category">{{ bulletin.big_cate_jp_name }}</dt>
								<dd>
									<ul class="category_detail">
										{% for cat in categorys %}
										<li><a href="/category/{{ cat.id }}">{{ cat.jp_name }}</a></li>
										{% endfor %}
									</ul>
								</dd>
							</dl>
						</div>
					</div>
				</section>
				<section class="sec sec_bbs_list_detail m_b_30">
					<div class="sec_block">
						<h2 class="sec_ttl new_comment">最新コメント</h2>
					</div>
					<div class="sec_inner">
						<ul>
							{% for post in latest_comment %}
							<li class="comment_list"> <a class="comment_box" href="/reaction/{{post.id}}">
								<div class="comment_box_inner">
									<dl>
										<dt><span class="sec_box_category cate {{ entry.name }}">{{ post.jp_name }}</span></dt>
										<dd class="sec_box_ttl">{{ post.title }}</dd>
									</dl>
									<ul>
										{% if post.time_ago|length %}
											{% set time_ago = post.time_ago|split(' ') %}
											<li class="new_comment ic {% if post.time_ago < 1440 %}ic_new{% endif %}"><p class="fix_text">最新コメント：</p><p class="{% if post.time_ago < 1440 %}count_text red{% endif %}">{{ time_ago[0] }}</p>{% if post.time_ago > 1440 %} {% endif %}{{ time_ago[1] }}</li>
										{% endif %}
										<li class="total ic ic_comment"><p class="fix_text"><img src="/pc/image/common/total_agree.png"></p><p class="count_text orange">{{ post.like_count }}</p><p class="fix_text">件</p></li>
									</ul>
								</div>
								</a> 
							</li>
							{% endfor %}
						</ul>
					</div>
				</section>
				<section class="sec sec_new_post_bbs_detail m_b_30">
					<div class="sec_block">
						<h2 class="sec_ttl new_bbs">新着あるある</h2>
					</div>
					<div class="sec_inner">
						<ul id="post_list">
							{% for post in latest_post %}
							<li class="comment_list"> <a class="comment_box" href="/reaction/{{post.id}}">
								<div class="comment_box_inner">
									<dl>
										<dt><span class="sec_box_category cate {{ entry.name }}">{{ post.jp_name }}</span></dt>
										<dd class="sec_box_ttl">{{ post.title }}</dd>
									</dl>
									<ul>
										{% if post.last_comment_time|length %}
											{% set time_ago = post.time_ago|split(' ') %}
											<li class="new_comment ic {% if post.time_ago < 1440 %}ic_new{% endif %}"><p class="fix_text">最新コメント：</p><p class="{% if post.time_ago < 1440 %}count_text red{% endif %}">{{ time_ago[0] }}</p>{% if post.time_ago > 1440 %} {% endif %}{{ time_ago[1] }}</li>
										{% endif %}
										<li class="total ic ic_comment"><p class="fix_text"><img src="/pc/image/common/total_agree.png"></p><p class="count_text orange">{{ post.like_count }}</p><p class="fix_text">件</p></li>
									</ul>
								</div>
								</a> 
							</li>
							{% endfor %}							
						</ul>
						{% if latest_post|length == 10 %}
						<div class="more_comment" data-bid="{{ bulletin.big_category_id }}">
							<ul class="btn_wrap">
								<li><a href="#" class="btn_other more_post">もっと見る</a></li>
							</ul>
						</div>
						{% endif %}
					</div>
				</section>
			</div>
			{% include 'inc/sidebar.html' with { 'popular': popular } %}
		</div>
	</div>
	{% include 'inc/footer.html' %}
</div>
{% include 'inc/script.html' %}

<script type="text/javascript">

$(".more_comment").click(function(){
	post_cont = $("#post_list");
	more_button = $(this);	
	current_count = post_cont.children().length;
	bid = more_button.data('bid');
	elem_countr = '<li';
	url = "/bulletin/ajaxPosts";
	params = { offset: current_count, limit: 10, id: bid};
	return showMore(url, params, post_cont, more_button, elem_countr);
});

</script>
</body>
</html>
