<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>お店でのトラブル</title>
{% include 'inc/link.html' %}
</head>
<body>
<div class="page_wrap page_category">
	{% include 'inc/header.html' with {'active': 'men_women', 'is_visitor': is_visitor } %}
	<div class="content_wrap cf">
		<div class="content">
			<div class="content_inner m_b_30">
				<section class="sec sec_category">
					<h2 class="sec_ttl ic ic_sex"><strong>性（セックス）</strong></h2>
					<div class="comment">
						<p>セックスと言えども気持ちい反面に実は多くの方が悩みを抱えています。</p>
						<p>このページでは人には相談しにくいセックスの悩みについて皆さんが質問をして解消を行うページです。</p>
						<p>パートナーとのセックスの相性やセックスレス、はたまたセックスで感じない（不感症）の問題、逆に大人のおもちゃの情報交換やオナニーの方法などの話題を皆さんが議論をしています。</p>
						<p>あまり人には相談しにくい問題なので無料＆匿名で質問相談しましょう。
						セックスをより楽しむためにみんなで解決していきましょう。</p>
					</div>
					<ul class="btn_wrap">
						<li> <a class="btn_style btn_green" href="./question">新しく相談する</a> </li>
					</ul>
				</section>
			</div>
			<section class="sec sec_category_list">
				<h2 class="sec_ttl"><span>性（セックス）の全ての悩みに関するお悩み相談一覧</span></h2>
				<ul class="consult_category_list">
					<?php for($i=0; $i<3; $i++): ?>
					<li class="consultation_list"> <a href="./consult">
						<div class="sec_box_top">
							<p class="sec_box_category ic ic_sex">性（セックス）</p>
							<p class="sec_box_category_detail"><span>セックスでイケない悩み</span></p>
						</div>
						<h3 class="sec_box_ttl">相談の見出しが入ります。</h3>
						<p class="sec_box_content m_b_10">文字数制御、改行などなしで出力で、41文字まで入る。41文字以降は...で省略して表示。</p>
						<ul class="btn_wrap t_center m_b_20">
							<li>
								<p href="./" class="btn_style btn_blue">続きを読む</p>
							</li>
						</ul>
						<div class="sec_box_bottom">
							<p class="posted_data">2016.03.05</p>
							<ul class="posted_ability">
								<li>
									<p class="ic ic_heart-o">0</p>
								</li>
								<li>
									<p class="ic ic_comment">1</p>
								</li>
							</ul>
						</div>
						</a> </li>
					<li class="consultation_list"> <a href="./consult">
						<div class="sec_box_top">
							<p class="sec_box_category  ic ic_sex">性（セックス）</p>
							<p class="sec_box_category_detail"><span>膣ならの悩み</span></p>
						</div>
						<h3 class="sec_box_ttl">相談の見出しが入ります。</h3>
						<p class="sec_box_content m_b_10">文字数制御、改行などなしで出力で、41文字まで入る。41文字以降は...で省略して表示。</p>
						<ul class="btn_wrap t_center m_b_20">
							<li>
								<p href="./" class="btn_style btn_blue">続きを読む</p>
							</li>
						</ul>
						<div class="sec_box_bottom">
							<p class="posted_data">2016.03.05</p>
							<ul class="posted_ability">
								<li>
									<p class="ic ic_heart-o">0</p>
								</li>
								<li>
									<p class="ic ic_comment">1</p>
								</li>
							</ul>
						</div>
						</a> </li>
					<li class="consultation_list"> <a href="./consult">
						<div class="sec_box_top">
							<p class="sec_box_category  ic ic_sex">性（セックス）</p>
							<p class="sec_box_category_detail"><span>セックス・後の体の悩み</span></p>
						</div>
						<h3 class="sec_box_ttl">相談の見出しが入ります。</h3>
						<p class="sec_box_content m_b_10">文字数制御、改行などなしで出力で、41文字まで入る。41文字以降は...で省略して表示。</p>
						<ul class="btn_wrap t_center m_b_20">
							<li>
								<p href="./" class="btn_style btn_blue">続きを読む</p>
							</li>
						</ul>
						<div class="sec_box_bottom">
							<p class="posted_data">2016.03.05</p>
							<ul class="posted_ability">
								<li>
									<p class="ic ic_heart-o">0</p>
								</li>
								<li>
									<p class="ic ic_comment">1</p>
								</li>
							</ul>
						</div>
						</a> </li>
					<?php endfor ?>
				</ul>
				<ul class="pager_wrap">
					<li><a href="./" class="pager_style current">1</a></li>
					<li><a href="./" class="pager_style">2</a></li>
					<li><a href="./" class="pager_style">3</a></li>
					<li><a href="./" class="pager_style">4</a></li>
					<li><a href="./" class="pager_style">...</a></li>
					<li><a href="./" class="pager_style">次へ</a></li>
				</ul>
			</section>
		</div>
		{% include 'inc/sidebar.html' %}
	</div>
	<div class="content_wrap p_t_0">
		<section class="sec sec_site_notice">
			<p>お悩み相談室では女性の性に関する悩みを自由に相談できる掲示板です。匿名で相談または回答することができるので恥ずかしいあの話も気軽に話すことができます。一人で悩まずみんなで女性の性を語り合って解決しましょう！</p>
		</section>
	</div>
	{% include 'inc/footer.html' %}
</div>
</body>
</html>
