<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>運営会社</title>
{% include 'inc/link.html' %}
</head>
<body>
<div class="page_wrap page_company">
	{% include 'inc/header.html' %}
	<div class="content_wrap cf">
		<div class="content_inner basic_bg">
			<section class="sec sec_company">
				<h2 class="sec_ttl">会社概要</h2>
				<dl>
					<dt>運営会社</dt>
					<dd>ジョイスペ事務局</dd>
				</dl>
				<dl>
					<dt>お問い合わせ先</dt>
					<dd>info@joyspe.com</dd>
				</dl>
				<dl>
					<dt>営業日：平日</dt>
					<dd>営業時間：12:00～18:00</dd>
				</dl>
				<dl>
					<dt>健全宣言</dt>
					<dd>当サイトは利用者の皆さんに安心し求人情報を探していただくよう厳正なる審査の元求人広告を掲載しております。<br>
						よって違法な求人広告を掲載しないよう徹底しております。<br>
						また、過剰な表現によりユーザーにとって不利益となるような表現は見つけ次第修正の対象としております。<br>
					</dd>
				</dl>
			</section>
		</div>
	</div>
	{% include 'inc/footer.html' %}
</div>
{% include 'inc/script.html' %}
</body>
</html>
