<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>みんなの相談</title>
{% include 'inc/link.html' %}
</head>
<body>
<div class="page_wrap page_consult">
	{% include 'inc/header.html' with {'is_visitor': is_visitor } %}
	<div class="content_wrap cf">
		<div class="content">
			<section class="sec sec_consult_question m_b_30">
				<div class="content_inner">
					<h2 class="sec_ttl ic ic_sex"><strong>性（セックス）</strong></h2>
					<h3 class="content_ttl">AIHでの転院について</h3>
					<p class="sec_desc"> <span class="user_name">相談者：ニックネーム</span> <span class="post_date">2016年02月05日16時45分</span> </p>
					<div class="consult_question_content">
						<p>みなさま初めましてm(_ _)m<br>
						いつも参考にさせていただいております。</p>
						<p>初めて質問させていただきますが、お力をお借りできればと思っています。</p>
						<p>不妊2年半<br>
						半年のタイミング指導から前回初めてAIHをしましたが、人工授精してから体温が上がったのは3日後で、全くタイミングがあっていなかったなと思います。いつも見ていただいている普通のレディースクリニックの為、不妊外来への転院を考えています。</p>
						<p>4回ほどしてダメならもう体外受精にステップアップするつもりです。人工授精はあまり技術は関係なく、排卵日の見極めが大事だと見ました。転院したことで妊娠されたなどご存知でしたら、お話お聞きしたいです。また、東京でおすすめの病院などあればお聞きしたいです。</p>
						<p>知識が浅い為、失礼などありましたらすみません！よろしくお願い致しますm(_ _)m</p>
					</div>

					<ul class="btn_wrap">
						<li>
							<a href="./answer.html" class="btn_style btn_green">回答する</a>
						</li>
						<li>
							<a href="./answer.html" class="btn_style btn_orange-o">私もそう思う<span class="ic ic_heart">0</span></a>
						</li>
						<li>
							<a href="./answer.html" class="btn_style btn_blue-o ic ic_bookmark">ブックマークする</a>
						</li>
					</ul>
				</div>
			</section>
			<section class="sec sec_consult_answer">
				<p class="user_name">みるくぱんだ</p>
				<div class="content_inner">
					<div class="consult_answer_list">
						<div class="comment">
							<p>不妊専門への転院、良いと思います。<br>
							都内でおすすめのクリニックだと色々ありすぎるので<br>
							エリアを絞って質問された方が、回答がつくかと思いますよ。</p>
						</div>
						<div class="content_bottom cf">
							<p class="post_date">2016年02月05日16時45分</p>

							<ul class="btn_wrap">
								<li><a href="./answer.html" class="btn_style btn_orange-o">私もそう思う<span class="ic ic_heart">0</span></a></li>
							</ul>
						</div>
					</div>
					
					<ul class="destination">
						<li>ニックネーム</li>
						<li>みるくぱんだ</li>
					</ul>
					<div class="comment_reply">
						<div class="comment">
							<p>みるくぱんだ様</p>
							<p>曖昧な質問にも関わらず、親切にお返事くださりありがとうございますm(_ _)m
</p>
							<p>場所は東京で23区内でおすすめがあれば行く覚悟ですが、希望をいうと新宿区、中央区、豊
島区あたりで探せればと思っています。</p>
							<p>有名な北参道のは◯メディカルクリニックさんは良いなと思ったのですが、人工授精希望で行くと18ヶ月待ちとなっており、流石に待っていられないと断念しました。涙<br>
							念のため登録だけはしておこうかとは思っております。</p>
						</div>
						<div class="content_bottom cf">
							<p class="post_date">2016年02月05日16時45分</p>

							<ul class="btn_wrap">
								<li><a href="./answer.html" class="btn_style btn_orange">私もそう思う<span class="ic ic_heart">2</span></a></li>
							</ul>
						</div>
					</div>
				</div>

				<p class="user_name">匿名</p>
				<div class="content_inner">
					<div class="consult_answer_list">
						<div class="comment">
							<p>は◯メディカルでAIHしたことあります。<br>
							が、特に18ヶ月待つような特色はありませんでした。普通ですよ。<br>
							私は3カ所でAIHした事がありますが、不妊治療専門と書かれている病院ならばどこでも大して変わらないです。<br>
							休診日が少ない方がいいかな？くらいです。<br>
							AIHのために遠くまで行かず、今住んでいる所の一番近くの不妊治療専門の病院へ行かれるといいと思いますよ。<br>
							浦和にあるAIHも得意な病院にも行きましたが、そこでの指導はAIH当日と翌日にもタイミングを取って！という主人には過酷なものでしたのでやめました。<br>
							AIHってその程度なので、あまり期待できるものではないです。<br>
							ちなみに私は20代からの不妊でAIH5回で妊娠できず、自然妊娠はしたものの流産。顕微授精で34歳で出産しました。</p>
							
							<p>ステップアップを望むならばある程度有名な病院に行く方がいいと思いますが。<br>
							各地区で有名な病院がありますよね。そういった所に片っ端から電話をしてみてとりあえず体外受精の説明会だけ行ってみるとか。<br>
							千駄ヶ谷のは◯メディカル、恵比寿のファティリティ◯リニック東京、木場公園の◯場公園クリニック、高輪の京野◯ートクリニック等、ホームページがある病院もあるので見てみては？</p>
						</div>
						<div class="content_bottom cf">
							<p class="post_date">2016年02月05日16時45分</p>

							<ul class="btn_wrap">
								<li><a href="./answer.html" class="btn_style btn_orange-o">私もそう思う<span class="ic ic_heart">0</span></a></li>
							</ul>
						</div>
					</div>
					<form action="./consult.html" class="validate">
						<div class="comment_reply_input">
							<h3 class="content_ttl">返信コメント</h3>
							<p class="error">・本文を入力してください。</p>
							<textarea name="consult_message" placeholder="返信コメントを入力してください"></textarea>
							<ul class="btn_wrap">
								<li>
									<button type="submit" class="btn_style btn_blue">送信する</button>
								</li>
							</ul>
						</div>
					</form>
				</div>

			</section>
		</div>
		{% include 'inc/sidebar.html' %}
	</div>
	{% include 'inc/footer.html' %}
</div>
{% include 'inc/script.html' %}
</body>
</html>
