<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>お問い合わせ</title>
{% include 'inc/link.html' %}
</head>
<body>
<div class="page_wrap page_contact">
	{% include 'inc/header.html' %}
	<div class="content_wrap cf">
		<div class="content_inner basic_bg">
			<section class="sec sec_contact">
				<form action="/contact" method="post" class="contact_form validate">
					<h2 class="sec_ttl">お問い合わせ</h2>
					<dl>
						<dt>メールアドレス：</dt>
						<dd>
							<input type="email" name="contact_email">
						</dd>
					</dl>
					<dl>
						<dt>件名：</dt>
						<dd>
							<input type="text" name="contact_subject">
						</dd>
					</dl>
					<dl>
						<dt>本文：</dt>
						<dd>
							<textarea name="contact_message"></textarea>
						</dd>
					</dl>
					<ul class="btn_wrap">
						<li>
							<button type="submit" class="btn_style btn_green">送信する</button>
						</li>
					</ul>
				</form>
				<div class="sec_notice">
					<dl>
						<dt>営業日：</dt>
						<dd>平日（土日祝日を除く）</dd>
					</dl>
					<dl class="m_b_20">
						<dt>営業時間：</dt>
						<dd>12:00～18:00</dd>
					</dl>
					<h3 class="content_ttl">※登録メールが届かない場合</h3>
					<p class="m_b_10">セキュリティ設定のためユーザー受信拒否と認識されているか、お客様が迷惑メール対策等で、ドメイン指定受信を設定されている場合に、メールが正しく届かないことがございます。<br>
						以下のドメインを受信できるように設定してください。</p>
					<p class="domain">
						<input type="text" value="@joyspe.jp" onclick="this.select(0,this.value.length)">
					</p>
				</div>
			</section>
		</div>
	</div>
	{% include 'inc/footer.html' %}
</div>
{% include 'inc/script.html' %}
</body>
</html>
