<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>よくある質問</title>
{% include 'inc/link.html' %}
</head>

<body>
<div class="page_wrap page_faq">
	{% include 'inc/header.html' %}
	<div class="content_wrap cf">
		<div class="content_inner basic_bg">
			<section class="sec sec_faq">
				<h2 class="sec_ttl">FAQ</h2>
				<dl>
					<dt>投稿内容を通報したいです。</dt>
					<dd>投稿のお題と通報内容を記載し運営までご連絡ください。</dd>
				</dl>
				<dl>
					<dt>間違って投稿してしまいました。</dt>
					<dd>間違ってしまった投稿のお題を運営までご連絡ください。<br>
						※投稿者と報告者のアドレスが一致している必要がございます。</dd>
				</dl>
				<dl>
					<dt>投稿した内容を削除したいです。</dt>
					<dd>基本的には投稿された後の内容を削除することはできません。<br>
						削除したい理由を明記の上運営までお問い合わせください。<br>
						スタッフが確認後に削除の有無を判断いたします。<br>
						また、投稿されても削除をお約束することはできません。</dd>
				</dl>
				<dl>
					<dt>投稿したカテゴリを間違えてしまいました。</dt>
					<dd>間違ってしまった投稿のお題を運営までご連絡ください。<br>
						※投稿者と報告者のアドレスが一致している必要がございます。</dd>
				</dl>
			</section>
		</div>
	</div>
	{% include 'inc/footer.html' %}
</div>
{% include 'inc/script.html' %}
</body>
</html>
