<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>あるある掲示板 | ジョイスペ</title>
<meta name="description" content="女性の日常生活で起こる「あるある」が満載の掲示板！男女あるある、セックスあるある、ジャニーズあるある、バンギャあるある、キャバ嬢あるある、風俗嬢あるある等様々なジャンルのあるあるを公開！">
<Meta name = "google-site-verification" content = "M1RShnBM0E5JPw5PkHrsns41CKOYUEWhNuhEzSB1uUc" />
{% include 'inc/link.html' %}
</head>

<body>
<div class="page_wrap page_index">
	{% include 'inc/header.html' with { 'is_visitor': is_visitor } %}
	<div class="block content_block_1">
		<div class="content_wrap cf">
			<div class="content">
				<section class="sec sec_top_creating m_b_30">
					<div class="sec_inner">
						<div class="sec_block">
							<h2 class="sec_ttl">女子の<span>あるある</span>ネタで共感し合おう！</h2>
						</div>
						<div class="sec_block new_creating">
							<ul class="btn_wrap">
								<li> <a class="creating" href="/page_theme">お題を作る</a> </li>
							</ul>
						</div>
					</div>
				</section>
				<section class="sec sec_bbs_list m_b_30">
					<div class="sec_block">
						<h2 class="sec_ttl new_comment">最新コメント</h2>
					</div>
					<div class="sec_inner">
						<ul>
							{% for post in latest_comment %}
							<li class="comment_list"> <a class="comment_box" href="/reaction/{{ post.id }}">
								<div class="comment_box_inner">
									<dl>
										<dt><span class="sec_box_category cate {{ post.big_cate_slug }}">{{ post.big_cate_name }}</span></dt>
										<dd class="sec_box_ttl">{{ post.title }}</dd>
									</dl>
									<ul>
										{% if post.time_ago|length %}
											{% set time_ago = post.time_ago|split(' ') %}
											<li class="new_comment ic {% if post.time_ago < 1440 %}ic_new{% endif %}"><p class="fix_text">最新コメント：</p><p class="{% if post.time_ago < 1440 %}count_text red{% endif %}">{{ time_ago[0] }}</p>{% if post.time_ago > 1440 %} {% endif %}{{ time_ago[1] }}</li>
										{% endif %}
						
										<li class="total ic ic_comment"><p class="fix_text"><img src="/pc/image/common/total_agree.png"></p><p class="count_text orange">{{ post.like_count }}</p><p class="fix_text">件</p></li>
								
									</ul>
								</div>
								</a>
							</li>
							{% endfor %}
						</ul>
					</div>
				</section>
				<section class="sec sec_new_post_bbs m_b_30">
					<div class="sec_block">
						<h2 class="sec_ttl new_bbs">新着あるある</h2>
					</div>
					<div class="sec_inner">
						<ul id="post_list">
							{% for post in latest_post %}
							<li class="comment_list"> <a class="comment_box" href="/reaction/{{ post.id }}">
								<div class="comment_box_inner">
									<dl>
										<dt><span class="sec_box_category cate {{ post.big_cate_slug }}">{{ post.big_cate_name }}</span></dt>
										<dd class="sec_box_ttl">{{ post.title }}</dd>
									</dl>
									<ul>
										{% if post.last_comment_time|length %}
											{% set time_ago = post.time_ago|split(' ') %}
											<li class="new_comment ic {% if post.time_ago < 1440 %}ic_new{% endif %}"><p class="fix_text">最新コメント：</p><p class="{% if post.time_ago < 1440 %}count_text red{% endif %}">{{ time_ago[0] }}</p>{% if post.time_ago > 1440 %} {% endif %}{{ time_ago[1] }}</li>
										{% endif %}
								
										<li class="total ic ic_comment"><p class="fix_text"><img src="/pc/image/common/total_agree.png"></p><p class="count_text orange">{{ post.like_count }}</p><p class="fix_text">件</p></li>
								
									</ul>
								</div>
								</a> 
							</li>
							{% endfor %}
						</ul>
						{% if latest_post|length == 10 %}
						<div class="more_comment">
							<ul class="btn_wrap">
								<li><a id="show_more_data" href="javascript:void(0)" class="btn_other">もっと見る</a></li>
							</ul>
						</div>
						{% endif %}
					</div>
				</section>
			</div>
			{% include 'inc/sidebar.html' with { 'popular': popular } %}
		</div>
	</div>
	{% include 'inc/footer.html' %}
</div>
{% include 'inc/script.html' %}
<script type="text/javascript">

$(".more_comment").click(function(){
	post_cont = $("#post_list");
	more_button = $(this);	
	current_count = post_cont.children().length;
	elem_countr = '<li';
	url = "/post/ajaxLatest";
	params = { offset: current_count, limit: 10};
	return showMore(url, params, post_cont, more_button, elem_countr);
});

</script>
</body>
</html>
