<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
<title>{{ title }}</title>
<meta name="description" content="{{ description }}">
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
{% include 'inc/link.html' %}
</head>
<body>
PCページはありません
</body>
</html>