{% for comment in comments %}
<div class="comment_area">

	<div class="content_inner" id="reaction_comment_{{ comment.id }}">
		<dl class="theme_info cf">
			<dt>
				<p class="user_name">{{ comment.owner_nick_name }}</p>
			</dt>
			<dd>
				<ul>
					<li class="post_date">{{ comment.time_ago}}</li>
				</ul>
			</dd>
		</dl>
		<div class="consult_comment">
			{% if comment.up_image != '' %}
			<p class="c_img"><a href="{{ comment.up_image }}" class="highslide comment_up_img"><img src="{{ comment.up_image }}" alt="" /></a></p>
			{% endif %}
			{% if colorSwitch == 1 %}
				{% if comment.rank > 80 %}
				<p class="aruaru_tally_count_1">{{ comment.message|raw|nl2br }}</p>
				{% elseif comment.rank > 50 %}
				<p class="aruaru_tally_count_2">{{ comment.message|raw|nl2br }}</p>
				{% elseif comment.rank > 5 %}
				<p class="aruaru_tally_count_3">{{ comment.message|raw|nl2br }}</p>
				{% else %}
				<p class="aruaru_tally_count_4">{{ comment.message|raw|nl2br }}</p>
				{% endif %}
			{% else %}
			<p>{{ comment.message|raw|nl2br }}</p>
			{% endif %}
		</div>
		<div class="btn_area cf m_b_20">
			<ul class="btn_wrap specific">
				<li> <a href="#" class="btn_style btn_red react_btn" data-react="yes" data-cid="{{ comment.id }}" data-pid="{{ post.id }}"><img src="/pc/image/btn/agree_btn.png"></a>
					<p class="count yes">{{ comment.like_count }}</p>
				</li>
				<li> <a href="#" class="btn_style btn_orange react_btn" data-react="no" data-cid="{{ comment.id }}" data-pid="{{ post.id }}"><img src="/pc/image/btn/not_agree_btn.png"></a>
					<p class="count no">{{ comment.dislike_count }}</p>
				</li>
			</ul>
			<ul class="btn_wrap specific social">
				<li>
					<a href="https://twitter.com/share?text={{ post.title }} {{twitter_share_url}}%23reaction_comment_{{ comment.id }} {{ comment.truncated_message }}&url={{twitter_share_url}}%23reaction_comment_{{ comment.id }} {{ comment.truncated_message }}" target="_blank" class="btn_sns tweet"><img src="/pc/image/icon/icon_twitter_s.png"></a> 
				</ul>
		</div>

		{% for comment_reply in comment.reply %}
		<div class="history_comment">
			<dl class="theme_info cf">
				<dt>
					<p class="user_name history_area">{{ comment_reply['owner_nick_name'] }}</p>
				</dt>
				<dd>
					<ul>
						<li class="post_date">{{ comment_reply['time_ago'] }}</li>
					</ul>
				</dd>
			</dl>
			<p>{{ comment_reply['message']|nl2br }}</p>
		</div>
		{% endfor %}

		<p class="reply open_comment_reply"><a href="#">このコメントに返信する▼</a></p>
		<form action="" class="validate comment_form" style="display:none" data-pid="{{ comment.post_id }}" data-cid="{{ comment.id }}">
			<div class="comment_reply_input cf">
				<h3 class="content_ttl re_comment">このコメントに返信する<span class="comment_user_name">{{ user.nick_name }}</span></h3>
				<p class="error comment s_error" style="display:none;"></p>
				<textarea name="consult_comment" placeholder="返信内容を入力してください"></textarea>
				<p class="input_desc">※全角300文字以内</p>
				<ul class="btn_wrap re_send">
					<li class="send_btn">
						<button type="submit" class="btn_style btn_green_no_b">送信する</button>
					</li>
				</ul>
			</div>
		</form>

		<div class="guideline reply"  style="display:none">
			<ul>
				<li>※コメントする方は自らの責任を自覚した上で利用してください</li>
				<li>※コメントした内容によって起きた問題は運営は一切責任を持ちません</li>
				<li>※投稿時の注意事項は<a rel="leanModal" href="#guideline">コチラ</a>から確認できます</li>
			</ul>
		</div>


	</div>

</div>
{% endfor %}