{% for post in latest_post %}
<li class="comment_list"> <a class="comment_box" href="/reaction/{{post.id}}">
	<div class="comment_box_inner">
		<div>
			<p class="sec_box_ttl">{{ post.title }}</p>
		</div>
		<ul>
			{% if post.last_comment_time|length %}
				{% set time_ago = post.time_ago|split(' ') %}
				<li class="new_comment ic {% if post.time_ago < 1440 %}ic_new{% endif %}"><p class="fix_text">最新コメント：</p><p class="{% if post.time_ago < 1440 %}count_text red{% endif %}">{{ time_ago[0] }}</p>{% if post.time_ago > 1440 %} {% endif %}{{ time_ago[1] }}</li>
			{% endif %}

			<li class="total ic ic_comment"><p class="fix_text">総あるある数：</p><p class="count_text orange">{{ post.like_count }}</p><p class="fix_text">件</p></li>										
		</ul>
	</div>
	</a> </li>
{% endfor %}