<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{ title }}</title>
{% include 'inc/link.html' %}
</head>

<body>
<div class="page_wrap page_mypage">
	{% include 'inc/header.html' with {'is_visitor': is_visitor } %}
	<div class="content_wrap cf">
		<div class="content">
			<div class="content_inner">
				<section class="sec sec_mypage">
					<div class="mypage_box">
						<h2 class="sec_ttl">マイページ</h2>
						<ul class="tab_menu" id="tab_menu">
							<li class="tab_unresolved current tab_menu_pc" id="tab_unresolved" data-content="posts" data-initcount="{{latest_post|length }}">{{ tab_1_title }}</li>
							<li class="tab_history tab_menu_pc" id="tab_history" data-content="comments" data-initcount="{{latest_comment|length }}">コメント</li>
						</ul>
						<div class="tab_content content_unresolved content_1">
							
							<div class="search_found not_found cf" {% if latest_post|length > 0 %}style="display:none;"{% endif %}>
								<p class="left_box">投稿したお題はありません。</p>
								<ul class="btn_wrap right_box">
									<li><a href="/page_theme" class="creating">お題を作る</a></li>
								</ul>
							</div>
							
							<ul class="consult_list m_b_20 " data-content="posts" data-initcount="{{latest_post|length }}">
								{% for post in latest_post %}
								<li class="box_wrap posts_box_{{ post.id }}">
									<div class="left_box">
										<input type="checkbox" name="delete_posts_{{ post.id }}" class="delete_posts" value="{{ post.id }}">
									</div>
									<div class="right_box">
										<a href="/reaction/{{ post.id }}" class="cf">
											<div class="reaction_content">
												<p><span class="cate {{ post.big_cate_slug }}">{{ post.big_cate_name }}</span><span class="category_detail">{{ post.cate_name }}</span></p>
												<h3 class="sec_box_ttl">{{ post.title }}</h3>
											</div>
											
											<ul class="reaction_list_date">
											{% if post.last_comment_time|length %}
												{% set time_ago = post.time_ago|split(' ') %}
												<li class="post_date"><span class="date">{{ time_ago[0] }}</span><span class="time">{{ time_ago[1] }}</span></li>
											{% endif %}
												<li class="total"><span class="fix_text">総あるある数：</span><span class="count_text orange">{{ post.like_count }}</span><span class="fix_text">件</span></li>
											</ul>
										</a>
									</div>
								</li>
								{% endfor %}
							</ul>
							<div class="content_bottom cf posts" {% if latest_post|length <= 0 %}style="display:none;"{% endif %}>
								<ul class="btn_wrap">
									<li><a href="#" class="btn_style btn_gray-o delete_btn" data-delete="posts">チェックした項目を削除</a></li>
								</ul>
								<ul class="pager_wrap"></ul>
							</div>
							
						</div>
						<div class="tab_content content_history content_2">
							
							<div class="search_found not_found cf" {% if latest_comment|length > 0 %}style="display:none;"{% endif %}>
								<p class="left_box">投稿したコメントはありません。</p>
							</div>
							
							<ul class="consult_list m_b_20"  data-content="comments" data-initcount="{{latest_comment|length }}">
								{% for post in latest_comment %}
								<li class="box_wrap comments_box_{{ post.id }}">
									<div class="left_box">
										<input type="checkbox" name="delete_comments_{{ post.id }}" class="delete_comments"  value="{{ post.id }}">
									</div>
									<div class="right_box">
										<a href="/reaction/{{ post.id }}#reaction_comment_{{ post.commentid }}" class="cf">
											<div class="reaction_content">
												<p><span class="cate {{ post.big_cate_slug }}">{{ post.big_cate_name }}</span><span class="category_detail">{{ post.cate_name }}</span></p>
												<h3 class="sec_box_ttl">{{ post.title }}</h3>
											</div>
											
											<ul class="reaction_list_date">
											{% if post.time_ago|length %}
												{% set time_ago = post.time_ago|split(' ') %}	
												<li class="post_date"><span class="date">{{ time_ago[0] }}</span><span class="time">{{ time_ago[1] }}</span></li>
											{% endif %}
												<li class="total"><span class="fix_text">総あるある数：</span><span class="count_text orange">{{ post.like_count }}</span><span class="fix_text">件</span></li>
											</ul>
										</a>
									</div>
								</li>
								{% endfor %}
								
							</ul>
							<div class="content_bottom comments cf" {% if latest_comment|length <= 0 %}style="display:none;"{% endif %}>
								<ul class="btn_wrap">
									<li><a href="#" class="btn_style btn_gray-o delete_btn" data-delete="comments">チェックした項目を削除</a></li>
								</ul>
								
								<ul class="pager_wrap"></ul> 
							</div>
				
						</div>
					</div>
				</section>
			</div>
		</div>
		{% include 'inc/mypage_sidebar.html' %}
	</div>
	{% include 'inc/footer.html' %}
</div>
{% include 'inc/script.html' %}

<!-- add script for pagination -->
<script src="/pc/js/pagination.js"></script>

<script type="text/javascript">
$(document).on("click", ".delete_btn", function(){
	var container = $('.consult_list:visible');
	var content = $(this).data('delete');
	values = $(".delete_"+content+":checked")
              .map(function(){return $(this).val();}).get();

    if (values.length && confirm('削除すると付与されたポイントが減りますがよろしいですか？')) {
	    params = { values:values, content:content, pagination:'paginate'};
		doAjaxRequest(url='/user/deletePosts', params, 'JSON', function(data){
			$.each(data['ids'], function( index, value ) {
			  	plist = "."+content+"_box_"+value;
			  	$(plist).fadeOut().remove();
			});

			if(container.children("li").length < 1){
				$('.tab_content:visible .search_found').show();
				$('.tab_content:visible .content_bottom').hide();
				page = 1;
				page_container = $('.content_bottom.'+content);
				loadPageContent(page,content,container);
				loadPaginator(page_container,content,page);
			}

		});
    }
    
	return false;
});

</script>

</body>
</html>
