{% if content == 'posts' %}
{% for post in  moreposts %}
<li class="box_wrap  posts_box_{{ post.id }}">
	<div class="left_box">
		<input type="checkbox" name="delete_posts_{{ post.id }}" class="delete_posts" value="{{ post.id }}">
	</div>
	<div class="right_box">
		<a href="/reaction/{{ post.id }}" class="cf">
			<div class="reaction_content">
				<p><span class="cate {{ post.big_cate_slug }}">{{ post.big_cate_name }}</span><span class="category_detail">{{ post.cate_name }}</span></p>
				<h3 class="sec_box_ttl">{{ post.title }}</h3>
			</div>
			
			<ul class="reaction_list_date">
			{% if post.last_comment_time|length %}
				{% set time_ago = post.time_ago|split(' ') %}
				<li class="post_date"><span class="date">{{ time_ago[0] }}</span><span class="time">{{ time_ago[1] }}</span></li>
			{% endif %}
				<li class="total"><span class="fix_text">総あるある数：</span><span class="count_text orange">{{ post.like_count }}</span><span class="fix_text">件</span></li>
			</ul>
		</a>
	</div>
</li>
{% endfor %}
{% endif %}

{% if content == 'comments' %}
{% for post in moreposts %}
<li class="box_wrap  comments_box_{{ post.id }}">
	<div class="left_box">
		<input type="checkbox" name="delete_comments_{{ post.id }}" class="delete_comments"  value="{{ post.id }}">
	</div>
	<div class="right_box">
		<a href="/reaction/{{ post.id }}#reaction_comment_{{ post.comment_id }}" class="cf">
			<div class="reaction_content">
				<p><span class="cate {{ post.big_cate_slug }}">{{ post.big_cate_name }}</span><span class="category_detail">{{ post.cate_name }}</span></p>
				<h3 class="sec_box_ttl">{{ post.title }}</h3>
			</div>
			
			<ul class="reaction_list_date">
			{% if post.time_ago|length %}
				{% set time_ago = post.time_ago|split(' ') %}	
				<li class="post_date"><span class="date">{{ time_ago[0] }}</span><span class="time">{{ time_ago[1] }}</span></li>
			{% endif %}
				<li class="total"><span class="fix_text">総あるある数：</span><span class="count_text orange">{{ post.like_count }}</span><span class="fix_text">件</span></li>
			</ul>
		</a>
	</div>
</li>
{% endfor %}
{% endif %}