<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>お題を作る</title>
{% include 'inc/link.html' %}
<link rel="stylesheet" href="/pc/css/page_theme.css">
</head>

<body>
<div class="page_wrap page_theme">
	{% include 'inc/header.html' with {'is_visitor': is_visitor } %}
	<div class="content_wrap cf">
		<div class="content_inner">
			<section class="sec sec_theme">
				<form method="post" id="page_theme_form" class="question_form validate ui-count_form" data-bigcatid="{{ values.big_cate_id }}" data-catid="{{ values.cate_id }}">
					<h2 class="sec_ttl">お題を作る</h2>
					<div class="input_form">
						<dl class="input_nickname">
							<dt class="required">ニックネーム</dt>
							<dd>
								<p>{{ nick_name }}</p>
								<p><a href="{{ main_url }}user/settings" class="t_link">ニックネームを変更する</a></p>
							</dd>
						</dl>
						<dl class="input_category_list">
							<dt class="required">大カテゴリー</dt>
							<dd>
								{% if error.big_cate_id  %} <p class="s_error">{{ error.big_cate_id }}</p> {% endif %}
								<select id="bbs_big_categorys" name="big_cate_id" >
									<option value="">選択してください</option>
									{% for key, bulletin in bulletins %}
									<option value="{{ bulletin.id }}" {% if bulletin.id == values.big_cate_id %} selected="selected" {% endif %} >{{ bulletin.jp_name }}</option>
									{% endfor %}
								</select>
							</dd>
						</dl>
						<dl class="input_category">
							<dt class="required">小カテゴリー</dt>
							<dd>
								{% if error.cate_id  %} <p class="s_error">{{ error.cate_id }}</p> {% endif %}
								<select id="bbs_categorys" name="cate_id" >
									<option value="">選択してください</option>
								</select>
								<input type="hidden" id="h_category">
							</dd>
						</dl>
						<dl class="input_ttl">
							<dt class="required">お題</dt>
							<dd class="cf ui-count_form ttl_form">
								{% if error.qcl and error.title == ''  %} <p class="s_error">&nbsp;</p> {% endif %}
								{% if error.title  %} <p class="s_error">{{ error.title }}</p> {% endif %}
								<input type="text" name="title" placeholder="お題を入力してください" class="ui-count_input" maxlength="30" value="{{ values.title }}" >
								<p class="input_desc">※全角30文字以内</p>
								<p class="input_count">30</p>
							</dd>
							<dd class="input_category_list">
								<ul>
									<li>
										{% if error.title and error.qcl == ''  %} <p class="s_error">&nbsp;</p> {% endif %}
										{% if error.qcl  %} <p class="s_error">{{ error.qcl }}</p> {% endif %}
										<select name="qcl" class="thema-tail">
											<option value="">選択してください</option>
											<option value="1"{% if values.qcl == 1 %} selected="selected" {% endif %}>あるある</option>
											<option value="2"{% if values.qcl == 2 %} selected="selected" {% endif %}>にありがちなこと</option>
											<option value="3"{% if values.qcl == 3 %} selected="selected" {% endif %}>でありがちなこと</option>
											<option value="4"{% if values.qcl == 4 %} selected="selected" {% endif %}>にしかわからないこと</option>
											<option value="5"{% if values.qcl == 5 %} selected="selected" {% endif %}>(なし)</option>
										</select>
									</li>
								</ul>
							</dd>
						</dl>
						<dl class="input_content">
							<dt class="required">本文</dt>
							<dd class="cf ui-count_form">
								{% if error.message  %} <p class="s_error">{{ error.message }}</p> {% endif %}
								<textarea placeholder="本文を入力してください" name="message" class="ui-count_input" maxlength="500" >{{ values.message }}</textarea>
								<p class="input_desc">※全角500文字以内</p>
								<p class="input_count">500</p>
							</dd>
						</dl>
						<dl class="input_image">
							<dt class="">画像</dt>
							<dd class="cf ui-count_form">
								<input id="upload_img" type="file" value="" name="userfile">
								<input id="image_file_name" type="hidden" value="" name="image_file_name">
								<p class="input_desc">※3Mbyte以内</p>
							</dd>
						</dl>
						<ul class="btn_wrap">
							<li>
								<button type="submit" class="btn_style btn_green_no_b">入力内容の確認</button>
							</li>
						</ul>
					</div>
					<input type="hidden" name="confirm" value="1" />
				</form>
			</section>
		</div>
	</div>
	{% include 'inc/footer.html' %}
</div>
{% include 'inc/script.html' %}
<script src="/pc/js/page_theme.js?v=20160629"></script>
<script type="text/javascript">
// set selected category
{% if values.big_cate_id %} 
	getCategory({{ values.big_cate_id }}{% if values.cate_id %},{{ values.cate_id }}{% endif %});
{% endif %}

$(function(){
	$('#bbs_categorys').change(function(){
		$('#h_category').val($(this).val());
	});
	if ($('#bbs_big_categorys').val()!='' && $('#h_category').val()!='') {
		getCategory($('#bbs_big_categorys').val(), $('#h_category').val());
	}
});
</script>
</body>
</html>
