<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>個人情報保護方針</title>
{% include 'inc/link.html' %}
</head>
<body>
<div class="page_wrap page_privacy">
	{% include 'inc/header.html' %}
	<div class="content_wrap cf">
		<div class="content_inner basic_bg">
			<section class="sec sec_privacy">
				<h2 class="sec_ttl">個人情報保護方針</h2>
				<p class="sec_desc">ジョイスペ事務局（以下「弊社」という）は、 joyspe （以下「本サービス」という）をご利用になる方（以下「利用者」という）のプライバシーを尊重し、利用者の大切な個人情報の保護に万全を尽くします。</p>
				<dl>
					<dt>１．法令等の遵守</dt>
					<dd>弊社は「個人情報の保護に関する法律」をはじめとした個人情報の取扱いに関して定めている法令、経済産業省の「個人情報の保護に関する法律についての経済産業分野を対象とする個人情報保護ガイドライン」、「電気通信事業法」およびそれらに基づく総務省の「電気通信事業における個人情報保護に関するガイドライン」等を遵守します。</dd>
				</dl>
				<dl>
					<dt>２．個人情報とは </dt>
					<dd>個人情報とは、名前、性別、生年月日、住所、電話番号、メールアドレス、その他特定の個人を識別することができる情報を言います。また、その情報のみでは識別できない場合でも、他の情報と容易に照合することができ、それにより結果的に利用者個人を識別することができるものも個人情報に含まれます。</dd>
				</dl>
				<dl>
					<dt>３．個人情報の利用目的、収集</dt>
					<dd>
						<ul>
							<li>（1）joyspe 利用者に対するサービス提供。</li>
							<li>（2）joyspe のサービス利用における個人認証。</li>
							<li>（3）よりよいコンテンツ及びサービスを提供する為、必要に応じて利用者からいくつかの情報を収集します。</li>
						</ul>
					</dd>
				</dl>
				<dl>
					<dt>４．個人情報の変更等</dt>
					<dd>弊社でお預かりしている個人情報の訂正・削除は、お問い合せフォームよりご連絡ください。</dd>
				</dl>
				<dl>
					<dt>５．個人情報の第三者への開示</dt>
					<dd>利用者の個人情報を利用者本人の同意を得ずに第三者に開示することは、原則いたしません。提供先・提供情報内容を特定したうえで、利用者の同意を得た場合に限り開示します。ただし以下の場合は、関係法令に反しない範囲で、利用者の同意なく利用者の個人情報を開示することがあります。
						<ul>
							<li>（1） 利用者本人から明示的に第三者への開示または提供を求められた場合。</li>
							<li>（2） 法令により開示または提供が許容されている場合。</li>
							<li>（3） 利用者が第三者に不利益を及ぼすと弊社が判断した場合。</li>
							<li>（4） 生命、身体又は財産の保護のために情報開示が必要で、かつ本人の同意を得ることが困難である場合。</li>
							<li>（5） 公衆衛生の向上又は児童の健全な育成の推進のために情報開示が必要で、かつ利用者本人の同意を得ることが困難である場合。</li>
							<li>（6） 国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合で、かつ利用者本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがある場合。</li>
							<li>（7） 裁判所、検察庁、警察、弁護士会、消費者センターまたはこれらに準じた権限を有する機関から、個人情報についての開示を求められた場合。</li>
						</ul>
					</dd>
				</dl>
				<dl>
					<dt>６．免責</dt>
					<dd>以下の場合は、第三者による個人情報の取得に関し、弊社は何らの責任を負いません。
						<ul>
							<li>（1） 弊社の責によらず利用者自らがjoyspeの機能または別の手段を用いて特定の企業に個人情報を明らかにする場合。</li>
							<li>（2） 利用者の活動情報またはその他の利用者が joyspe に入力した情報により、期せずして本人が特定できてしまった場合。</li>
							<li>（3） joyspe からリンクされる外部サイトにおいて、利用者から個人情報が提供され、またそれが利用された場合。</li>
							<li>（4） 利用者本人以外が利用者個人を識別できる情報（ＩＤ・パスワード等）を入手した場合。</li>
						</ul>
					</dd>
				</dl>
				<dl>
					<dt>７．統計情報等の利用</dt>
					<dd>弊社は提供された個人情報をもとに、個人を特定できないように加工した利用状況や統計データを作成し、当該情報について何ら制約なく利用することができることとします。なお、この場合の著作権は弊社に帰属することとします。</dd>
				</dl>
				<dl>
					<dt>８．外部委託について</dt>
					<dd>弊社は個人情報の取り扱いの全部または一部を外部に委託する場合があります。委託を行う場合には、充分な個人情報保護水準を確保していることを条件として委託先を選定し、個人情報保護に関する契約を結んだ上で行います。また、当該委託先における管理については必要かつ適切な監督を行います。</dd>
				</dl>
				<dl>
					<dt>９．個人情報の管理について</dt>
					<dd> 弊社は、利用者の個人情報を合理的、組織的、物理的、人的、技術的施策により安全に管理し、関連法令に準じて適切に取扱い個人データへの不正な侵入、個人情報の紛失、改竄、漏えい等の危険防止に努めます。<br>
						<p>※Cookieの使用について</p>
						joyspe では、利用者のプライバシー保護、利便性の向上、広告の配信、および統計データ取得のため、Cookie（クッキー）を使用します。ただし、Cookieには個人情報は一切書き込まれません。<br>
						<p>※SSLの使用について</p>
						当サイトにおいて、クレジットカード等の個人情報をご入力いただく際は、セキュリティ確保のため、または改竄などされることを防ぐ目的でSSL（Secure Sockets Layer）という技術を使用いたします。SSLとは、インターネット上で送受信されるデータを暗号化する技術で、盗聴やデータの改竄を未然に防止します。 </dd>
				</dl>
				<dl>
					<dt>１０．個人情報の取り扱いについての変更</dt>
					<dd>弊社は joyspe 個人情報の取り扱いについてを継続的に見直し、その改善に努めます。収集する個人情報の内容の変更、利用目的の変更、その他取り扱い方針の変更を行う際は、当ページへの変更をもって公表とさせていただきます。</dd>
				</dl>
			</section>
		</div>
	</div>
	{% include 'inc/footer.html' %}
</div>
{% include 'inc/script.html' %}
</body>
</html>
