<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>相談内容の確認</title>
{% include 'inc/link.html' %}
</head>

<body>
<div class="page_wrap page_question_conf">
	{% include 'inc/header.html' with {'is_visitor': is_visitor } %}
	<div class="content_wrap cf">
		<div class="content_inner">
			<section class="sec sec_question_conf">
				<form action="" method="post" class="question_conf_form validate">
					<h2 class="sec_ttl">相談内容の確認</h2>
					<div class="input_form">
						<dl>
							<dt>ニックネーム</dt>
							<dd>
								<p>ニックネーム</p>
							</dd>
						</dl>
						<dl>
							<dt>大カテゴリー</dt>
							<dd>
								<p>恋愛と結婚</p>
							</dd>
						</dl>
						<dl>
							<dt>カテゴリー詳細</dt>
							<dd>
								<p>恋愛やパートナーの性格</p>
							</dd>
						</dl>
						<dl>
							<dt>タイトル</dt>
							<dd>
								<p>タイトルが入ります。全角10文字～50文字</p>
							</dd>
						</dl>
						<dl>
							<dt>相談内容</dt>
							<dd>
								<p>みなさま初めましてm(_ _)m<br>
									いつも参考にさせていただいております。<br><br>
								初めて質問させていただきますが、お力をお借りできればと思っています。<br><br>
								不妊2年半<br>
								半年のタイミング指導から前回初めてAIHをしましたが、人工授精してから体温が上がったのは3日後で、全くタイミングがあっていなかったなと思います。いつも見ていただいている普通のレディースクリニックの為、不妊外来への転院を考えています。<br><br>
								4回ほどしてダメならもう体外受精にステップアップするつもりです。人工授精はあまり技術は関係なく、排卵日の見極めが大事だと見ました。転院したことで妊娠されたなどご存知でしたら、お話お聞きしたいです。また、東京でおすすめの病院などあればお聞きしたいです。<br><br>
								知識が浅い為、失礼などありましたらすみません！よろしくお願い致しますm(_ _)m</p>
							</dd>
						</dl>
						<ul class="btn_wrap">
							<li> <a href="#" onclick="javascript:window.history.back(-1);return false;" class="btn_style btn_gray-o">戻る</a> </li>
							<li>
								<button type="submit" class="btn_style btn_green">相談する</button>
							</li>
						</ul>
					</div>
				</form>
			</section>
		</div>
	</div>
	{% include 'inc/footer.html' %}
</div>
{% include 'inc/script.html' %}
</body>
</html>