<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>投稿完了</title>
{% include 'inc/link.html' %}
</head>
<body>
<div class="page_wrap page_question_comp">
	{% include 'inc/header.html' with {'is_visitor': is_visitor } %}
	<div class="content_wrap cf">
		<div class="content_inner">
			<section class="sec sec_question_comp">
				<h2 class="sec_ttl">相談内容の投稿完了</h2>
				<h3 class="content_ttl">投稿が完了しました</h3>
				<p class="sec_desc">受付期間が終了しても、相談とその回答を閲覧することは可能です。<br>
				全ての回答に返信がつくとは限りませんのでご理解いただきますようお願い申し上げます。</p>
				<ul class="btn_wrap t_center m_b_20">
					<li> <a href="/mypage" class="btn_style btn_gray-o">マイページへ</a></li>
					<li> <a href="/consult" class="btn_style btn_green">投稿した記事へ</a></li>
				</ul>
			</section>
		</div>
	</div>
	{% include 'inc/footer.html' %}
</div>
{% include 'inc/script.html' %}
</body>
</html>
