<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>相談内容の入力</title>
{% include 'inc/link.html' %}
</head>

<body>
<div class="page_wrap page_question">
	{% include 'inc/header.html' with {'is_visitor': is_visitor } %}
	<div class="content_wrap cf">
		<div class="content_inner">
			<section class="sec sec_question">
				<form method="post" action="./question_conf" class="question_form validate ui-count_form">
					<h2 class="sec_ttl">相談内容の入力</h2>
					<div class="input_form">
						<dl class="input_nickname">
							<dt class="ic_required">ニックネーム</dt>
							<dd><p>匿名さん</p>
							<p><a href="./" class="t_link">ニックネームの変更</a></p></dd>
						</dl>
						<dl class="input_category_list">
							<dt class="ic_required">大カテゴリーを選択</dt>
							<dd>
								<select name="question_category_list" required>
									<option value="">選択してください。</option>
									<option value="1">項目１</option>
									<option value="2">項目２</option>
									<option value="3">項目３</option>
									<option value="4">項目４</option>
									<option value="5">項目５</option>
									<option value="6">項目６</option>
									<option value="7">項目７</option>
									<option value="8">項目８</option>
									<option value="9">項目９</option>
								</select>
							</dd>
						</dl>
						<dl class="input_category">
							<dt class="ic_required">カテゴリー詳細を選択</dt>
							<dd>
								<select name="question_category" required>
									<option value="">選択してください。</option>
									<option value="1">項目１</option>
									<option value="2">項目２</option>
									<option value="3">項目３</option>
									<option value="4">項目４</option>
									<option value="5">項目５</option>
									<option value="6">項目６</option>
									<option value="7">項目７</option>
									<option value="8">項目８</option>
									<option value="9">項目９</option>
								</select>
							</dd>
						</dl>
						<dl class="input_ttl">
							<dt class="ic_required">タイトル</dt>
							<dd class="cf ui-count_form">
								<input type="text" name="question_subject" placeholder="タイトルを入力してください。" class="ui-count_input" maxlength="50">
								<p class="input_desc">※全角10文字～50文字</p>
								<p class="input_count">50</p>
							</dd>
						</dl>
						<dl class="input_content">
							<dt class="ic_required">相談内容</dt>
							<dd class="cf ui-count_form">
								<textarea placeholder="相談内容を入力してください。" name="question_message" class="ui-count_input" maxlength="1000"></textarea>
								<p class="input_desc">※全角30文字～1000文字</p>
								<p class="input_count">1000</p>
							</dd>
						</dl>
						<ul class="btn_wrap">
							<li>
								<button type="submit" class="btn_style btn_green">送信する</button>
							</li>
						</ul>
					</div>
				</form>
			</section>
		</div>
	</div>
	{% include 'inc/footer.html' %}
</div>
{% include 'inc/script.html' %}
</body>
</html>
