<blockquote><div class="insert_source" ><p class="reaction_title" >{{ info_title|raw }}</p><p class="reaction_description"  >{{ info_description|raw }}</p><p  class="c_img"><a href="{{ info_image }}" ><img src="{{ info_image }}" alt=""></a></p>
<cite><a href="{{ info_source_url|raw }}" rel="nofollow">出典：{{ info_source_url|raw }}</a></cite></div></blockquote>