<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>入力内容の確認</title>
{% include 'inc/link.html' %}
<link rel="stylesheet" href="/pc/css/theme_conf.css">
</head>

<style>
.image_change_btn a{
display: inline-block;
}
	
</style>
<body>
<div class="page_wrap page_theme_conf">
	{% include 'inc/header.html' with { 'is_visitor': is_visitor } %}
	<div class="content_wrap cf">
		<div class="content_inner">
			<section class="sec sec_theme_conf">
					<h2 class="sec_ttl">入力内容の確認</h2>
					<div class="input_form">
						<dl>
							<dt>ニックネーム</dt>
							<dd>
								<p>{{ values.user_nickname }}</p>
							</dd>
						</dl>
						{% if upload_image_path %}
						<dl>
							<dt>画像</dt>
							<dd>
								<p><img src="{{ upload_image_path|raw }}" ></p>
							</dd>
						</dl>
						{% endif %}
						<dl>
							<dt>本文</dt>
							<dd>
								<script>
									var img_select_array = [];
								</script>
								<p>
				<form method="post" id="send_go_form" class="send_go" action="addcomment">
						{{ message|raw }}
						<input type="hidden" name="massage_all" value="{{ message_all }}">
						<input type="hidden" name="bl_max" value="">
						<input type="hidden" name="pid" value="{{ page_id }}">
				</form>
								</p>
							</dd>
						</dl>
						<ul class="btn_wrap">
							<li> <a href="/reaction/{{ page_id }}" id="theme_form_back_to_prev" class="btn_style btn_other">戻る</a> </li>
							<li>
								<button id="btn" type="submit" class="btn_style btn_green_no_b">コメント投稿する</button>
							</li>
						</ul>
					</div>
<!--
					<input type="hidden" name="big_cate_id" value="{{ values.big_cate_id }}" />
					<input type="hidden" name="cate_id" value="{{ values.cate_id }}" />
					<input type="hidden" name="title" value="{{ values.title }}" />
					<input type="hidden" name="message" value="{{ values.message }}" />
					<input type="hidden" name="qcl" value="{{ values.qcl }}" />
					<input type="hidden" name="save" value="1" />
				</form>
-->
			</section>
		</div>
	</div>
<div id = "buffer" style="display:none;">
</div>
<script>
$(function() {
    $('#btn').click(function() {

		for (var i = 0; i < img_select_array.length; i++) {
			if($('#bl'+i+'_title').css("display") == 'none') {
				$('#bl'+i+'_title').remove();
				$('#bl'+i+'_description').remove();
			}
		}
		$('input[name="bl_max"]').val(img_select_array.length);


		$(".image_change_btn").remove();

    	console.log('おkです');

        $('#send_go_form').submit();
    });
});
</script>
	{% include 'inc/footer.html' %}
</div>
{% include 'inc/script.html' %}

</body>
</html>