<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{ title }}</title>
<meta name="description" content="{{ meta_desc }}">
{% include 'inc/link.html' %}
<script src="/pc/js/reaction.js?v=20160627"></script>
<script src="/pc/js/jquery.cookie.js"></script>
<link rel="stylesheet" href="/pc/css/reaction.css?v=20160718">
<link rel="stylesheet" href="/pc/css/hs.css">
<script src="/pc/js/hs.js"></script>
<script>
$(function() {
	highslide_set();
});
</script>
<style>
#ap_message div p img{
max-width: 360px;
}
.reaction_title{
font-weight: bold;
}
.comment_area .content_inner .consult_comment .insert_source
{
margin-top: 20px;
}
/*.comment_area .content_inner .consult_comment div img{
max-width: 360px;
}*/
.comment_area .content_inner .consult_comment .insert_source a
{
float: right;
}
/*.consult_comment p img{
max-width: 360px;
}*/
.sec_consult_answer .content_inner.new_comments.comment_area .consult_comment .insert_source a{
float: right;
}
.sec.sec_consult_answer .content_inner.new_comments.comment_area .consult_comment .insert_source .c_img a{
float: none;
}
.comment_area .content_inner .consult_comment .insert_source .c_img a{
float: none;
}

#ap_image #up_image{
max-width: 360px;
}
#reaction_input_form input#upload_img{

}
#reaction_input_form .input_desc span{
	color:#333;
}
#img_zoom_wrap{
position: absolute;
}

.reaction_comment_error{
color: #F00;
}
</style>
</head>
<body>
<div id="highslide-container"></div>
<div id="img_zoom_wrap">
	<div id="img_zoom" style="width:150%;">
	</div>
</div>
<div class="page_wrap page_reaction">
	{% include 'inc/header.html' with {'active': post.big_cate_id, 'is_visitor': is_visitor } %}
	<div class="content_wrap cf">
		<div class="content">
			<section class="sec sec_category_detail">
				<div class="sec_inner">
					<div class="sec_block category_detail_wrap">
						<ul>
							<li class="category">{{post.big_cate_name}}</li>
							<li class="category_detail">{{post.cate_name}}</li>
						</ul>
					</div>
				</div>
			</section>
			<section class="sec sec_consult_question m_b_30">
				<div class="content_inner">
					<dl class="theme_info cf">
						<dt>
							<p class="user_name">{{ owner.nick_name }}</p>
						</dt>
						<dd>
							<ul>
								{% if post.time_ago|length %}
								<li class="post_date"><span class="date">{{ post.time_ago }}</span></li>
								{% endif %}
								<li class="total">
									<span class="fix_text"></span>
									<span class="fix_text">コメント数：</span><span class="count_text red comment_count">{{ post.comment_count }}</span>
									<span class="fix_text"><img src="/pc/image/common/total_agree.png"></span>
									<span class="count_text orange comment_like_count"> {{ post.comment_like_count }}</span> 件</li>
							</ul>
						</dd>
					</dl>
					<h2 class="content_ttl">{{ post.title }}</h2>
					<div class="consult_question_content">
						{% if post.up_image != null %}
						<p><img src="{{ post.up_image }}"></p>
						{% endif %}
						<p>{{ post.message|raw|nl2br }}</p>
					</div>
					<div class="btn_area cf">
						<ul class="btn_wrap specific">
							<li> <a href="#" class="btn_style btn_red react_btn" data-react="yes" data-pid="{{ post.id }}"><img src="/pc/image/btn/agree_btn.png"></a>
								<p class="count yes">{{ post.like_count }}</p>
							</li>
							<li> <a href="#" class="btn_style btn_orange react_btn" data-react="no" data-pid="{{ post.id }}"><img src="/pc/image/btn/not_agree_btn.png"></a>
								<p class="count no">{{ post.dislike_count }}</p>
							</li>
						</ul>
						<ul class="btn_wrap specific social">
							<li>
								<a href="https://twitter.com/share?text={{ post.title }} {{twitter_share_url}} {{ twitter_share_text }}&url={{twitter_share_url}} {{ twitter_share_text }}" target="_blank" class="btn_sns tweet">
									 <img src="/pc/image/icon/icon_twitter_s.png">

								</a> 
                            </li>
						</ul>
					</div>
				</div>
			</section>
			<section class="sec sec_consult_answer sec_consult_answer_list">


				{% for comment in comments %}
				<div class="comment_area" id="reaction_comment_{{ comment.id }}">

					<div class="content_inner">
						<dl class="theme_info cf">
							<dt>
								<p class="user_name">{{ comment.owner_nick_name }}</p>
							</dt>
							<dd>
								<ul>
									<li class="post_date">{{ comment.time_ago }}</li>
								</ul>
							</dd>
						</dl>
						<div class="consult_comment">
							{% if comment.up_image != '' %}
							<p class="c_img"><a href="{{ comment.up_image }}" class="highslide comment_up_img"><img src="{{ comment.up_image }}" alt="" /></a></p>
							{% endif %}
							{% if colorSwitch == 1 %}
								{% if comment.rank > 80 %}
								<p class="aruaru_tally_count_1">{{ comment.message|raw|nl2br }}</p>
								{% elseif comment.rank > 50 %}
								<p class="aruaru_tally_count_2">{{ comment.message|raw|nl2br }}</p>
								{% elseif comment.rank > 5 %}
								<p class="aruaru_tally_count_3">{{ comment.message|raw|nl2br }}</p>
								{% else %}
								<p class="aruaru_tally_count_4">{{ comment.message|raw|nl2br }}</p>
								{% endif %}
							{% else %}
							<p>{{ comment.message|raw|nl2br }}</p>
							{% endif %}
						</div>
						<div class="btn_area cf m_b_20">
							<ul class="btn_wrap specific">
								<li> <a href="#" class="btn_style btn_red react_btn" data-react="yes" data-cid="{{ comment.id }}" data-pid="{{ post.id }}"><img src="/pc/image/btn/agree_btn.png"></a>
									<p class="count yes">{{ comment.like_count }}</p>
								</li>
								<li> <a href="#" class="btn_style btn_orange react_btn" data-react="no" data-cid="{{ comment.id }}" data-pid="{{ post.id }}"><img src="/pc/image/btn/not_agree_btn.png"></a>
									<p class="count no">{{ comment.dislike_count }}</p>
								</li>
							</ul>
							<ul class="btn_wrap specific social">
								<li>
									<a href="https://twitter.com/share?text={{ post.title }} {{twitter_share_url}}%23reaction_comment_{{ comment.id }} {{ comment.truncated_message }}&url={{twitter_share_url}}%23reaction_comment_{{ comment.id }} {{ comment.truncated_message }}" target="_blank" class="btn_sns tweet"><img src="/pc/image/icon/icon_twitter_s.png"></a> 
                                </li>
							</ul>
						</div>

						{% for comment_reply in comment.reply %}
						<div class="history_comment">
							<dl class="theme_info cf">
								<dt>
									<p class="user_name history_area">{{ comment_reply['owner_nick_name'] }}</p>
								</dt>
								<dd>
									<ul>
										<li class="post_date">{{ comment_reply['time_ago'] }}</li>
									</ul>
								</dd>
							</dl>
							<p>{{ comment_reply['message']|nl2br }}</p>
						</div>
						{% endfor %}

						<p class="reply open_comment_reply"><a href="#">このコメントに返信する▼</a></p>
						<form action="" class="comment_form" style="display:none" data-pid="{{ comment.post_id }}" data-cid="{{ comment.id }}">
							<div class="comment_reply_input cf">
								<h3 class="content_ttl re_comment">このコメントに返信する<span class="comment_user_name">{{ user.nick_name }}</span></h3>
								<p class="error comment s_error" style="display:none;"></p>
								<textarea name="consult_comment" placeholder="返信内容を入力してください" maxlength="300"></textarea>
								<p class="input_desc">※全角300文字以内</p>
								<ul class="btn_wrap re_send">
									<li class="send_btn">
										<button type="submit" class="btn_style btn_green_no_b">送信する</button>
									</li>
								</ul>
							</div>
						</form>

						<div class="guideline reply"  style="display:none">
							<ul>
								<li>※コメントする方は自らの責任を自覚した上で利用してください</li>
								<li>※コメントした内容によって起きた問題は運営は一切責任を持ちません</li>
								<li>※投稿時の注意事項は<a rel="leanModal" href="#guideline">コチラ</a>から確認できます</li>
							</ul>
						</div>
					</div>
				</div>
				{% endfor %}

				<div id="guideline">
					<p class="sentence">※投稿をすることによって自身や第三者へ不利益が発生し損害が発生した場合は書き込みを行った本人が責任を負うものとし、当社は一切の責任を放棄いたします。</p>
					<p class="modal_close"><i class="fa fa-times-circle-o"></i></p>
					<dl>
						<dt>【注意事項】</dt>
						<dd>・自分以外の第三者の不利益となる書き込み</dd>
						<dd>・目的のあるなし関わらず、当社以外のサービスを宣伝目的とした投稿</dd>
						<dd>・出会いと目的とした書き込み</dd>
						<dd>・18歳未満が書き込む行為</dd>
						<dd>・無意味な文字列を書き込む行為</dd>
						<dd>・犯罪を助長する行為</dd>
						<dd>・自殺をほのめかしたり助長する行為</dd>
					</dl>
				</div>


			</section>

<!--			<div class="addline"></div>  -->





			{% if comments|length == 10 %}
			{% endif %}
				<div class="more_comment" data-pid="{{ post.id }}" style="display:none;">
					<ul class="btn_wrap">
						<li><a href="#" class="btn_other">もっと見る</a></li>
					</ul>
				</div>

			<section class="sec sec_consult_answer">

			<div class="guideline">
				<ul>
					<li>※投稿時の注意事項は<a rel="leanModal" href="#guideline">コチラ</a>から確認できます</li>
				</ul>
			</div>

			<form id="reaction_confirm_form" method="post" class="comment_form_send" data-pid="{{ post.id }}" enctype="multipart/form-data">
				<div id="reaction_confirm" class="comment_reply_input cf"  style="display:none">
					<h3 class="content_ttl">入力内容の確認<span class="comment_user_name">{{ user.nick_name }}</span></h3>
					<p class="reaction_comment_error"></p>
					<div class="comment_area">
						<div class="content_inner">

							<style>
							.image_change_btn a{
							display: inline-block;
							}
							</style>
							<dl class="theme_info cf">
								<dt>
									<p class="user_name">{{ values.user_nickname }}</p>
								</dt>
							</dl>
							<script>
								var img_select_array = [];
							</script>
							<div class="consult_comment">
								<p id="ap_image" class=""><img id="up_image" src="" ></p>
								<p id="ap_message" class="aruaru_tally_count_4"></p>
								<input type="hidden" name="message_all" value="">
								<input type="hidden" name="bl_max" value="">
								<input type="hidden" name="pid" value="">
								<input type="hidden" name="upload_image_file" value="">
							</div>
							<script>
							</script>
						</div>
					</div>
					<ul class="btn_wrap send">
						<li> <a href="#" id="form_back" class="btn_style btn_other">戻る</a> </li>
						<li class="send_btn">
							<button id="btn" class="submit_comment btn_style btn_green_no_b" type="submit">投稿する</button>
						</li>
					</ul>
				</div>
			</form>

			<form method="post" action="/reaction/ajaxCommentConfirm" class="comment_confirm_form" data-pid="{{ post.id }}" enctype="multipart/form-data">
<!--			<form action="post/ajaxAddComment" class="comment_form" data-pid="{{ post.id }}">  -->
				<div class="comment_reply_input cf" id="reaction_input_form">
					<h3 class="content_ttl">このお題にコメントする<span class="comment_user_name">{{ user.nick_name }}</span></h3>
					<p class="error consult s_error" style="display:none;">コメントを入力してください。</p>
					<form method="post" action="/reaction/ajaxCommentConfirm" class="comment_confirm_form" data-pid="{{ post.id }}" enctype="multipart/form-data">
					<textarea name="consult_message" placeholder="ログインしなくても書き込みできるよ！&#13;&#10;URLを入れると引用ができるよ！"  maxlength="300" required></textarea>
					<p class="input_desc">※全角300文字以内<br><span>画像アップロード</span>
					<input id="upload_img" type="file" value="" name="userfile"></p>
					<input id="image_file_name" type="hidden" value="" name="image_file_name">
					<ul class="btn_wrap send">
						<li class="send_btn">
							<button id="" type="submit" class="submit_comment btn_style btn_green_no_b">確認する</button>
						</li>
					</ul>
				</div>
			</form>
			<input type="hidden" id="image_temp" value="" />

			</section>

		</div>
		{% include 'inc/sidebar.html' %}
	</div>
	{% include 'inc/footer.html' %}
</div>
{% include 'inc/script.html' %}
</body>
</html>