<div style="margin-top: 20px;">
<p id="bl{{ info_num }}_title" class="bl_title_all" >{{ info.title|raw }}</p>
<input type="hidden" name="bl_title[{{ info_num }}]" value="{{ info.title|raw }}">
<p id="bl{{ info_num }}_description" class="bl_description_all" >{{ info.description|raw }}</p>
<input type="hidden" name="bl_description[{{ info_num }}]" value="{{ info.description|raw }}">
<p><img id="bl{{ info_num }}" src="" alt=""></p>
<input type="hidden" name="bl[{{ info_num }}]" value="">
<input type="hidden" name="bl_source_url[{{ info_num }}]" value="{{ info.source_url }}">
<p class = "image_change_btn" style="border-bottom:1px dashed #aaa;">
	<a href="javascript:void(0)" id="bla{{ info_num }}_pre" class="void">前の画像</a>｜
	<a href="javascript:void(0)" id="bla{{ info_num }}_next" class="void">次の画像</a>｜
	<a href="javascript:void(0)" id="bla{{ info_num }}_none" class="void">画像なし</a>｜
	<a href="javascript:void(0)" id="bla{{ info_num }}_img_only" class="void">画像のみ</a>
</p>
</div>
<script class = "image_change_btn">
$(function(){
	img_select_array[{{ info_num }}] = 0;

	$bl{{ info_num }} = $('#bl{{ info_num }}');

	var img_url{{ info_num }} = [];

//	img_url{{ info_num }}[0] = "/pc/image/common/no_image.jpg";
	img_url{{ info_num }}[0] = "";

	{% for key2, ar2 in info.image_ar %}
		img_url{{ info_num }}[{{ key2+1 }}] = "{{ ar2|raw }}";
	{% endfor %}

	if(img_url{{ info_num }}[1]){
		$bl{{ info_num }}.attr('src',img_url{{ info_num }}[1]);
		$('input[name="bl[{{ info_num }}]"]').val(img_url{{ info_num }}[1]);
	}

	var num = 0;
	var num = {{ info.image_ar | length }};

    var select_num{{ info_num }}=1;
    var max{{ info_num }}=num;

	if (num < 2) {
		$('.image_change_btn').hide();
	}

	$('#bla{{ info_num }}_next').on('click', function(){
		if(select_num{{ info_num }}>=max{{ info_num }})return false;
		select_num{{ info_num }} = select_num{{ info_num }}+1;
		$bl{{ info_num }}.attr('src',img_url{{ info_num }}[select_num{{ info_num }}]);
		$('input[name="bl[{{ info_num }}]"]').val(img_url{{ info_num }}[select_num{{ info_num }}]);
		//$('#st2').html(select_num{{ key }});
		img_select_array[{{ info_num }}]=select_num{{ info_num }};
	});

	$('#bla{{ info_num }}_pre').on('click', function(){
		if(select_num{{ info_num }}==1)return false;
		select_num{{ info_num }}=select_num{{ info_num }}-1;
		$bl{{ info_num }}.attr('src',img_url{{ info_num }}[select_num{{ info_num }}]);
		$('input[name="bl[{{ info_num }}]"]').val(img_url{{ info_num }}[select_num{{ info_num }}]);
		//$('#st2').html(select_num2);
		img_select_array[{{ info_num }}]=select_num{{ info_num }};
	});

	$('#bla{{ info_num }}_none').on('click', function(){
		$img_sw = $('#bl{{ info_num }}').css("display");
		if($img_sw == 'none') {
			$('#bl{{ info_num }}').show();
			$('#bla{{ info_num }}_none').text('画像なし');
			$bl{{ info_num }}.attr('src',img_url{{ info_num }}[1]);
			$('input[name="bl[{{ info_num }}]"]').val(img_url{{ info_num }}[1]);
			img_select_array[{{ info_num }}]=1;
		} else {
			$('#bl{{ info_num }}').hide();
			$('#bla{{ info_num }}_none').text('画像あり');
			$bl{{ info_num }}.attr('src',img_url{{ info_num }}[0]);
			$('input[name="bl[{{ info_num }}]"]').val(img_url{{ info_num }}[0]);
			img_select_array[{{ info_num }}]=0;
		}

	});

	$('#bla{{ info_num }}_img_only').on('click', function(){
		$title_sw = $('#bl{{ info_num }}_title').css("display");
		if($title_sw == 'none') {
			var title = $('#bl{{ info_num }}_title').text();
			var description = $('#bl{{ info_num }}_description').text();
			$('#bl{{ info_num }}_title').show();
			$('#bl{{ info_num }}_description').show();
			$('input[name="bl_title[{{ info_num }}]"]').val(title);
			$('input[name="bl_description[{{ info_num }}]"]').val(description);
			$('#bla{{ info_num }}_img_only').text('画像のみ');
		} else {
			$('#bl{{ info_num }}_title').hide();
			$('#bl{{ info_num }}_description').hide();

			$('input[name="bl_title[{{ info_num }}]"]').val('');
			$('input[name="bl_description[{{ info_num }}]"]').val('');

			$('#bla{{ info_num }}_img_only').text('テキストあり');
		}
	});

});
</script>