<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>投稿完了</title>
{% include 'inc/link.html' %}
</head>
<body>
<div class="page_wrap page_theme_comp">
	{% include 'inc/header.html' with { 'is_visitor': is_visitor } %}
	<div class="content_wrap cf">
		<div class="content_inner">
			<section class="sec sec_theme_comp">
				<h2 class="sec_ttl">お題の投稿完了</h2>
				<h3 class="content_ttl">お題の投稿が完了しました</h3>
				<p class="sec_desc">書き込みは全て自己責任です。この掲示板に書き込んだことによってトラブルが生じても当社は一切の責任を負うことができません。<br>
					個人などの個人情報を書き込むことを禁止しております。<br>
					自殺をほのめかしたり誘致するようなコメントは禁止しております。<br>
					出会い目的、広告目的の書き込みを禁止しております。</p>
				<ul class="btn_wrap t_center m_b_20">
					<li> <a href="/my_page" class="btn_style btn_other">マイページへ</a></li>
					<li> <a href="/reaction/{{ pid }}" class="btn_style btn_green_no_b">投稿したお題へ</a></li>
				</ul>
			</section>
		</div>
	</div>
	{% include 'inc/footer.html' %}
</div>
{% include 'inc/script.html' %}
</body>
</html>
