<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>利用規約</title>
{% include 'inc/link.html' %}
</head>
<body>
<div class="page_wrap page_tos">
	{% include 'inc/header.html' %}
	<div class="content_wrap cf">
		<div class="content_inner basic_bg">
			<section class="sec sec_tos">
				<h2 class="sec_ttl">利用規約</h2>
				<h3 class="sec_desc">【制定日】</h3>
				<dl>
					<dt>2014年4月15日 制定 </dt>
					<dd>ジョイスペ事務局（以下「弊社」という）は、 joyspe （以下「本サービス」という）をご利用になる方（以下「利用者」という）のプライバシーを尊重し、利用者の大切な個人情報の保護に万全を尽くします。</dd>
				</dl>
				<dl>
					<dt>第1条（目的）</dt>
					<dd>｢joyspe｣会員利用規約（以下、本規約という）はジョイスペ事務局（以下、甲という）が運営する「joyspe」（以下当サイト）において応募者（以下、乙という）が、求職活動を行う際にトラブルや問題を事前に防止のための合意と理解を求めることを目的とする。</dd>
				</dl>
				<dl>
					<dt>第2条（入会）</dt>
					<dd>
						<ul>
							<li>当サイト入会希望者は本規約を承諾の上、当サイトの会員登録手続きに従い入会するものとします。</li>
							<li>当サイトは、会員登録の申し込みについて、本システム内の申込フォームに記入することにより、ユーザーID及びパスワードを発行し会員とします。</li>
							<li>当サイトは、必要に応じ本規約を変更することができるものとします。</li>
							<li>当サイトは、高校生、18歳未満の方（高校生年齢の18歳含む）の利用を禁止します。</li>
							<li>本規約は本登録後（身分確認後）より１ヶ月間とし以後は甲乙いずれかからの契約解除の申し出がない場合、自動的に更新するものとします。</li>
							<li>乙は甲に対し偽りなく生年月日・年齢・その他、登録に関する必要事項を申告しなければなりません。万一偽りがあった場合によって生じる条例及び法律的責任は全て乙に帰するものとし、甲は責任がないものとします。</li>
						</ul>
					</dd>
				</dl>
				<dl>
					<dt>第3条（変更事項） </dt>
					<dd>乙は、登録内容に変更が生じた場合は、当サイトの変更手続きに従い、当サイトに届けるものとする。</dd>
				</dl>
				<dl>
					<dt>第4条（資格消失）</dt>
					<dd>
						<ul>
							<li>本規約に反する行為があった場合。</li>
							<li>当サイトの会員登録内容に、虚偽等の不正があった場合。</li>
							<li>当サイトが会員として不適切と判断した場合。</li>
							<li>18歳未満（高校生年齢）の場合。</li>
						</ul>
					</dd>
				</dl>
				<dl>
					<dt>第5条（禁止事項）</dt>
					<dd>
						<ul>
							<li>当サイトの運営を妨げる行為、著者権等の利権を侵害する行為。</li>
							<li>当サイトのプライバシーの侵害や、不利益などの損害を与える行為。</li>
							<li>犯罪的行為もしくは犯罪的行為に結びつく行為、またそのおそれのある行為。</li>
							<li>アダルト的なものにあたる画像をアップロードする行為。</li>
							<li>ID及びパスワードを不正に使用する行為。</li>
							<li>公序良俗に反する行為やその恐れのある一切の行為。</li>
							<li>個人や団体など誹謗中傷する行為。</li>
							<li>意図的に虚偽の情報を登録または提供する行為。</li>
							<li>当サイトで得た情報を利用し営利を目的とした情報提供活動を行う行為。</li>
							<li>当サイトが不適切と判断する行為。</li>
							<li>自分以外の第三者の不利益となる書き込み</li>
							<li>目的のあるなし関わらず、当社以外のサービスを宣伝目的とした投稿</li>
							<li>出会いと目的とした書き込み</li>
							<li>18歳未満が書き込む行為</li>
							<li>無意味な文字列を書き込む行為</li>
							<li>犯罪を助長する行為</li>
							<li>自殺をほのめかしたり助長する行為</li>
						</ul>
					</dd>
					<dd class="m_t_15">※投稿をすることによって自身や第三者へ不利益が発生し損害が発生した場合は書き込みを行った本人が責任を負うものとし、当社は一切の責任を放棄いたします。</dd>
				</dl>
				<dl>
					<dt>第6条（ユーザーID及びパスワードの管理と責任）</dt>
					<dd>
						<ul>
							<li>乙は自己のユーザーID及びパスワードを第三者に貸与または譲渡し、使用させることはできません。</li>
							<li>乙は自己のユーザーID及びパスワードの管理、使用について一切の責任を負い、その使用に関する債務を支払うものとする。</li>
							<li>乙は自己のユーザーID及びパスワードの盗難や、第三者に使用されている事が判明した場合、直ちに当サイトに報告し、当サイトからの指示があればこれに従うものとする。</li>
							<li>乙は自らの責任に基づき当サービスを利用するものとし当サービスの利用に関する一切の責任を負うものとします。</li>
							<li>乙が自ら提供した情報はその内容について一切の責任を負うものとします。</li>
							<li>乙が当サイトに対して提供した情報内容に起因して求人掲載企業、その他の第三者との間で紛争等が生じた場合には乙自らの責任において解決し甲は何らの責任を負わず介入しない事とします。</li>
						</ul>
					</dd>
				</dl>
				<dl>
					<dt>第7条（サイト運用の保守、変更等）</dt>
					<dd>
						<ul>
							<li>乙は当サイトの保守、点検などのため、または緊急的なシステムメンテナンス、サーバー故障、災害時により、予告なくサービスの一時停止に利用できなくなる場合があってもこれを承諾するものとする。</li>
						</ul>
					</dd>
				</dl>
				<dl>
					<dt>第8条（免責条項）</dt>
					<dd>
						<ul>
							<li>当サイトは会員がアップロードしたデータ等を甲所定のフォーマットに交換することがあり、そのためデータ等に品質劣化が生じたとしても、その責任をおわないものとする。</li>
							<li>甲は、会員が本サービス用設備に蓄積したデータ等の消失、他社による改ざんに関し、いかなる責任もおわないものとする。</li>
							<li>甲は、当サイトURLが会員の意図しない第三者に渡り、データ等が会員の意図しない第三者に利用される事態が生じた場合でも、その責を追わないものとする。</li>
							<li>甲は、本サービスの利用により発生した会員の損害（第三者との間で生じたトラブルに起因する損害を含む）及び当サービスを利用できなかったことにより発生した会員または他社の損害に関し、いかなる責任も負わないものとする。</li>
						</ul>
					</dd>
				</dl>
				<dl>
					<dt>第9条（プライバシー）</dt>
					<dd>当サイトが収集し管理する会員の個人情報は原則として開示しません。ただし、法律等によって要求された場合や甲の利権・財産を保護する目的などにおいては開示する場合があります。</dd>
				</dl>
				<dl>
					<dt>第10条（お祝い金の支払）</dt>
					<dd>
						<ul>
							<li>振込手数料については１回につき、事務手数料を含む一律540円を乙が負担するものとします。尚、精算時に口座情報に不備、誤りがあった場合は　事務手数料1,744円を差 し引いた金額を再度、振込するものとします。</li>
							<li>登録時に本人確認とし身分証明書の提出があります。身分証明書と認められるものは、顔写真つきもの（免許証、パスポート、住民基本台帳カード（住基ネット）、学生証、社員証）身分証明書の確認ができなかった場合、支払は行えないものとします。</li>
							<li>お祝い金は、応募した求人掲載企業が指定した条件を達成したのちに当サイトの「お祝い金申請」を行った時点でお祝い金の権利を得るものとします。</li>
							<li>お祝い金は、応募した求人掲載企業からの採用金の支払が発生した後に支払うものとします。万が一、採用金の支払が行われない場合、甲だけでは対応できない場合には、乙は甲が行う対応に協力するものとします。</li>
							<li>お祝い金は、スカウトメール受信時、応募時のお祝い金が支払対象となります。応募求人掲載企業がスカウトメール受信時、応募時からお祝い金を変更したとしても、スカウトメール受信時、応募時のお祝い金が支払対象となります。</li>
							<li>甲が、応募求人掲載企業から採用金を徴収不能になった場合、又は徴収不能と判断した場合は、甲が乙への支払を応募求人掲載企業からの徴収が完了するまで停止する事ができるものとします。</li>
							<li>乙が本規約に違反した場合のお祝い金は、乙に対し一切支払わない。又、本規約違反に抵触している恐れがある場合も審議完了までお祝い金の支払い、会員の権利を一時保留とします。</li>
						</ul>
					</dd>
				</dl>
				<dl>
					<dt>第11条（サービスの変更）</dt>
					<dd>甲は当サイトの運営を良好に保つ為に乙への事前の通知なくサービスを変更または一時的な中断をする事があり乙はそれに対して異議を申し立てないものとします。</dd>
				</dl>
				<dl>
					<dt>第12条（利用規約の変更）</dt>
					<dd>甲は本規約を随時変更する事が出来るものとします。変更の内容については当ページへの変更をもって公表とします。</dd>
				</dl>
				<dl>
					<dt>第13条（著作権）</dt>
					<dd>
						<ul>
							<li>当サイトに含まれるトレードマーク、キャラクター、文章、図表、画像、写真、営業秘密、プログラム、コンテンツ等の商標・特許・著作権・ノウハウ及び他の如何なる知的財産権に基づく権利（以下、「知的財産権等」）は、甲または甲にその利用を許諾した権利者に帰属しています。</li>
							<li>当サイトは乙が提供した著作物、その他の情報（文字、画像、音声、及びこれらの結合物を含む）全てを自由に変更、複製し当サイトの編集等に二次利用出来るものとします。乙が提供した著作物に関する著作権は当サイトの所有保有するものとします。</li>
							<li>第5条第1項に掲げる行為を行った場合、法的に罰せられるほか損害賠償を請求する事があります。</li>
						</ul>
					</dd>
				</dl>
				<dl>
					<dt>第14条（賠償）</dt>
					<dd>乙は本規約の各号に違反した事により、その他乙の行為により甲が被った被害を賠償する責任がある事とします。</dd>
				</dl>
				<dl>
					<dt>第15条（雇用）</dt>
					<dd>甲と乙は雇用関係でない事を確認する。</dd>
				</dl>
				<dl>
					<dt>第16条（譲渡）</dt>
					<dd>本規約にもとづく、地位及び権利は譲渡できないものとします。</dd>
				</dl>
				<dl>
					<dt>第17条（紛争）</dt>
					<dd>本規約に関し、甲乙間に紛争が生じた場合は東京地方裁判所を管轄裁判所とすることを甲、乙は同意するものとします。</dd>
				</dl>
				<dl>
					<dt>第18条（協議）</dt>
					<dd>本規約に定めない事項については、必要に応じて甲乙協議の上定めることとします。</dd>
				</dl>
				<dl>
					<dt>第19条（裁判所）</dt>
					<dd>本利用規約の準拠法は、日本法とします。 甲と乙の間で訴訟の必要が生じた場合、東京地方裁判所を第一審の専属的合意管轄裁判所とします。 </dd>
				</dl>
			</section>
		</div>
	</div>
	{% include 'inc/footer.html' %}
</div>
{% include 'inc/script.html' %}
</body>
</html>
